<div class="admin_wrap">
<!-- admin Menu -->
<div ng-include="admin_nav_uri" class="admin_menu"></div>
<!-- //admin Menu -->
<!-- admin Content -->
<div class="admin_content">
    <div class="sub_title" translate="content.admin.CreateInstall"></div>

    <div class="install_create_content_area">
        <p class="clearfix visible-xs-block"></p>

        <div class="left_area">
            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="key" translate="content.admin.{{install_info.key.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.key.txt" id="key" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="site" translate="content.admin.{{install_info.site.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.site.txt" id="site" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="location" translate="content.admin.{{install_info.location.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.location.txt" id="location" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="shop" translate="content.admin.{{install_info.shop.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.shop.txt" id="shop" />
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>

        <div class="mid_area">
            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_model" translate="content.admin.{{install_info.mp_model.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_model.txt" id="mp_model" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_serial" translate="content.admin.{{install_info.mp_sn.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_sn.txt" id="mp_serial" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_firmware_ver" translate="content.admin.{{install_info.mp_fw_ver.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_fw_ver.txt" id="mp_firmware_ver" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_alias" translate="content.admin.{{install_info.mp_alias.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_alias.txt" id="mp_alias" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_act_date" translate="content.admin.{{install_info.mp_act_date.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_act_date.txt" id="mp_act_date" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="mp_exp_date" translate="content.admin.{{install_info.mp_exp_date.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.mp_exp_date.txt" id="mp_exp_date" />
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>

        <div class="right_area">
            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_alias" translate="content.admin.{{install_info.dp_alias.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_alias.txt" id="dp_alias" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_act_date" translate="content.admin.{{install_info.dp_act_date.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_act_date.txt" id="dp_act_date" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_exp_date" translate="content.admin.{{install_info.dp_exp_date.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_exp_date.txt" id="dp_exp_date" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_method" translate="content.admin.{{install_info.dp_method.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_method.txt" id="dp_method" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_connect" translate="content.admin.{{install_info.dp_conn.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_conn.txt" id="dp_connect" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="dp_set_id" translate="content.admin.{{install_info.dp_set_id.name}}"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-model="install_info.dp_set_id.txt" id="dp_set_id" />
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>

        <p class="clearfix visible-xs-block"></p>
    </div>
    <div class="btn_area">
        <a class="btn btn-primary btn-sm install_create_btn" href="" ng-click="createInstall()" translate="content.admin.Submit"></a>
    </div>
</div>
<!-- //admin Content -->
</div>
