<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.Install Information"></div>
        <div class="install_info_content_area">
            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">
                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.key.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.key" onbeforesave="updateInstallData(install_info.key.field, $data, install_change_info.rkey)">
                        {{install_change_info.key || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.site.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.site" onbeforesave="updateInstallData(install_info.site.field, $data, install_change_info.rkey)">
                        {{install_change_info.site || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.location.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.location" onbeforesave="updateInstallData(install_info.location.field, $data, install_change_info.rkey)">
                        {{install_change_info.location || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.shop.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.shop" onbeforesave="updateInstallData(install_info.shop.field, $data, install_change_info.rkey)">
                        {{install_change_info.shop || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>

            <div class="mid_area">
                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_model.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_model" onbeforesave="updateInstallData(install_info.mp_model.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_model || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_sn.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_sn" onbeforesave="updateInstallData(install_info.mp_sn.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_sn || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_fw_ver.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_fw_ver" onbeforesave="updateInstallData(install_info.mp_fw_ver.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_fw_ver || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_alias.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_alias" onbeforesave="updateInstallData(install_info.mp_alias.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_alias || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_act_date.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_act_date" onbeforesave="updateInstallData(install_info.mp_act_date.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_act_date || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.mp_exp_date.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.mp_exp_date" onbeforesave="updateInstallData(install_info.mp_exp_date.field, $data, install_change_info.rkey)">
                        {{install_change_info.mp_exp_date || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>

            <div class="right_area">
                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_alias.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_alias" onbeforesave="updateInstallData(install_info.dp_alias.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_alias || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_act_date.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_act_date" onbeforesave="updateInstallData(install_info.dp_act_date.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_act_date || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_exp_date.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_exp_date" onbeforesave="updateInstallData(install_info.dp_exp_date.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_exp_date || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_method.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_method" onbeforesave="updateInstallData(install_info.dp_method.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_method || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_conn.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_conn" onbeforesave="updateInstallData(install_info.dp_conn.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_conn || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.{{install_info.dp_set_id.name}}"></label>
                </div>
                <div class="input_value item-wrapper">
                    <a href="" editable-text="install_change_info.dp_set_id" onbeforesave="updateInstallData(install_info.dp_set_id.field, $data, install_change_info.rkey)">
                        {{install_change_info.dp_set_id || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>
    </div>
</div>
