<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title">
            Create Device
        </div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info">To create a new Device, please enter requested information one by one.</span>
                </p>
            </div>
        </div>
        <div class="device_create_content_area">
            <p class="clearfix visible-xs-block"></p>
            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="alias">
                        {{device_info.alias.label}}
                    </label>
                </div>
                <div class="input_value">
                    <input id="alias" ng-model="device_info.alias.txt" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="site">
                        {{device_info.site.label}}
                    </label>
                </div>
                <div class="input_value">
                    <input id="site" ng-model="device_info.site.txt" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="shop">
                        {{device_info.shop.label}}
                    </label>
                </div>
                <div class="input_value">
                    <input id="shop" ng-model="device_info.shop.txt" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="serial">
                        {{device_info.serial.label}}
                    </label>
                </div>
                <div class="input_value">
                    <input id="serial" ng-model="device_info.serial.txt" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="location">
                        {{device_info.location.label}}
                    </label>
                </div>
                <div class="input_value">
                    <input id="location" ng-model="device_info.location.txt" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <a href="" class="btn btn-primary btn-sm device_create_btn" ng-click="createDevice()">Submit</a>
        </div>
    </div>
</div>