<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.ManagerInformation"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide1"></span>
                </p>
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide2"></span>
                </p>
                <p ng-show="password_toManager.type1.status < 3">
                    <span class="brand-{{password_toManager.type1.check_flag}}"><i class="fa fa-{{password_toManager.type1.check_icon}}"></i> <span translate="content.admin.msg.{{password_toManager.type1.check_msg}}"></span></span>
                </p>
                <p ng-show="password_toManager.type2.status < 3">
                    <span class="brand-{{password_toManager.type2.check_flag}}"><i class="fa fa-{{password_toManager.type2.check_icon}}"></i> <span translate="content.admin.msg.{{password_toManager.type2.check_msg}}"></span></span>
                </p>
            </div>
        </div>
        <!-- Manager Info -->
        <div class="manager_info_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.ID"></label>
                </div>
                <div class="item-wrapper input_value">
                    {{manager_info_byAdmin.userID || 'No Auth'}}
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="password" translate="content.admin.Password"></label>
                </div>

                <div class="input_value">
                    <input class="password" ng-class="{'success' : password_toManager.type1.status==0, 'warning' : password_toManager.type1.status==1, 'danger' : password_toManager.type1.status==2}" type="password" id="password" ng-if="show_flag_toManager" ng-model="password_toManager.type1.txt" ng-change="checkPassword_toManager(password_toManager.type1.txt, null)" />
                    <a href="" class="btn btn-xs btn-primary" ng-if="!show_flag_toManager" ng-click="editPassword_toManager()" translate="content.admin.Edit"></a>
                    <a href="" class="btn btn-xs btn-danger" ng-if="show_flag_toManager" ng-disabled="password_toManager.type1.status != 0 || password_toManager.type2.status != 0" ng-click="updateUserByDB_toManager('userPW', password_toManager.type1.txt, manager_info_byAdmin.key)" translate="content.admin.Save"></a>
                </div>

                <span ng-if="show_flag_toManager">
                    <p class="clearfix visible-xs-block"></p>

                    <div class="input_label">
                        <label for="re_password" translate="content.admin.RetypePassword"></label>
                    </div>
                    <div class="input_value">
                        <input class="password" ng-class="{'success' : password_toManager.type2.status==0, 'warning' : password_toManager.type2.status==1, 'danger' : password_toManager.type2.status==2}" type="password" id="re_password" ng-model="password_toManager.type2.txt" ng-change="checkPassword_toManager(null, password_toManager.type2.txt)" />
                        <a href="" class="btn btn-xs btn-default" ng-if="show_flag_toManager" ng-click="cancelEditPassword_toManager()" translate="content.admin.Cancel"></a>
                    </div>
                </span>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Cellphone"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="manager_info_byAdmin.phone"
                       onbeforesave="updateUserByDB_toManager('phone', $data, manager_info_byAdmin.key)">
                        {{manager_info_byAdmin.phone || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.2-Step"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href="" class="btn btn-xs btn-primary" ng-click="otp_reset('MANAGER', manager_info_byAdmin.key)">Reset</a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Name"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="manager_info_byAdmin.userName"
                       onbeforesave="updateUserByDB_toManager('userName', $data, manager_info_byAdmin.key)">
                        {{manager_info_byAdmin.userName || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.E-Mail"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="manager_info_byAdmin.email"
                       onbeforesave="updateUserByDB_toManager('email', $data, manager_info_byAdmin.key)">
                        {{manager_info_byAdmin.email || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.CompanyKey"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="manager_info_byAdmin.comp_key"
                       onbeforesave="updateUserByDB_toManager('comp_key', $data, manager_info_byAdmin.key)">
                        {{manager_info_byAdmin.comp_key || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <!-- //Manager Info -->
        <!-- Manager Setting -->
        <div class="manager_setting_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.DateFormat"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-select="manager_info_byAdmin.date_format"
                       e-ng-options="s.value as s.text for s in {{setting.date_fmt.statuses}}"
                       onbeforesave="updateUserByDB_toManager('date_format', $data, manager_info_byAdmin.key)">
                        {{showDateFormatStatus(manager_info_byAdmin.date_format)}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.RefreshTime"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="manager_info_byAdmin.refresh_time"
                       onbeforesave="updateUserByDB_toManager('refresh_time', $data, manager_info_byAdmin.key)">
                        {{manager_info_byAdmin.refresh_time || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.TimeZone"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-select="manager_info_byAdmin.time_zone"
                       e-ng-options="s.value as s.text for s in {{setting.time_zone.statuses}}"
                       onbeforesave="updateUserByDB_toManager('time_zone', $data, manager_info_byAdmin.key)">
                        {{showTimeZoneStatus(manager_info_byAdmin.time_zone)}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <!-- //Manager Setting -->
        <p class="clearfix visible-xs-block"></p>
    </div>
    <!-- //admin Content -->
</div>
