<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.AccessHistory"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide2"></span>
                </p>
            </div>
        </div>

        <div class="access_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table ng-table="accessHistoryTableParams" class="sub_content_table access_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="header in access_history_table_headers" class="{{header.class_name}}"
                            ng-class="{'sortable': header.sortable}"
                            ng-click="header.sortable? accessHistoryTableParams.sorting(header.field, accessHistoryTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):''">
                            <div translate="content.admin.{{header.name}}">
                                <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': accessHistoryTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': accessHistoryTableParams.isSortBy(header.field, 'desc')}"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="access in $data">
                        <td class="no">
                            {{(accessHistoryTableParams.page()-1)*20 + $index+1}}
                        </td>
                        <td class="id">
                            {{access.userID}}
                        </td>
                        <td class="ip_addr">
                            {{access.ip_addr}}
                        </td>
                        <td class="os_ver">
                            {{access.os_ver}}
                        </td>
                        <td class="browser_ver">
                            {{access.browser_ver}}
                        </td>
                        <td class="update_time">
                            {{access.update_time | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
                        </td>
                        <td class="type">
                            {{showLoginType(access.type)}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="clearfix visible-xs-block"></p>
        </div>
    </div>
    <!-- //admin Content -->
</div>
