<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.GroupList"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide3"></span>
                </p>
            </div>
        </div>
        <div class="group_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table class="sub_content_table group_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="header in group_table_headers" class="{{header.class_name}}" translate="content.admin.{{header.name}}"></th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-repeat="dp in device_group_info">
                    <td class="group">
                        <a href="./#/admin/group/info?device-group={{dp.key}}">{{dp.group}}</a>
                    </td>
                    <!--td class="shop">
                        <div ng-repeat="shop in dp.shops">
                            {{shop.name}}
                        </div>
                    </td>
                    <td class="user">
                        <div ng-repeat="user in dp.users">
                            {{user.name}}
                        </div>
                    </td-->
                    <td class="delete">
                        <a href="" class="brand-danger" ng-click="openDeleteDialog('DG', dp.key)">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <a class="btn btn-primary btn-sm install_create_btn" href="./#/admin/group/create" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
