<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.User Group List"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide3"></span>
                </p>
            </div>
        </div>
        <p class="clearfix visible-xs-block"></p>

        <div class="group_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table class="sub_content_table group_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="header in user_group_table_headers" class="{{header.class_name}}" translate="content.admin.{{header.name}}"></th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-repeat="ug in user_group_info" ng-if="ug.name">
                    <td class="group">
                        <a href="./#/admin/user-group/info?user-group={{ug.key}}">
                            {{ug.name || 'empty'}}
                        </a>
                    </td>
                    <td class="delete">
                        <a href="" class="brand-danger" ng-click="openDeleteDialog('UG', ug.key)">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <a class="btn btn-primary btn-sm install_create_btn" href="./#/admin/user-group/create" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
