<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.User Group Create"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide6"></span>
                </p>
                <p ng-show="user_group_Name.name.status < 3">
                    <span class="brand-{{user_group_Name.name.check_flag}}"><i class="fa fa-{{user_group_Name.name.check_icon}}"></i> <span translate="content.admin.msg.{{user_group_Name.name.check_msg}}"></span></span>
                </p>
            </div>
        </div>
        <div class="group_create_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="user_group_name" translate="content.admin.Group Name"></label>
                </div>
                <div class="input_value">
                    <!--input id="user_group_name" ng-model="user_group_info.name.txt" type="text" /-->
                    <input id="user_group_name" ng-model="user_group_Name.name.text" ng-class="{'success' : user_group_Name.name.text.status==0, 'warning' : user_group_Name.name.text.status==1, 'danger' : user_group_Name.name.text.status==2}" ng-change="checkUserGroupName(user_group_Name.name.text)" type="text" />
                </div>
                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Group Authorizations"></label>
                </div>
                <div class="input_value item-wrapper user_group_auth">
                    <a href="#" editable-checklist="user_group_auth.status" e-ng-options="s.value as s.text for s in user_group_auth.statuses">
                        {{ setGroupAuth() }}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <a class="btn btn-primary user_create_btn btn-sm" href="" ng-disabled="user_group_Name.name.check_flag != 'success'" ng-click="createUserGroup()" translate="content.admin.Submit"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
