<div class="admin_wrap">
<!-- admin Menu -->
<div ng-include="admin_nav_uri" class="admin_menu"></div>
<!-- //admin Menu -->
<!-- admin Content -->
<div class="admin_content">
    <div class="sub_title" translate="content.admin.GroupInformation"></div>
    <div class="group_info_content_area">
        <div class="group_info_area">
            <table class="group_info_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in group_info_table_headers" class="{{head.class_name}}" translate="content.admin.{{head.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-wrapper name">
                            <a href="" editable-text="device_group_byManager.name" onbeforesave="updateDeviceGroupByDB('name', $data, device_group_byManager.key)">
                                {{device_group_byManager.name || 'empty'}}
                            </a>
                        </td>
                        <td class="item-wrapper email">
                            <a href="" editable-text="device_group_byManager.email" onbeforesave="updateDeviceGroupByDB('email', $data, device_group_byManager.key)">
                                {{device_group_byManager.email || 'empty'}}
                            </a>
                        </td>
                        <td class="item-wrapper phone">
                            <a href="" editable-text="device_group_byManager.phone" onbeforesave="updateDeviceGroupByDB('phone', $data, device_group_byManager.key)">
                                {{device_group_byManager.phone || 'empty'}}
                            </a>
                        </td>
                        <td class="polling_time">
                            <a href="" text="device_group_byManager.polling_time" onbeforesave="updateDeviceGroupByDB('polling_time', $data, device_group_byManager.key)">
                                30 sec.
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="threshold_area">
            <div class="sub_title" translate="content.admin.Threshold"></div>
            <p class="clearfix visible-xs-block"></p>

            <table>
                <thead>
                    <tr>
                        <th class="th_item" translate="content.admin.ITEM"></th>
                        <th class="th_warning">
                            <span class="label label-warning" translate="content.admin.Warning"></span>
                        </th>
                        <th class="th_error">
                            <span class="label label-danger" translate="content.admin.Error"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_item" translate="content.admin.CPU Usage"></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.cpu_usage_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_cpu_usage_warning', $data, device_group_byManager.cpu_usage_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.cpu_usage_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.cpu_usage_error" onbeforesave="updateDeviceGroupThresholdByDB('th_cpu_usage_error', device_group_byManager.cpu_usage_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.cpu_usage_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Memory Usage"></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.mem_usage_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_mem_usage_warning', $data, device_group_byManager.mem_usage_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.mem_usage_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.mem_usage_error" onbeforesave="updateDeviceGroupThresholdByDB('th_mem_usage_error', device_group_byManager.mem_usage_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.mem_usage_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Disk Usage"></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.hdd_usage_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_hdd_usage_warning', $data, device_group_byManager.hdd_usage_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.hdd_usage_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.hdd_usage_error" onbeforesave="updateDeviceGroupThresholdByDB('th_hdd_usage_error', device_group_byManager.hdd_usage_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.hdd_usage_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.CPU Temp."></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.cpu_temp_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_cpu_temp_warning', $data, device_group_byManager.cpu_temp_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.cpu_temp_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.cpu_temp_error" onbeforesave="updateDeviceGroupThresholdByDB('th_cpu_temp_error', device_group_byManager.cpu_temp_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.cpu_temp_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Disk Temp."></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.hdd_temp_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_hdd_temp_warning', $data, device_group_byManager.hdd_temp_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.hdd_temp_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.hdd_temp_error" onbeforesave="updateDeviceGroupThresholdByDB('th_hdd_temp_error', device_group_byManager.hdd_temp_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.hdd_temp_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Fan Speed"></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.fan_speed_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_fan_speed_warning', $data, device_group_byManager.fan_speed_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.fan_speed_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.fan_speed_error" onbeforesave="updateDeviceGroupThresholdByDB('th_fan_speed_error', device_group_byManager.fan_speed_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.fan_speed_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Response Time"></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.res_time_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_res_time_warning', $data, device_group_byManager.res_time_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.res_time_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.res_time_error" onbeforesave="updateDeviceGroupThresholdByDB('th_res_time_error', device_group_byManager.res_time_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.res_time_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="th_item" translate="content.admin.Display Temp."></td>
                        <td class="th_warning">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.dp_temp_warning" onbeforesave="updateDeviceGroupThresholdByDB('th_dp_temp_warning', $data, device_group_byManager.dp_temp_error, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.dp_temp_warning)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_error">
                            <div class="item-wrapper input_value">
                                <a href="" editable-text="device_group_byManager.dp_temp_error" onbeforesave="updateDeviceGroupThresholdByDB('th_dp_temp_error', device_group_byManager.dp_temp_warning, $data, device_group_byManager.key)">
                                    {{showThreshold(device_group_byManager.dp_temp_error)}}
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix visible-xs-block"></p>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="tv_control_area">
            <div class="sub_title" translate="content.admin.Power Control"></div>
            <p class="clearfix visible-xs-block"></p>
            <div class="timeZone_area">
                <div class="timeZone_area_title">
                    <span translate="content.admin.TimeZoneSetting"></span>
                </div>
                <div class="timeZone_area_content item-wrapper">
                    <a href=""
                       editable-select="device_group_byManager.time_zone"
                       e-ng-options="s.value as s.text for s in setting.time_zone.statuses"
                       onbeforesave="updateDeviceGroupByDB('time_zone', $data, device_group_byManager.key)">
                        {{showTimeZoneStatus(device_group_byManager.time_zone)}}
                    </a>
                </div>
            </div>
            <div class="check_area item-wrapper">
                <div class="check_area_title">
                    <span translate="content.admin.GroupSettingFirst"></span>
                </div>
                <div class="check_area_content">
                    <a href="#"
                       editable-select="device_group_byManager.group_timer_flag"
                       e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                       onbeforesave="updateDeviceGroupByDB('group_timer_flag', $data, device_group_byManager.key)">
                        {{showActiveStatus(device_group_byManager.group_timer_flag)}}
                    </a>
                </div>
            </div>
            <p class="clearfix visible-xs-block"></p>
            <table>
                <thead>
                <tr>
                    <th translate="content.admin.Day"></th>
                    <th translate="content.admin.Start Time"></th>
                    <th translate="content.admin.End Time"></th>
                    <th class="tv" translate="content.admin.Power Setting"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td translate="content.admin.Saturday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_sat" onbeforesave="updateDeviceGroupByDB('timer_begin_sat', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_sat | time:"hh:mm" || 'empty' }}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_sat" onbeforesave="updateDeviceGroupByDB('timer_end_sat', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_sat | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_sat"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_sat', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_sat)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Sunday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_sun" onbeforesave="updateDeviceGroupByDB('timer_begin_sun', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_sun | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_sun" onbeforesave="updateDeviceGroupByDB('timer_end_sun', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_sun | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_sun"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_sun', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_sun)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Monday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_mon" onbeforesave="updateDeviceGroupByDB('timer_begin_mon', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_mon | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_mon" onbeforesave="updateDeviceGroupByDB('timer_end_mon', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_mon | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_mon"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_mon', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_mon)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Tuesday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_tue" onbeforesave="updateDeviceGroupByDB('timer_begin_tue', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_tue | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_tue" onbeforesave="updateDeviceGroupByDB('timer_end_tue', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_tue | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_tue"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_tue', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_tue)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Wednesday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_wed" onbeforesave="updateDeviceGroupByDB('timer_begin_wed', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_wed | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_wed" onbeforesave="updateDeviceGroupByDB('timer_end_wed', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_wed | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_wed"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_wed', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_wed)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Thursday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_thu" onbeforesave="updateDeviceGroupByDB('timer_begin_thu', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_thu | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_thu" onbeforesave="updateDeviceGroupByDB('timer_end_thu', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_thu | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_thu"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_thu', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_thu)}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="content.admin.Friday"></td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_begin_fri" onbeforesave="updateDeviceGroupByDB('timer_begin_fri', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_begin_fri | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="input_value item-wrapper">
                            <a href="" editable-time="device_group_byManager.timer_end_fri" onbeforesave="updateDeviceGroupByDB('timer_end_fri', $data, device_group_byManager.key)">
                                {{device_group_byManager.timer_end_fri | time:"hh:mm" || 'empty'}}
                            </a>
                        </div>
                    </td>
                    <td class="tv">
                        <div class="input_value power_check_area item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager.timer_onoff_fri"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB_specificTV_control('timer_onoff_fri', $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager.timer_onoff_fri)}}
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="clearfix visible-xs-block"></p>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="alarm_setting">
            <div class="sub_title" translate="content.admin.Alarm Setting"></div>

            <div class="method_area">
                <div class="method_set item-wrapper">
                    <div class="method_title">
                        <span translate="content.admin.Method"></span>
                    </div>
                    <div class="method_content">
                        <a href="#"
                           editable-select="device_group_byManager.send_method"
                           e-ng-options="s.value as s.text for s in {{setting.method_case.statuses}}"
                           onbeforesave="updateDeviceGroupByDB('send_method', $data, device_group_byManager.key)">
                            {{showIntMethodStatus(device_group_byManager.send_method)}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="check_area">
                <div class="first_check_area item-wrapper">
                    <div class="check_area_title">
                        <span translate="content.admin.SendSMS"></span>
                    </div>
                    <div class="check_area_content">
                        <a href="#"
                           editable-select="device_group_byManager.ic_send_phone"
                           e-ng-options="s.value as s.text for s in {{setting.int_active.statuses}}"
                           onbeforesave="updateDeviceGroupByDB('ic_send_phone', $data, device_group_byManager.key)">
                            {{showIntActiveStatus(device_group_byManager.ic_send_phone)}}
                        </a>
                    </div>
                </div>
                <div class="second_check_area item-wrapper">
                    <div class="check_area_title">
                        <span translate="content.admin.SendE-Mail"></span>
                    </div>
                    <div class="check_area_content">
                        <a href="#"
                           editable-select="device_group_byManager.ic_send_email"
                           e-ng-options="s.value as s.text for s in {{setting.int_active.statuses}}"
                           onbeforesave="updateDeviceGroupByDB('ic_send_email', $data, device_group_byManager.key)">
                            {{showIntActiveStatus(device_group_byManager.ic_send_email)}}
                        </a>
                    </div>
                </div>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="alarm_test">
                <div class="alarm_left">
                    <div class="test_label">
                        <span translate="content.admin.E-Mail"></span>
                    </div>
                    <div class="test_value item-wrapper">
                        <a href="#"
                           editable-text="device_group_byManager.test_email"
                           onbeforesave="updateDeviceGroupByDB('test_email', $data, device_group_byManager.key)">
                            {{device_group_byManager.test_email || 'empty'}}
                        </a>
                    </div>
                    <div class="test_act">
                        <a href="" class="btn btn-xs btn-primary" ng-click="alarm_test('test_email', device_group_byManager.key)">Test</a>
                    </div>
                </div>
                <div class="alarm_right">
                    <div class="test_label">
                        <span translate="content.admin.Phone"> </span>
                    </div>
                    <div class="test_value_prefix item-wrapper">
                        <a href="#"
                           editable-text="device_group_byManager.test_country_code"
                           onbeforesave="updateDeviceGroupByDB('test_country_code', $data, device_group_byManager.key)">
                            {{device_group_byManager.test_country_code || 'empty'}}
                        </a>
                    </div>
                    <div class="test_value item-wrapper">
                        <a href="#"
                           editable-text="device_group_byManager.test_phone"
                           onbeforesave="updateDeviceGroupByDB('test_phone', $data, device_group_byManager.key)">
                            {{device_group_byManager.test_phone || 'empty'}}
                        </a>
                    </div>
                    <div class="test_act">
                        <a href="" class="btn btn-xs btn-primary" ng-click="alarm_test('test_phone', device_group_byManager.key)">Test</a>
                    </div>
                    <p class="clearfix"></p>
                    <div class="phone_guide">
                        <p class="brand-warning" ng-repeat="ment in phone_guide" translate="content.admin.{{ment}}"></p>
                    </div>
                </div>
                <p class="clearfix visible-xs-block"></p>
            </div>
            <p class="clearfix visible-xs-block"></p>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="prediction">
            <div class="sub_title" translate="content.admin.Fault Prediction"></div>
            <div class="check_area">
                <div class="add_rule">
                    <a href="" class="btn btn-primary btn-xs" ng-click="create_predict_open(device_group_byManager.key)">
                        <i class="fa fa-plus"></i> <span translate="content.admin.Create"></span>
                    </a>
                </div>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <table class="predict_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in predict_table_headers" class="{{head.class_name}}" translate="content.admin.{{head.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in predict_info">
                        <td class="category">
                            {{showPredictCategory(item.category_id)}}
                        </td>
                        <td class="code">
                            {{showPredictCode($index+1)}}
                        </td>
                        <td class="level">
                          LOW
                        </td>
                        <td class="ruleset">
                            {{item.ruleset || "Empty"}}
                        </td>
                        <td class="adjust">
                            <a href="" ng-click="change_predict_open(item.id, $index+1)">Tune</a>
                        </td>
                        <td class="act item-wrapper">
                            <a href="#"
                               editable-select="item.active"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updatePredictByDB('active', $data, item.id)">
                                {{showActiveStatus(item.active)}}
                            </a>
                        </td>
                        <td class="mail_act item-wrapper">
                          <a href="#"
                             editable-select="item.mail_active"
                             e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                             onbeforesave="updatePredictByDB('mail_active', $data, item.id)">
                            {{showActiveStatus(item.mail_active)}}
                          </a>
                        </td>
                        <td class="sms_act item-wrapper">
                          <a href="#"
                             editable-select="item.sms_active"
                             e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                             onbeforesave="updatePredictByDB('sms_active', $data, item.id)">
                            {{showActiveStatus(item.sms_active)}}
                          </a>
                        </td>
                        <td class="del">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('FaultPredict', item.id)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="incident_set_area">
            <div class="sub_title" translate="content.admin.Incident Setting"></div>

            <p class="clearfix visible-xs-block"></p>

            <table class="incident_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in incident_table_headers" class="{{head.class_name}}" translate="content.admin.{{head.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="frame in incident_table_frames" class="{{frame.line}}">
                        <td class="{{frame.category.class_name}}">
                            {{frame.category.name}}
                        </td>
                        <td class="{{frame.code.class_name}}">
                            {{frame.code.name}}
                        </td>
                        <td class="{{frame.code.class_name}}">
                          {{frame.severity}}
                        </td>
                        <td class="{{frame.th.class_name}}">
                            {{frame.th.name}}
                        </td>
                        <td class="{{frame.limit.class_name}} item-wrapper">
                            <a href="" editable-text="device_group_byManager[frame.limit.field]" onbeforesave="updateDeviceGroupByDB(frame.limit.field, $data, device_group_byManager.key)">
                                {{show_zero_value(device_group_byManager[frame.limit.field])}}
                            </a>
                            <span ng-if="device_group_byManager[frame.limit.field]">{{frame.limit.unit}}</span>
                        </td>
                        <td class="{{frame.timeout.class_name}} item-wrapper">
                            <a href="" editable-text="device_group_byManager[frame.timeout.field]" onbeforesave="updateDeviceGroupByDB(frame.timeout.field, $data, device_group_byManager.key)">
                                {{show_zero_value(device_group_byManager[frame.timeout.field])}}
                            </a>
                            <span ng-if="device_group_byManager[frame.timeout.field]">{{frame.timeout.unit}}</span>
                        </td>
                        <td class="{{frame.act.class_name}} item-wrapper">
                            <a href="#"
                               editable-select="device_group_byManager[frame.act.field]"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDeviceGroupByDB(frame.act.field, $data, device_group_byManager.key)">
                                {{showActiveStatus(device_group_byManager[frame.act.field])}}
                            </a>
                        </td>
                        <td class="{{frame.mail_act.class_name}} item-wrapper">
                          <a href="#"
                             editable-select="device_group_byManager[frame.mail_act.field]"
                             e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                             onbeforesave="updateDeviceGroupByDB(frame.mail_act.field, $data, device_group_byManager.key)">
                            {{showActiveStatus(device_group_byManager[frame.mail_act.field])}}
                          </a>
                        </td>
                        <td class="{{frame.sms_act.class_name}} item-wrapper">
                          <a href="#"
                             editable-select="device_group_byManager[frame.sms_act.field]"
                             e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                             onbeforesave="updateDeviceGroupByDB(frame.sms_act.field, $data, device_group_byManager.key)">
                            {{showActiveStatus(device_group_byManager[frame.sms_act.field])}}
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <!--div class="assign_area">
            <div class="sub_title">
                Shop List
            </div>
            <div class="assign_shop_wrap">
                <div class="assign_shop_search_area">

                </div>
                <div class="assign_shop_list">

                </div>
            </div>

        </div-->

        <p class="clearfix visible-xs-block"></p>
    </div>

    <p class="clearfix visible-xs-block"></p>

    <div class="btn_area">
        <a class="btn btn-primary btn-sm group_create_btn" href="./#/admin/group/list" translate="content.admin.Back"></a>
    </div>
</div>
<!-- //admin Content -->
</div>
