<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.CreateAdministrator"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide3"></span>
                </p>
                <p ng-show="UserInfoBySuper.userID.status < 3">
                    <span class="brand-{{UserInfoBySuper.userID.check_flag}}"><i class="fa fa-{{UserInfoBySuper.userID.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoBySuper.userID.check_msg}}"></span></span>
                </p>
                <p ng-show="UserInfoBySuper.userPW.status < 3">
                    <span class="brand-{{UserInfoBySuper.userPW.check_flag}}"><i class="fa fa-{{UserInfoBySuper.userPW.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoBySuper.userPW.check_msg}}"></span></span>
                </p>
                <p ng-show="UserInfoBySuper.userRetypePW.status < 3">
                    <span class="brand-{{UserInfoBySuper.userRetypePW.check_flag}}"><i class="fa fa-{{UserInfoBySuper.userRetypePW.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoBySuper.userRetypePW.check_msg}}"></span></span>
                </p>
            </div>
        </div>
        <div class="admin_create_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="userID" translate="content.admin.ID"></label>
                </div>
                <div class="input_value">
                    <input type="text" ng-class="{'success': UserInfoBySuper.userID.status == 0, 'warning': UserInfoBySuper.userID.status == 1, 'danger': UserInfoBySuper.userID.status == 2}" ng-model="UserInfoBySuper.userID.text" id="userID" ng-change="checkAdminID()" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="password" translate="content.admin.Password"></label>
                </div>
                <div class="input_value">
                    <input type="password" ng-class="{'success': UserInfoBySuper.userPW.status == 0, 'warning': UserInfoBySuper.userPW.status == 1, 'danger': UserInfoBySuper.userPW.status == 2}" ng-model="UserInfoBySuper.userPW.text" id="password" ng-change="checkAdminPW(UserInfoBySuper.userPW.text, null)" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="re_password" translate="content.admin.RetypePassword"></label>
                </div>
                <div class="input_value">
                    <input type="password" ng-class="{'success': UserInfoBySuper.userRetypePW.status == 0, 'warning': UserInfoBySuper.userRetypePW.status == 1, 'danger': UserInfoBySuper.userRetypePW.status == 2}" ng-model="UserInfoBySuper.userRetypePW.text" id="re_password" ng-change="checkAdminPW(null, UserInfoBySuper.userRetypePW.text)" />
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="userName" translate="content.admin.Name"></label>
                </div>
                <div class="input_value">
                    <input id="userName" ng-model="UserInfoBySuper.userName.text" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="tel" translate="content.admin.Cellphone"></label>
                </div>
                <div class="input_value">
                    <input id="tel" ng-model="UserInfoBySuper.phone.text" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="email" translate="content.admin.E-Mail"></label>
                </div>
                <div class="input_value">
                    <input id="email" ng-model="UserInfoBySuper.email.text" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="comp_key" translate="content.admin.CompanyKey"></label>
                </div>
                <div class="input_value">
                    <input id="comp_key" ng-model="UserInfoBySuper.comp_key.text" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <div class="admin_create_sec_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="date_format" translate="content.admin.DateFormat"></label>
                </div>
                <div class="input_value">
                    <select id="date_format" ng-options="format.text for format in date_formats" ng-model="select_format" ng-change="setFormat(select_format.value)">
                    </select>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="refresh_time" translate="content.admin.RefreshTime"></label>
                </div>
                <div class="input_value">
                    <input id="refresh_time" ng-model="UserInfoBySuper.refresh_time.text" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="time_zone" translate="content.admin.TimeZone"></label>
                </div>
                <div class="input_value">
                    <select id="time_zone" ng-options="zone.text for zone in time_zones" ng-model="select_zone" ng-change="setZone(select_zone.value)">
                    </select>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <div class="btn_area">
            <a class="btn btn-primary btn-sm manager_create_btn" href="" ng-disabled="disabledCreateAdmin()" ng-click="createAdmin()" translate="content.admin.Submit"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
