<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.AdministratorList"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide1"></span>
                </p>
            </div>
        </div>

        <div class="admin_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table class="sub_content_table admin_list_table">
                <thead>
                <tr>
                    <th ng-repeat="header in admin_table_headers" class="{{header.name}}" translate="content.admin.{{header.name}}"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="admin in admin_bySuper">
                    <td class="ID">
                        <a ng-href="./#/admin/administrator/info?admin={{admin.key}}">
                            {{admin.userID}}
                        </a>
                    </td>
                    <td class="Name">{{admin.userName}}</td>
                    <td class="Phone">{{admin.phone}}</td>
                    <td class="E-Mail">{{admin.email}}</td>
                    <td class="Delete">
                        <a href="" class="brand-danger" ng-click="openDeleteDialog('ADMIN', admin.key)">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <p class="clearfix visible-xs-block"></p>
            <a href="./#/admin/administrator/create" class="btn btn-primary btn-sm" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
