<div class="admin_wrap">
  <!-- admin Menu -->
  <div ng-include="admin_nav_uri" class="admin_menu"></div>
  <!-- //admin Menu -->
  <!-- admin Content -->
  <div class="admin_content">
      <div class="sub_title" translate="content.admin.ServerList"></div>
      <div class="server_info">
          <table class="sub_content_table admin_list_table">
              <thead>
                  <tr>
                      <th ng-repeat="header in admin_server_table" class="" translate="content.admin.{{header.name}}"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in servers">
                      <td class="ID">{{item.id}}</td>
                      <td class="item-wrapper server-wrap">
                          <a href=""
                              editable-text="item.server_address"
                              onbeforesave="updateServerInfo(item.id, admin_server_table[1].field, $data)">
                              {{item.server_address || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper server-wrap">
                          <a href=""
                               editable-text="item.server_key"
                               onbeforesave="updateServerInfo(item.id, admin_server_table[2].field, $data)">
                              {{item.server_key || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper server-wrap">
                          <a href=""
                               editable-text="item.server_label"
                               onbeforesave="updateServerInfo(item.id, admin_server_table[3].field, $data)">
                              {{item.server_label || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper server-wrap">
                          <a href=""
                               editable-text="item.rc_address"
                               onbeforesave="updateServerInfo(item.id, admin_server_table[4].field, $data)">
                              {{item.rc_address || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper server-wrap">
                          <a href=""
                               editable-text="item.rc_port"
                               onbeforesave="updateServerInfo(item.id, admin_server_table[5].field, $data)">
                              {{item.rc_port || 'empty'}}
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <!--
      <div ng-repeat="item in servers">{{item}}{{server}}</div>
      -->
  </div>
  <!-- //admin Content -->
</div>
