<div class="predict_wrap edit">
    <div class="predict_box">
        <div class="predict_title" translate="content.admin.Edit Fault Prediction"></div>
        <div class="predict_content edit">
            <p class="clearfix"></p>
            <table class="predict_th1">
                <thead>
                    <tr>
                        <th ng-repeat="head in edit_predict_th1_headers" class="{{head.class_name}}">
                            <div translate="content.admin.{{head.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="code">
                            {{showPredictCode()}}
                        </td>
                        <td class="th">
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th1_device_id" e-ng-options="s.value as s.text for s in setting.predict.th_device.statuses" onbeforesave="updatePredictByDB('th1_device_id', $data, edit_predict.id)">
                                    {{showPredictDevice(edit_predict.th1_device_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th1_compare_id" e-ng-options="s.value as s.text for s in setting.predict.th_compare.statuses" onbeforesave="updatePredictByDB('th1_compare_id', $data, edit_predict.id)">
                                    {{showPredictCompare(edit_predict.th1_compare_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-text="edit_predict.th1_num" onbeforesave="updatePredictByDB('th1_num', $data, edit_predict.id)">
                                    {{edit_predict.th1_num}} {{showPredictDevice_unit(edit_predict.th1_device_id)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_limit item-wrapper">
                            <a href="" editable-text="edit_predict.th1_limit" onbeforesave="updatePredictByDB('th1_limit', $data, edit_predict.id)">
                                {{edit_predict.th1_limit}} times
                            </a>
                        </td>
                        <td class="th_timeout item-wrapper">
                            <a href="" editable-text="edit_predict.th1_timeout" onbeforesave="updatePredictByDB('th1_timeout', $data, edit_predict.id)">
                                {{edit_predict.th1_timeout}} min
                            </a>
                        </td>
                        <td class="co item-wrapper">
                            <a href="" editable-select="edit_predict.th1_co_id" e-ng-options="s.value as s.text for s in setting.predict.co_string.statuses" onbeforesave="updatePredictByDB('th1_co_id', $data, edit_predict.id)">
                                {{showPredictCoString(edit_predict.th1_co_id)}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table class="predict_th2" ng-if="showEditPredictTable(co1_value)">
                <thead>
                    <tr>
                        <th ng-repeat="head in edit_predict_th2_headers" class="{{head.class_name}}">
                            <div translate="content.admin.{{head.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            2
                        </td>
                        <td class="th">
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th2_device_id" e-ng-options="s.value as s.text for s in setting.predict.th_device.statuses" onbeforesave="updatePredictByDB('th2_device_id', $data, edit_predict.id)">
                                    {{showPredictDevice(edit_predict.th2_device_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th2_compare_id" e-ng-options="s.value as s.text for s in setting.predict.th_compare.statuses" onbeforesave="updatePredictByDB('th2_compare_id', $data, edit_predict.id)">
                                    {{showPredictCompare(edit_predict.th2_compare_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-text="edit_predict.th2_num" onbeforesave="updatePredictByDB('th2_num', $data, edit_predict.id)">
                                    {{edit_predict.th2_num}} {{showPredictDevice_unit(edit_predict.th2_device_id)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_limit item-wrapper">
                            <a href="" editable-text="edit_predict.th2_limit" onbeforesave="updatePredictByDB('th2_limit', $data, edit_predict.id)">
                                {{edit_predict.th2_limit}} times
                            </a>
                        </td>
                        <td class="th_timeout item-wrapper">
                            <a href="" editable-text="edit_predict.th2_timeout" onbeforesave="updatePredictByDB('th2_timeout', $data, edit_predict.id)">
                                {{edit_predict.th2_timeout}} min
                            </a>
                        </td>
                        <td class="co item-wrapper">
                            <a href="" editable-select="edit_predict.th2_co_id" e-ng-options="s.value as s.text for s in setting.predict.co_string.statuses" onbeforesave="updatePredictByDB('th2_co_id', $data, edit_predict.id)">
                                {{showPredictCoString(edit_predict.th2_co_id)}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table class="predict_th3" ng-if="showEditPredictTable(co2_value)">
                <thead>
                    <tr>
                        <th ng-repeat="head in edit_predict_th3_headers" class="{{head.class_name}}">
                            <div translate="content.admin.{{head.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            3
                        </td>
                        <td class="th">
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th3_device_id" e-ng-options="s.value as s.text for s in setting.predict.th_device.statuses" onbeforesave="updatePredictByDB('th3_device_id', $data, edit_predict.id)">
                                    {{showPredictDevice(edit_predict.th3_device_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th3_compare_id" e-ng-options="s.value as s.text for s in setting.predict.th_compare.statuses" onbeforesave="updatePredictByDB('th3_compare_id', $data, edit_predict.id)">
                                    {{showPredictCompare(edit_predict.th3_compare_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-text="edit_predict.th3_num" onbeforesave="updatePredictByDB('th3_num', $data, edit_predict.id)">
                                    {{edit_predict.th3_num}} {{showPredictDevice_unit(edit_predict.th3_device_id)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_limit item-wrapper">
                            <a href="" editable-text="edit_predict.th3_limit" onbeforesave="updatePredictByDB('th3_limit', $data, edit_predict.id)">
                                {{edit_predict.th3_limit}} times
                            </a>
                        </td>
                        <td class="th_timeout item-wrapper">
                            <a href="" editable-text="edit_predict.th3_timeout" onbeforesave="updatePredictByDB('th3_timeout', $data, edit_predict.id)">
                                {{edit_predict.th3_timeout}} min
                            </a>
                        </td>
                        <td class="co item-wrapper">
                            <a href="" editable-select="edit_predict.th3_co_id" e-ng-options="s.value as s.text for s in setting.predict.co_string.statuses" onbeforesave="updatePredictByDB('th3_co_id', $data, edit_predict.id)">
                                {{showPredictCoString(edit_predict.th3_co_id)}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table class="predict_th4" ng-if="showEditPredictTable(co3_value)">
                <thead>
                    <tr>
                        <th ng-repeat="head in edit_predict_th4_headers" class="{{head.class_name}}">
                            <div translate="content.admin.{{head.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            4
                        </td>
                        <td class="th">
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th4_device_id" e-ng-options="s.value as s.text for s in setting.predict.th_device.statuses" onbeforesave="updatePredictByDB('th4_device_id', $data, edit_predict.id)">
                                    {{showPredictDevice(edit_predict.th4_device_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-select="edit_predict.th4_compare_id" e-ng-options="s.value as s.text for s in setting.predict.th_compare.statuses" onbeforesave="updatePredictByDB('th4_compare_id', $data, edit_predict.id)">
                                    {{showPredictCompare(edit_predict.th4_compare_id)}}
                                </a>
                            </div>
                            <div class="item-wrapper">
                                <a href="" editable-text="edit_predict.th4_num" onbeforesave="updatePredictByDB('th4_num', $data, edit_predict.id)">
                                    {{edit_predict.th4_num}} {{showPredictDevice_unit(edit_predict.th1_device_id)}}
                                </a>
                            </div>
                        </td>
                        <td class="th_limit item-wrapper">
                            <a href="" editable-text="edit_predict.th4_limit" onbeforesave="updatePredictByDB('th4_limit', $data, edit_predict.id)">
                                {{edit_predict.th4_limit}} times
                            </a>
                        </td>
                        <td class="th_timeout item-wrapper">
                            <a href="" editable-text="edit_predict.th4_timeout" onbeforesave="updatePredictByDB('th4_timeout', $data, edit_predict.id)">
                                {{edit_predict.th4_timeout}} min
                            </a>
                        </td>
                        <td class="co">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
        </div>
        <p class="clearfix"></p>
        <div class="predict_footer">
            <div class="btn_wrap">
                <a href="" class="btn btn-sm btn-primary" ng-click="close()" translate="content.admin.Close"></a>
            </div>
        </div>
        <p class="clearfix"></p>
    </div>
</div>
