<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.MediaPlayers"></div>

        <p class="clearfix visible-xs-block"></p>

        <!--div class="dg_manage_header_area">
            <a href="./#/admin/device/create" class="btn btn-primary">Create</a>
        </div-->

        <p class="clearfix visible-xs-block"></p>

        <div class="dg_manage_content_area">
            <table ng-table="deviceTableParams" class="sub_content_table dg_manage_table">
                <thead>
                    <tr>
                        <th ng-if="userType=='ADMIN'" ng-repeat="head in dg_table_headers_mediaplayer_admin" class="{{head.class_name}}"
                            ng-class="{'sortable': head.sortable}"
                                ng-click="head.sortable? deviceTableParams.sorting(head.field, deviceTableParams.isSortBy(head.field, 'asc')?'desc':'asc'):''">
                            <div>
                                <span translate="content.admin.{{head.name}}"></span> <!--span translate="content.admin.{{head.suffix_name}}"></span-->  <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': deviceTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': deviceTableParams.isSortBy(header.field, 'desc')}"></i>
                            </div>
                        </th>
                        <th ng-if="userType=='MANAGER'" ng-repeat="head in dg_table_headers_mediaplayer" class="{{head.class_name}}"
                            ng-class="{'sortable': head.sortable}"
                            ng-click="head.sortable? deviceTableParams.sorting(head.field, deviceTableParams.isSortBy(head.field, 'asc')?'desc':'asc'):''">
                            <div>
                                <span translate="content.admin.{{head.name}}"></span> <!--span translate="content.admin.{{head.suffix_name}}"></span-->  <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': deviceTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': deviceTableParams.isSortBy(header.field, 'desc')}"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" ng-repeat="item in $data" ng-class="{'active': item.clicked}" ng-click="showDisplayTable(item)">
                        <td class="no">
                            {{(deviceTableParams.page()-1)*20 + $index+1}}
                        </td>
                        <td class="manager_group item-wrapper" ng-if="userType=='ADMIN'">
                            <a href="#" editable-select="item.manager_id" e-ng-options="s.userID as s.userID for s in {{manager_byAdmin}}"
                               onbeforesave="updateDeviceManage('manager_id', $data, item.key)">
                                {{item.manager_id || 'Empty'}}
                            </a>
                        </td>
                        <td class="manager_group item-wrapper" ng-if="userType=='MANAGER'">
                            <a href="#" editable-select="item.dg_name" e-ng-options="s.group as s.group for s in {{device_group_info}}"
                            onbeforesave="updateDeviceManage('dg_name', $data, item.key)">
                            {{item.dg_name || 'Empty'}}
                            </a>
                        </td>
                        <td class="name item-wrapper">
                            <a href="" editable-text="item.alias" onbeforesave="updateDeviceManage('alias', $data, item.key)">
                                {{item.alias || 'Empty'}}
                            </a>
                        </td>
                        <td class="site item-wrapper">
                            <a href="" editable-text="item.site" onbeforesave="updateDeviceManage('site', $data, item.key)">
                                {{item.site || 'Empty'}}
                            </a>
                        </td>
                        <td class="location item-wrapper">
                            <a href="" editable-text="item.location" onbeforesave="updateDeviceManage('location', $data, item.key)">
                                {{item.location || 'Empty'}}
                            </a>
                        </td>
                        <td class="shop item-wrapper">
                            <a href="" editable-text="item.shop" onbeforesave="updateDeviceManage('shop', $data, item.key)">
                                {{item.shop || 'Empty'}}
                            </a>
                        </td>
                        <td class="regi_date">
                            <a href="">
                                {{item.created_date | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
                            </a>
                        </td>
                        <td class="email item-wrapper">
                            <a href="" editable-text="item.email" onbeforesave="updateDeviceManage('email', $data, item.key)">
                                {{item.email || 'Empty'}}
                            </a>
                        </td>
                        <td class="phone item-wrapper">
                            <a href="" editable-text="item.phone" onbeforesave="updateDeviceManage('phone', $data, item.key)">
                                {{item.phone || 'Empty'}}
                            </a>
                        </td>
                        <td class="addr item-wrapper">
                            <a href="" editable-text="item.addr" onbeforesave="updateDeviceManage('addr', $data, item.key)">
                                {{item.addr || 'Empty'}}
                            </a>
                        </td>
                        <td class="memo item-wrapper">
                            <a href="" editable-text="item.memo" onbeforesave="updateDeviceManage('memo', $data, item.key)">
                                {{item.memo || 'Empty'}}
                            </a>
                        </td>
                        <td class="del">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('Device', item.key)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="notice" translate="content.admin.displayNotice"></div>

        <p class="clearfix visible-xs-block"></p>
        <div class="sub_title" translate="content.admin.Displays"></div>
        <div class="dg_manage_content_area">
            <table ng-table="displayTableParams" class="sub_content_table dg_manage_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in dg_table_headers_display" class="{{head.class_name}}"
                            ng-class="{'sortable': head.sortable}"
                            ng-click="head.sortable? displayTableParams.sorting(head.field, displayTableParams.isSortBy(head.field, 'asc')?'desc':'asc'):''">
                            <div translate="content.admin.{{head.name}}">
                                <!--span>{{head.suffix_name}}</span--> <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': deviceTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': deviceTableParams.isSortBy(header.field, 'desc')}"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $data">
                        <td class="no">
                            {{(displayTableParams.page()-1)*20 + $index+1}}
                        </td>
                        <td class="name item-wrapper">
                            <a href="" editable-text="item.dp_group" onbeforesave="updateDisplayManage('dp_group', $data, item.key)">
                                {{item.dp_group || 'Empty'}}
                            </a>
                        </td>
                        <td class="name item-wrapper">
                            <a href="" editable-text="item.set_id" onbeforesave="updateDisplayManage('set_id', $data, item.key)">
                                {{item.set_id || 'Empty'}}
                            </a>
                        </td>
                        <td class="name item-wrapper">
                            <a href="" editable-text="item.alias" onbeforesave="updateDisplayManage('alias', $data, item.key)">
                                {{item.alias || 'Empty'}}
                            </a>
                        </td>
                        <td class="site item-wrapper">
                            <a href="" editable-text="item.port_number" onbeforesave="updateDisplayManage('port_number', $data, item.key)">
                                {{item.port_number || 'Empty'}}
                            </a>
                        </td>
                        <td class="location">
                            <a href="" text="item.model">
                                {{item.model || 'Empty'}}
                            </a>
                        </td>
                        <td class="shop">
                            <a href="" text="item.serial_number">
                                {{item.serial_number || 'Empty'}}
                            </a>
                        </td>
                        <td class="regi_date">
                            <a href="" text="item.created_date">
                                {{item.created_date | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
                            </a>
                        </td>
                        <td class="email item-wrapper">
                            <a href="" editable-text="item.email" onbeforesave="updateDisplayManage('email', $data, item.key)">
                                {{item.email || 'Empty'}}
                            </a>
                        </td>
                        <td class="phone item-wrapper">
                            <a href="" editable-text="item.phone" onbeforesave="updateDisplayManage('phone', $data, item.key)">
                                {{item.phone || 'Empty'}}
                            </a>
                        </td>
                        <td class="del item-wrapper">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('Display', item.key)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <!-- //admin Content -->
</div>
