<div class="admin_wrap">
<!-- admin Menu -->
<div ng-include="admin_nav_uri" class="admin_menu"></div>
<!-- //admin Menu -->
<!-- admin Content -->
<div class="admin_content">
    <div class="sub_title" translate="content.admin.User Information"></div>
    <div class="sub_well_area">
        <div class="well">
            <p>
                <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide1"></span>
            </p>
            <p>
                <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide2"></span>
            </p>
            <p ng-show="password_toMember.type1.status < 3">
                <span class="brand-{{password_toMember.type1.check_flag}}"><i class="fa fa-{{password_toMember.type1.check_icon}}"></i> <span translate="content.admin.msg.{{password_toMember.type1.check_msg}}"></span></span>
            </p>
            <p ng-show="password_toMember.type2.status < 3">
                <span class="brand-{{password_toMember.type2.check_flag}}"><i class="fa fa-{{password_toMember.type2.check_icon}}"></i> <span translate="content.admin.msg.{{password_toMember.type2.check_msg}}"></span></span>
            </p>
        </div>
    </div>
    <div class="myinfo_content_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="left_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.ID"></label>
            </div>
            <div class="item-wrapper input_value">
                {{member_info_byManager.userID || 'No Auth'}}
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="password" translate="content.admin.Password"></label>
            </div>

            <div class="input_value">
                <input class="password" ng-class="{'success' : password_toMember.type1.status==0, 'warning' : password_toMember.type1.status==1, 'danger' : password_toMember.type1.status==2}" type="password" id="password" ng-if="show_flag_toMember" ng-model="password_toMember.type1.txt" ng-change="checkPassword_toMember(password_toMember.type1.txt, null)" />
                <a href="" class="btn btn-xs btn-primary" ng-if="!show_flag_toMember" ng-click="editPassword_toMember()" translate="content.admin.Edit"></a>
                <a href="" class="btn btn-xs btn-danger" ng-if="show_flag_toMember" ng-disabled="password_toMember.type1.status != 0 || password_toMember.type2.status != 0" ng-click="updateUserByDB_toMember('userPW', password_toMember.type1.txt, member_info_byManager.key)" translate="content.admin.Save"></a>
            </div>

                <span ng-if="show_flag_toMember">
                    <p class="clearfix visible-xs-block"></p>

                    <div class="input_label">
                        <label for="re_password" translate="content.admin.RetypePassword"></label>
                    </div>
                    <div class="input_value">
                        <input class="password" ng-class="{'success' : password_toMember.type2.status==0, 'warning' : password_toMember.type2.status==1, 'danger' : password_toMember.type2.status==2}" type="password" id="re_password" ng-model="password_toMember.type2.txt" ng-change="checkPassword_toMember(null, password_toMember.type2.txt)" />
                        <a href="" class="btn btn-xs btn-default" ng-if="show_flag_toMember" ng-click="cancelEditPassword_toMember()" translate="content.admin.Cancel"></a>
                    </div>
                </span>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.Cellphone"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-text="member_info_byManager.phone"
                   onbeforesave="updateUserByDB_toMember('phone', $data, member_info_byManager.key)">
                    {{member_info_byManager.phone || 'empty'}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.2-Step"></label>
            </div>
            <div class="item-wrapper input_value two_step">
                <a href="" class="btn btn-xs btn-primary" ng-click="otp_reset('MEMBER', member_info_byManager.key)" translate="content.admin.Reset"></a>
            </div>

        </div>
        <div class="right_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.Name"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-text="member_info_byManager.userName"
                   onbeforesave="updateUserByDB_toMember('userName', $data, member_info_byManager.key)">
                    {{member_info_byManager.userName || 'empty'}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.E-Mail"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-text="member_info_byManager.email"
                   onbeforesave="updateUserByDB_toMember('email', $data, member_info_byManager.key)">
                    {{member_info_byManager.email || 'empty'}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <div class="myinfo_sec_content_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="left_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.DateFormat"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-select="member_info_byManager_date_format"
                   e-ng-options="s.value as s.text for s in setting.date_fmt.statuses"
                   onbeforesave="updateUserByDB_toMember('date_format', $data, member_info_byManager.key)">
                    {{showDateFormatStatus(member_info_byManager_date_format)}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.RefreshTime"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-text="member_info_byManager.refresh_time"
                   onbeforesave="updateUserByDB_toMember('refresh_time', $data, member_info_byManager.key)">
                    {{member_info_byManager.refresh_time || 'empty'}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <div class="right_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.TimeZone"></label>
            </div>
            <div class="item-wrapper input_value">
                <a href=""
                   editable-select="member_info_byManager_time_zone"
                   e-ng-options="s.value as s.text for s in setting.time_zone.statuses"
                   onbeforesave="updateUserByDB_toMember('time_zone', $data, member_info_byManager.key)">
                    {{showTimeZoneStatus(member_info_byManager_time_zone)}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label translate="content.admin.Authorizations"></label>
            </div>
            <div class="item-wrapper input_value user_auth">
                <a href=""
                   editable-checklist="member_info_byManager.auth"
                   e-ng-options="s.value as s.text for s in setting.auth.statuses"
                   onbeforesave="updateUserByDB_toMember('auth', $data, member_info_byManager.key)">
                    {{showAuth(member_info_byManager.auth)}}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <p class="clearfix visible-xs-block"></p>
    </div>

    <!-- User Assigned -->
    <div class="assign_group_area">
        <div class="sub_title" translate="content.admin.DeviceGroupList"></div>
        <div class="assign_group_wrap">
            <div class="assign_group_search_area">
                <!--<input />-->
            </div>
            <div class="assign_group_list">
                <ul>
                    <li ng-repeat="dg in manager_device_group_list" class="dg_item">
                        <input type="checkbox" ng-checked="selection.indexOf(dg.key) > -1" ng-click="toggleSelection(dg.key)" /> {{dg.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //User Assigned -->

    <div class="btn_area">
        <a href="" class="btn btn-info mod_group_btn btn-sm" ng-click="updateDG(member_info_byManager.key)" translate="content.admin.Save"></a>
    </div>
</div>
<!-- //admin Content -->
</div>
