<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.ManagerList"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide1"></span>
                </p>
            </div>
        </div>
        <div class="user_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table class="sub_content_table user_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="header in manager_table_headers" class="{{header.name}}" translate="content.admin.{{header.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="manager in manager_byAdmin">
                        <td class="ID">
                            <a ng-href="./#/admin/manager/info?manager={{manager.key}}">
                                {{manager.userID}}
                            </a>
                        </td>
                        <td class="Name">{{manager.userName}}</td>
                        <td class="Phone">{{manager.phone}}</td>
                        <td class="E-Mail">{{manager.email}}</td>
                        <td class="Delete">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('MANAGER', manager.key)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_area">
            <a href="./#/admin/manager/create" class="btn btn-primary btn-sm" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->

</div>
