<div class="admin_wrap">
<!-- admin Menu -->
<div ng-include="admin_nav_uri" class="admin_menu"></div>
<!-- //admin Menu -->
<!-- admin Content -->
<div class="admin_content">
<div class="sub_title" translate="content.admin.AdministratorInformation">
</div>
<div class="sub_well_area">
    <div class="well">
        <p>
            <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide1"></span>
        </p>
        <p>
            <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide2"></span>
        </p>
        <p ng-show="password_toAdmin.type1.status < 3">
            <span class="brand-{{password_toAdmin.type1.check_flag}}"><i class="fa fa-{{password_toAdmin.type1.check_icon}}"></i> <span translate="content.admin.msg.{{password_toAdmin.type1.check_msg}}"></span></span>
        </p>
        <p ng-show="password_toAdmin.type2.status < 3">
            <span class="brand-{{password_toAdmin.type2.check_flag}}"><i class="fa fa-{{password_toAdmin.type2.check_icon}}"></i> <span translate="content.admin.msg.{{password_toAdmin.type2.check_msg}}"></span></span>
        </p>
    </div>
</div>
<!-- Manager Info -->
<div class="manager_info_area">

    <p class="clearfix visible-xs-block"></p>

    <div class="left_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.ID"></label>
        </div>
        <div class="item-wrapper input_value">
            {{admin_info_bySuper.userID || 'No Auth'}}
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label for="password" translate="content.admin.Password"></label>
        </div>

        <div class="input_value">
            <input class="password" ng-class="{'success' : password_toAdmin.type1.status==0, 'warning' : password_toAdmin.type1.status==1, 'danger' : password_toAdmin.type1.status==2}" type="password" id="password" ng-if="show_flag_toAdmin" ng-model="password_toAdmin.type1.txt" ng-change="checkPassword_toAdmin(password_toAdmin.type1.txt, null)" />
            <a href="" class="btn btn-xs btn-primary" ng-if="!show_flag_toAdmin" ng-click="editPassword_toAdmin()" translate="content.admin.Edit"></a>
            <a href="" class="btn btn-xs btn-danger" ng-if="show_flag_toAdmin" ng-disabled="password_toAdmin.type1.status != 0 || password_toAdmin.type2.status != 0" ng-click="updateUserByDB_toManager('userPW', password_toAdmin.type1.txt, admin_info_bySuper.key)" translate="content.admin.Save"></a>
        </div>
        <span ng-if="show_flag_toAdmin">
            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="re_password" translate="content.admin.RetypePassword"></label>
            </div>
            <div class="input_value">
                <input class="password" ng-class="{'success' : password_toAdmin.type2.status==0, 'warning' : password_toAdmin.type2.status==1, 'danger' : password_toAdmin.type2.status==2}" type="password" id="re_password" ng-model="password_toAdmin.type2.txt" ng-change="checkPassword_toAdmin(null, password_toAdmin.type2.txt)" />
                <a href="" class="btn btn-xs btn-default" ng-if="show_flag_toAdmin" ng-click="cancelEditPassword_toAdmin()" translate="content.admin.Cancel"></a>
            </div>
        </span>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.Cellphone"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="admin_info_bySuper.phone"
               onbeforesave="updateUserByDB_toManager('phone', $data, admin_info_bySuper.key)">
                {{admin_info_bySuper.phone || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.2-Step"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href="" class="btn btn-xs btn-primary" ng-click="otp_reset('ADMIN', admin_info_bySuper.key)" translate="content.admin.Reset"></a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>
    <div class="right_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.Name"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="admin_info_bySuper.userName"
               onbeforesave="updateUserByDB_toManager('userName', $data, admin_info_bySuper.key)">
                {{admin_info_bySuper.userName || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.E-Mail"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="admin_info_bySuper.email"
               onbeforesave="updateUserByDB_toManager('email', $data, admin_info_bySuper.key)">
                {{admin_info_bySuper.email || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.CompanyKey"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="admin_info_bySuper.comp_key"
               onbeforesave="updateUserByDB_toManager('comp_key', $data, admin_info_bySuper.key)">
                {{admin_info_bySuper.comp_key || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <p class="clearfix visible-xs-block"></p>

</div>
<!-- //Manager Info -->
<!-- Manager Setting -->
<div class="manager_setting_area">

    <p class="clearfix visible-xs-block"></p>

    <div class="left_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.DateFormat"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-select="admin_info_bySuper.date_format"
               e-ng-options="s.value as s.text for s in {{setting.date_fmt.statuses}}"
               onbeforesave="updateUserByDB_toManager('date_format', $data, admin_info_bySuper.key)">
                {{showDateFormatStatus(admin_info_bySuper.date_format)}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.RefreshTime"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="admin_info_bySuper.refresh_time"
               onbeforesave="updateUserByDB_toManager('refresh_time', $data, admin_info_bySuper.key)">
                {{admin_info_bySuper.refresh_time || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>
    <div class="right_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.TimeZone"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-select="admin_info_bySuper.time_zone"
               e-ng-options="s.value as s.text for s in {{setting.time_zone.statuses}}"
               onbeforesave="updateUserByDB_toManager('time_zone', $data, admin_info_bySuper.key)">
                {{showTimeZoneStatus(admin_info_bySuper.time_zone)}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <p class="clearfix visible-xs-block"></p>

</div>
<!-- //Manager Setting -->
<p class="clearfix visible-xs-block"></p>

<!-- User Assigned -->
<div class="assign_group_area">
    <div class="sub_title" translate="content.admin.ManagerList"></div>
    <div class="assign_group_wrap">
        <div class="assign_group_search_area">
            <!--<input />-->
        </div>
        <div class="assign_group_list">
            <ul>
                <li ng-repeat="manager in manager_bySuper" class="dg_item">
                    <input type="checkbox" ng-checked="managerSelection.indexOf(manager.key) > -1" ng-click="toggleManagerSelection(manager.key)" /> {{manager.userID}}
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //User Assigned -->

<div class="btn_area">
    <a href="" class="btn btn-info mod_group_btn btn-sm" ng-click="updateManagerMapping(admin_info_bySuper.key)" translate="content.admin.Save"></a>
</div>
</div>
<!-- //admin Content -->
</div>
