<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.InstallList"></div>
        <div class="what_key_setting">
            <div class="what_key_label">
                <span class="label label-default" translate="content.admin.{{setting.what_key.name}}"></span>
            </div>
            <div class="what_key_input">
                <a href="#" editable-select="user.what_key" e-ng-options="s.value as s.text for s in {{setting.what_key.statuses}}"
                   onbeforesave="updateUserByDB(setting.what_key.field, $data)">
                    {{showSettingKey(setting.what_key.statuses, user.what_key) || 'Empty'}}
                </a>
            </div>
        </div>

        <div class="install_list_content_area">
            <table ng-table="installTableParams" class="sub_content_table install_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in install_table_headers" class="{{head.class_name}}">
                            <span class="overflow_dot" translate="content.admin.{{head.name}}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in $data">
                        <td class="no">
                            <a href="./#/admin/install/info?install={{data.rkey}}">{{(installTableParams.page()-1)*20 + $index+1}}</a>
                        </td>
                        <td class="key">
                            <span class="overflow_dot">{{data[install_info.key.field]}}</span>
                        </td>
                        <td class="site">
                            <span class="overflow_dot">{{data[install_info.site.field]}}</span>
                        </td>
                        <td class="location">
                            <span class="overflow_dot">{{data[install_info.location.field]}}</span>
                        </td>
                        <td class="shop">
                            <span class="overflow_dot">{{data[install_info.shop.field]}}</span>
                        </td>
                        <td class="mp_alias">
                            <span class="overflow_dot">{{data[install_info.mp_alias.field]}}</span>
                        </td>
                        <td class="dp_alias">
                            <span class="overflow_dot">{{data[install_info.dp_alias.field]}}</span>
                        </td>
                        <td class="delete">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('Install', data.rkey)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_area">
            <p class="clearfix visible-xs-block"></p>
            <a href="./#/admin/install/create" class="btn btn-primary btn-sm" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
