<div class="admin_wrap">
  <!-- admin Menu -->
  <div ng-include="admin_nav_uri" class="admin_menu"></div>
  <!-- //admin Menu -->
  <div class="admin_content">
      <div class="sub_title" translate="content.admin.DisplayModelInformation"></div>
      <div class="well">
          <p>
              <i class="fa fa-check"></i>
              <span class="brand-info">Display Model ID : {{UrlParsing}}</span>
          </p>
          <p></p>
      </div>
      <div class="display_label">
          <div ng-repeat="item in display_header" class="display_label label_border">
              <div class="display_label model_info">
                  <label class="label_width">
                      {{item.name}}
                  </label> &nbsp;:
              </div>
              <div class="item-wrapper display-wrap display_value">
                  <a href=""
                     editable-text=display_model[item.field]
                     onbeforesave="updateDisplayInfo(UrlParsing, item.field, $data)">
                    {{display_model[item.field] || 'empty'}}
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>

