<div class="admin_wrap">
  <!-- admin Menu -->
  <div ng-include="admin_nav_uri" class="admin_menu"></div>
  <!-- //admin Menu -->
  <!-- admin Content -->
  <div class="admin_content">
      <div class="sub_title" translate="content.admin.MediaPlayerModelList"></div>
      <div class="mediaplayer_list">
          <table ng-table="mediaModelTableParams" class="sub_content_table admin_list_table">
              <thead>
                  <tr>
                      <th ng-repeat="header in admin_mpdp_table"
                          ng-class="{'sortable': header.sortable}"
                          ng-click="header.sortable? mediaModelTableParams.sorting(header.field, mediaModelTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):''">
                          <div translate="content.admin.{{header.name}}">
                              <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': mediaModelTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': mediaModelTableParams.isSortBy(header.field, 'desc')}"></i>
                          </div>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in $data">
                      <td class="ID">{{item.id}}</td>
                      <td class="item-wrapper mediaplayer-wrap">
                          <a href=""
                               editable-text="item.name"
                               onbeforesave="updateMediaPlayerInfo(item.id, admin_mpdp_table[1].field, $data)">
                              {{item.name || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper mediaplayer-wrap">
                          <a href=""
                               editable-text="item.img_location"
                               onbeforesave="updateMediaPlayerInfo(item.id, admin_mpdp_table[2].field, $data)">
                               {{item.img_location || 'empty'}}
                          </a>
                      </td>
                      <td class="item-wrapper mediaplayer-wrap">
                          <a href=""
                               editable-text="item.specification"
                               onbeforesave="updateMediaPlayerInfo(item.id, admin_mpdp_table[3].field, $data)">
                               {{item.specification || 'empty'}}
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <!-- //admin Content -->
</div>
