<div class="admin_wrap">
<!-- admin Menu -->
<div ng-include="admin_nav_uri" class="admin_menu"></div>
<!-- //admin Menu -->
<!-- admin Content -->
<div class="admin_content">
<div class="sub_title" translate="content.admin.User Group Information"></div>
<!-- Manager Info -->
<div class="userGroup_info_area">

    <p class="clearfix visible-xs-block"></p>

    <div class="left_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.Group Name"></label>
        </div>
        <div class="item-wrapper input_value">
            <a href=""
               editable-text="user_group_info_byManager.name"
               onbeforesave="updateUserGroupByDB('name', $data, user_group_info_byManager.key)">
                {{user_group_info_byManager.name || 'empty'}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>
    <div class="right_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="input_label">
            <label translate="content.admin.Authorizations"></label>
        </div>
        <div class="item-wrapper input_value user_group_auth">
            <a href=""
               editable-checklist="user_group_info_byManager.auth"
               e-ng-options="s.value as s.text for s in setting.auth.statuses"
               onbeforesave="updateUserGroupByDB('auth', $data, user_group_info_byManager.key)">
                {{showAuth(user_group_info_byManager.auth)}}
            </a>
        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <p class="clearfix visible-xs-block"></p>

</div>
</div>
<!-- //admin Content -->
</div>
