<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.CreateGroup"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide4"></span>
                </p>
                <p ng-if="group_info.name.status < 3">
                    <span class="brand-{{group_info.name.check_flag}}"><i class="fa fa-{{group_info.name.check_icon}}"></i> <span translate="content.admin.msg.{{group_info.name.check_msg}}"></span></span>
                </p>
            </div>
        </div>
        <div class="group_create_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="group_name" translate="content.admin.Group Name"></label>
                </div>
                <div class="input_value">
                    <!--input id="group_name" ng-model="group_info.name.txt" type="text" /-->
                    <input id="group_name" ng-model="group_info.name.txt" ng-class="{'success' : group_info.name.status==0, 'warning' : group_info.name.status==1, 'danger' : group_info.name.status==2}" ng-change="checkDeviceGroupName(group_info.name.txt)" type="text" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="start_time" translate="content.admin.Start Time"></label>
                </div>
                <div class="input_value">
                    <input id="start_time" ng-model="group_info.start.time" type="time" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="end_time" translate="content.admin.End Time"></label>
                </div>
                <div class="input_value">
                    <input id="end_time" ng-model="group_info.end.time" type="time" />
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Power Setting"></label>
                </div>
                <div class="input_value tv_setting">
                    <div class="set_on_area">
                        <label class="label label-primary" for="tv_setting_on" translate="content.admin.ON"></label>
                        <div class="input_area">
                            <input id="tv_setting_on" ng-model="group_info.flag.value" ng-value="true" name="tv_setting_flag" type="radio" />
                        </div>
                    </div>
                    <div class="set_off_area">
                        <label class="label label-danger" for="tv_setting_off" translate="content.admin.OFF"></label>
                        <div class="input_area">
                            <input id="tv_setting_off" ng-model="group_info.flag.value" ng-value="false" name="tv_setting_flag" type="radio" />
                        </div>
                    </div>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <div class="btn_area">
            <a class="btn btn-primary btn-sm group_create_btn" ng-disabled="group_info.name.check_flag != 'success'" href="" ng-click="createGroup()" translate="content.admin.Submit"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
