<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.User List"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide1"></span>
                </p>
            </div>
        </div>

        <div class="manager_list_content_area">
            <p class="clearfix visible-xs-block"></p>

            <table class="sub_content_table manager_list_table">
                <thead>
                    <tr>
                        <th ng-repeat="header in member_table_headers" class="{{header.name}}" translate="content.admin.{{header.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in member_byManager">
                        <td class="Group item-wrapper">
                            <a href="" editable-select="member.userGroupKey" e-ng-options="s.key as s.name for s in member.userGroup"
                               onbeforesave="updateUserGroupByManager($data, member.key)">
                                {{member.userGroupName}}
                            </a>
                            <!--<a href="#" editable-select="member.manager_id" e-ng-options="s.userID as s.userID for s in member.userGroup"
                               onbeforesave="updateDeviceManage('manager_id', $data, item.key)">
                                {{item.manager_id || 'Empty'}}
                            </a>-->
                        </td>
                        <td class="ID">
                            <a ng-href="./#/admin/user-manage/info?member={{member.key}}">
                                {{member.userID}}
                            </a>
                        </td>
                        <td class="Name">{{member.userName}}</td>
                        <td class="Phone">{{member.phone}}</td>
                        <td class="E-Mail">{{member.email}}</td>
                        <td class="Delete">
                            <a href="" class="brand-danger" ng-click="openDeleteDialog('MEMBER', member.key)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="clearfix visible-xs-block"></p>
        </div>
        <div class="btn_area">
            <p class="clearfix visible-xs-block"></p>
            <a href="./#/admin/user-manage/create" class="btn btn-primary btn-sm" translate="content.admin.Create"></a>
        </div>
    </div>
    <!-- //admin Content -->
</div>
