<div class="predict_wrap create">
    <div class="predict_box">
        <div class="predict_title" translate="content.admin.Create Fault Prediction"></div>
        <div class="predict_content create">
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="header in create_predict_headers" class="{{header.class_name}}">
                            <div translate="content.admin.{{header.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="category">
                            <div>
                                <select ng-options="s.text for s in setting.predict.category.statuses" ng-model="create_predict.category">
                                </select>
                            </div>
                        </td>
                        <td class="code">
                            <div translate="content.admin.AUTO"></div>
                        </td>
                        <td class="ruleset">
                            <div>
                                <input type="text" ng-model="create_predict.ruleset.value" />
                            </div>
                        </td>
                        <td class="act">
                            <div>
                                <select ng-options="s.text for s in setting.predict.active.statuses" ng-model="create_predict.active">
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="header in create_predict_th1_headers" class="{{header.class_name}}">
                            <div translate="content.admin.{{header.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            <div>
                                TH 1
                            </div>
                        </td>
                        <td class="device">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_device.statuses" ng-model="create_predict.th1_device">
                                </select>
                            </div>
                        </td>
                        <td class="compare">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_compare.statuses" ng-model="create_predict.th1_compare">
                                </select>
                            </div>
                        </td>
                        <td class="value">
                            <div>
                                <input type="text" ng-model="create_predict.th1_num.value" />
                            </div>
                        </td>
                        <td class="limit">
                            <div>
                                <input type="text" ng-model="create_predict.th1_limit.value" />
                            </div>
                        </td>
                        <td class="timeout">
                            <div>
                                <input type="text" ng-model="create_predict.th1_timeout.value" />
                            </div>
                        </td>
                        <td class="co">
                            <div>
                                <select ng-options="s.text for s in setting.predict.co_string.statuses" ng-model="create_predict.co1_string">
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table ng-if="showCreatePredictTable(create_predict.co1_string)">
                <thead>
                    <tr>
                        <th ng-repeat="header in create_predict_th2_headers" class="{{header.class_name}}">
                            <div translate="content.admin.{{header.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            <div>
                                TH 2
                            </div>
                        </td>
                        <td class="device">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_device.statuses" ng-model="create_predict.th2_device">
                                </select>
                            </div>
                        </td>
                        <td class="compare">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_compare.statuses" ng-model="create_predict.th2_compare">
                                </select>
                            </div>
                        </td>
                        <td class="value">
                            <div>
                                <input type="text" ng-model="create_predict.th2_num.value" />
                            </div>
                        </td>
                        <td class="limit">
                            <div>
                                <input type="text" ng-model="create_predict.th2_limit.value" />
                            </div>
                        </td>
                        <td class="timeout">
                            <div>
                                <input type="text" ng-model="create_predict.th2_timeout.value" />
                            </div>
                        </td>
                        <td class="co">
                            <div>
                                <select ng-options="s.text for s in setting.predict.co_string.statuses" ng-model="create_predict.co2_string">
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table ng-if="showCreatePredictTable(create_predict.co2_string)">
                <thead>
                    <tr>
                        <th ng-repeat="header in create_predict_th3_headers" class="{{header.class_name}}">
                            <div translate="content.admin.{{header.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            <div>
                                TH 3
                            </div>
                        </td>
                        <td class="device">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_device.statuses" ng-model="create_predict.th3_device">
                                </select>
                            </div>
                        </td>
                        <td class="compare">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_compare.statuses" ng-model="create_predict.th3_compare">
                                </select>
                            </div>
                        </td>
                        <td class="value">
                            <div>
                                <input type="text" ng-model="create_predict.th3_num.value" />
                            </div>
                        </td>
                        <td class="limit">
                            <div>
                                <input type="text" ng-model="create_predict.th3_limit.value" />
                            </div>
                        </td>
                        <td class="timeout">
                            <div>
                                <input type="text" ng-model="create_predict.th3_timeout.value" />
                            </div>
                        </td>
                        <td class="co">
                            <div>
                                <select ng-options="s.text for s in setting.predict.co_string.statuses" ng-model="create_predict.co3_string">
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="clearfix"></p>
            <table ng-if="showCreatePredictTable(create_predict.co3_string)">
                <thead>
                    <tr>
                        <th ng-repeat="header in create_predict_th4_headers" class="{{header.class_name}}">
                            <div translate="content.admin.{{header.name}}"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th_num">
                            <div>
                                TH 4
                            </div>
                        </td>
                        <td class="device">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_device.statuses" ng-model="create_predict.th4_device">
                                </select>
                            </div>
                        </td>
                        <td class="compare">
                            <div>
                                <select ng-options="s.text for s in setting.predict.th_compare.statuses" ng-model="create_predict.th4_compare">
                                </select>
                            </div>
                        </td>
                        <td class="value">
                            <div>
                                <input type="text" ng-model="create_predict.th4_num.value" />
                            </div>
                        </td>
                        <td class="limit">
                            <div>
                                <input type="text" ng-model="create_predict.th4_limit.value" />
                            </div>
                        </td>
                        <td class="timeout">
                            <div>
                                <input type="text" ng-model="create_predict.th4_timeout.value" />
                            </div>
                        </td>
                        <td class="co">
                            <div>
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="clearfix"></p>
        <div class="predict_footer">
            <div class="btn_wrap">
                <a href="" class="btn btn-sm btn-primary submit_btn" ng-click="createPredict()" translate="content.admin.Submit"></a>
                <a href="" class="btn btn-sm bg-primary" ng-click="close()" translate="content.admin.Close"></a>
            </div>
        </div>
        <p class="clearfix"></p>
    </div>
</div>
