<ul>
    <!-- For SuperAdmin -->
    <li ng-repeat="menu in super_nav_menu" ng-if="userType == 'SUPERADMIN'">
        <a ng-href="{{menu.a_href}}" ng-class="{'active': onActiveMenu(currentURI(), menu.link_tag)}">
            <i class="fa fa-{{menu.icon}}"></i> <span translate="content.admin.{{menu.title}}"></span>
        </a>
    </li>
    <!-- //For SuperAdmin -->
    <!-- For Admin -->
    <li ng-repeat="menu in admin_nav_menu" ng-if="userType == 'ADMIN'">
        <a ng-href="{{menu.a_href}}" ng-class="{'active': onActiveMenu(currentURI(), menu.link_tag)}">
            <i class="fa fa-{{menu.icon}}"></i> <span translate="content.admin.{{menu.title}}"></span>
        </a>
    </li>
    <!-- //For Admin -->
    <!-- For Member -->
    <li ng-repeat="menu in manager_nav_menu" ng-if="userType == 'MANAGER'">
        <a ng-href="{{menu.a_href}}" ng-class="{'active': onActiveMenu(currentURI(), menu.link_tag)}">
            <i class="fa fa-{{menu.icon}}"></i> <span translate="content.admin.{{menu.title}}"></span>
        </a>
    </li>
    <!-- //For Member -->
    <!-- For Member -->
    <li class="my_information" ng-repeat="menu in member_nav_menu" ng-if="userType == 'ADMIN' || userType == 'MANAGER' || userType == 'MEMBER' || userType == 'SUPERADMIN'">
        <a ng-href="{{menu.a_href}}" ng-class="{'active': onActiveMenu(currentURI(), menu.link_tag)}">
            <i class="fa fa-{{menu.icon}}"></i> <span translate="content.admin.{{menu.title}}"></span>
        </a>
    </li>
    <!-- //For Member -->
</ul>
