<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.MyInformation"></div>
        <div class="sub_well_area">
            <div class="well">
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide1"></span>
                </p>
                <p>
                    <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.guide2"></span>
                </p>
                <p ng-show="password.type1.status < 3">
                    <span class="brand-{{password.type1.check_flag}}"><i class="fa fa-{{password.type1.check_icon}}"></i> <span translate="content.admin.msg.{{password.type1.check_msg}}"></span></span>
                </p>
                <p ng-show="password.type2.status < 3">
                    <span class="brand-{{password.type2.check_flag}}"><i class="fa fa-{{password.type2.check_icon}}"></i> <span translate="content.admin.msg.{{password.type2.check_msg}}"></span></span>
                </p>
            </div>
        </div>
        <div class="myinfo_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.ID"></label>
                </div>
                <div class="item-wrapper input_value">
                    {{user.userID || 'No Auth'}}
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label for="password" translate="content.admin.Password"></label>
                </div>

                <div class="input_value">
                    <input class="password" ng-class="{'success' : password.type1.status==0, 'warning' : password.type1.status==1, 'danger' : password.type1.status==2}" type="password" id="password" ng-if="show_flag" ng-model="password.type1.txt" ng-change="checkPassword(password.type1.txt, null)" />
                    <a href="" class="btn btn-xs btn-primary" ng-if="!show_flag" ng-click="editPassword()" translate="content.admin.Edit"></a>
                    <a href="" class="btn btn-xs btn-danger" ng-if="show_flag" ng-disabled="password.type1.status != 0 || password.type2.status != 0" ng-click="savePassword()" translate="content.admin.Save"></a>
                </div>

                <span ng-if="show_flag">
                    <p class="clearfix visible-xs-block"></p>

                    <div class="input_label">
                        <label for="re_password" translate="content.admin.RetypePassword"></label>
                    </div>
                    <div class="input_value">
                        <input class="password" ng-class="{'success' : password.type2.status==0, 'warning' : password.type2.status==1, 'danger' : password.type2.status==2}" type="password" id="re_password" ng-model="password.type2.txt" ng-change="checkPassword(null, password.type2.txt)" />
                        <a href="" class="btn btn-xs btn-default" ng-if="show_flag" ng-click="cancelEditPassword()" translate="content.admin.Cancel"></a>
                    </div>
                </span>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.2-Step"></label>
                </div>
                <div class="item-wrapper input_value two_step">
                    <a href="#"
                       editable-select="user.userOTP"
                       e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                       onbeforesave="updateUserByDB('userOTP', $data)">
                        {{showActiveStatus(user.userOTP)}}
                    </a>
                    <a href="" class="btn btn-xs btn-primary self_opt_reset_btn" ng-click="otp_reset('SELF')" translate="content.admin.Reset"></a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Name"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="user.userName"
                       onbeforesave="updateUserByDB('userName', $data)">
                      {{user.userName || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.E-Mail"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="user.email"
                       onbeforesave="updateUserByDB('email', $data)">
                        {{user.email || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.Cellphone"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="user.phone"
                       onbeforesave="updateUserByDB('phone', $data)">
                        {{user.phone || 'empty'}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <div class="myinfo_sec_content_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="left_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.DateFormat"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-select="user_date_format"
                       e-ng-options="s.value as s.text for s in setting.date_fmt.statuses"
                       onbeforesave="updateUserByDB('date_format', $data)">
                        {{showDateFormatStatus(user_date_format)}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.RefreshTime"></label>
                </div>
                <div class="item-wrapper input_value">
                    <a href=""
                       editable-text="user.refresh_time"
                       onbeforesave="updateUserByDB('refresh_time', $data)">
                        {{user.refresh_time || 'empty'}}
                    </a> <span translate="content.admin.(sec)"></span>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>
            <div class="right_area">

                <p class="clearfix visible-xs-block"></p>

                <div class="input_label">
                    <label translate="content.admin.TimeZone"></label>
                </div>
                <div class="item-wrapper input_value time_zone">
                    <a href=""
                       editable-select="user_time_zone"
                       e-ng-options="s.value as s.text for s in setting.time_zone.statuses"
                       onbeforesave="updateUserByDB('time_zone', $data)">
                        {{showTimeZoneStatus(user_time_zone)}}
                    </a>
                </div>

                <p class="clearfix visible-xs-block"></p>

            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <!-- User Assigned -->
        <div class="assign_tagging_area">
            <div class="sub_title" translate="content.admin.TaggingList"></div>
            <div class="assign_tagging_wrap">
                <div class="assign_tagging_list_area">
                    <div class="assign_tagging_list my_box">
                        <a href="" class="btn btn-success btn-xs sync_btn" ng-click="updateTagging()">
                            <i class="fa fa-check"></i> <span translate="content.admin.CurrentTagsCheck"></span>
                        </a>
                        <div ng-repeat="tag in tag_selection" class="tag_box">
                            <span class="overflow_dot">
                                <i class="fa" ng-class="{'fa-check-circle': tag.tag, 'fa-circle': !tag.tag, 'brand-success': true}"></i> <a href="" class="brand-666" ng-click="tag_toggleSelection(tag.key, tag.alias)">{{tag.alias}}</a>
                            </span>
                        </div>
                        <p class="clearfix visible-xs-block"></p>
                    </div>
                </div>
                <div class="assign_tagging_table_area">
                    <table ng-table="tagTableParams" class="sub_content_table tagging_table">
                        <thead>
                            <tr>
                                <th ng-repeat="header in tagging_headers" class="{{header.class_name}}" translate="content.admin.{{header.name}}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $data">
                                <td class="no">{{(tagTableParams.page()-1)*20 + $index+1}}</td>
                                <td class="tag">
                                    <a href="" ng-click="tag_toggleSelection(item.key, item.alias)" ng-class="{'active': getIndexOf(tag_selection, 'key', item.key) > -1, 'unactive': getIndexOf(tag_selection, 'key', item.key) == -1}">
                                        <i class="fa" ng-class="{'fa-link': getIndexOf(tag_selection, 'key', item.key) > -1, 'fa-unlink': getIndexOf(tag_selection, 'key', item.key) == -1}"></i>
                                    </a>
                                </td>
                                <td class="name">{{item.alias}}</td>
                                <td class="site">{{item.site}}</td>
                                <td class="location">{{item.location}}</td>
                                <td class="shop">{{item.shop}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- //User Assigned -->
    </div>
    <!-- //admin Content -->
</div>
