<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
    <div class="sub_title" translate="content.admin.Create User"></div>
    <div class="sub_well_area">
        <div class="well">
            <p>
                <i class="fa fa-check"></i> <span class="brand-info" translate="content.admin.adminGuide5"></span>
            </p>
            <p ng-show="UserInfoByManager.userID.status < 3">
                <span class="brand-{{UserInfoByManager.userID.check_flag}}"><i class="fa fa-{{UserInfoByManager.userID.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoByManager.userID.check_msg}}"></span></span>
            </p>
            <p ng-show="UserInfoByManager.userPW.status < 3">
                <span class="brand-{{UserInfoByManager.userPW.check_flag}}"><i class="fa fa-{{UserInfoByManager.userPW.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoByManager.userPW.check_msg}}"></span></span>
            </p>
            <p ng-show="UserInfoByManager.userRetypePW.status < 3">
                <span class="brand-{{UserInfoByManager.userRetypePW.check_flag}}"><i class="fa fa-{{UserInfoByManager.userRetypePW.check_icon}}"></i> <span translate="content.admin.msg.{{UserInfoByManager.userRetypePW.check_msg}}"></span></span>
            </p>
        </div>
    </div>
    <div class="user_create_content_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="left_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="userID" translate="content.admin.ID"></label>
            </div>
            <div class="input_value">
                <input type="text" ng-class="{'success': UserInfoByManager.userID.status == 0, 'warning': UserInfoByManager.userID.status == 1, 'danger': UserInfoByManager.userID.status == 2}" ng-model="UserInfoByManager.userID.text" id="userID" ng-change="checkUserID()" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="password" translate="content.admin.Password"></label>
            </div>
            <div class="input_value">
                <input type="password" ng-class="{'success': UserInfoByManager.userPW.status == 0, 'warning': UserInfoByManager.userPW.status == 1, 'danger': UserInfoByManager.userPW.status == 2}" ng-model="UserInfoByManager.userPW.text" id="password" ng-change="checkUserPW(UserInfoByManager.userPW.text, null)" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="re_password" translate="content.admin.RetypePassword"></label>
            </div>
            <div class="input_value">
                <input type="password" ng-class="{'success': UserInfoByManager.userRetypePW.status == 0, 'warning': UserInfoByManager.userRetypePW.status == 1, 'danger': UserInfoByManager.userRetypePW.status == 2}" ng-model="UserInfoByManager.userRetypePW.text" id="re_password" ng-change="checkUserPW(null, UserInfoByManager.userRetypePW.text)" />
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <div class="right_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="userName" translate="content.admin.Name"></label>
            </div>
            <div class="input_value">
                <input id="userName" ng-model="UserInfoByManager.userName.text" type="text" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="tel" translate="content.admin.Cellphone"></label>
            </div>
            <div class="input_value">
                <input id="tel" ng-model="UserInfoByManager.phone.text" type="text" />
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="email" translate="content.admin.E-Mail"></label>
            </div>
            <div class="input_value">
                <input id="email" ng-model="UserInfoByManager.email.text" type="text" />
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <div class="user_create_sec_content_area">

        <p class="clearfix visible-xs-block"></p>

        <div class="left_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="date_format" translate="content.admin.DateFormat"></label>
            </div>
            <div class="input_value">
                <select id="date_format" ng-options="format.text for format in date_formats" ng-model="select_format" ng-change="setFormat(select_format.value)">
                </select>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="refresh_time" translate="content.admin.RefreshTime"></label>
            </div>
            <div class="input_value">
                <input id="refresh_time" ng-model="UserInfoByManager.refresh_time.text" type="text" />
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>
        <div class="right_area">

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="time_zone" translate="content.admin.TimeZone"></label>
            </div>
            <div class="input_value">
                <select id="time_zone" ng-options="zone.text for zone in time_zones" ng-model="select_zone" ng-change="setZone(select_zone.value)">
                </select>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="input_label">
                <label for="time_zone" translate="content.admin.Authorizations"></label>
            </div>
            <div class="input_value item-wrapper user_auth">
                <a href="#" editable-checklist="user_auth.status" e-ng-options="s.value as s.text for s in user_auth.statuses">
                    {{ setAuth() }}
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

        </div>

        <p class="clearfix visible-xs-block"></p>

    </div>

    <div class="btn_area">
        <a class="btn btn-primary user_create_btn btn-sm" href="" ng-disabled="disabledCreateUser()" ng-click="createUser()" translate="content.admin.Submit"></a>
    </div>
    </div>
    <!-- //admin Content -->
</div>
