<div class="admin_wrap">
    <!-- admin Menu -->
    <div ng-include="admin_nav_uri" class="admin_menu"></div>
    <!-- //admin Menu -->
    <!-- admin Content -->
    <div class="admin_content">
        <div class="sub_title" translate="content.admin.DisplayModelList"></div>
        <div class="display_model">
            <table ng-table="displayModelTableParams" class="sub_content_table admin_list_table">
                <thead>
                <tr>
                  <th ng-repeat="header in admin_mpdp_table"
                      ng-class="{'sortable': header.sortable}"
                      ng-click="header.sortable? displayModelTableParams.sorting(header.field, displayModelTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):''">
                      <div translate="content.admin.{{header.name}}">
                          <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': displayModelTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': displayModelTableParams.isSortBy(header.field, 'desc')}"></i>
                      </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in $data">
                    <td class="ID" ng-click="getDisplayInfo()">
                        <a ng-href="./#/admin/device_dp/info?dp_num={{item.id}}">
                            {{item.id}}
                        </a>
                    </td>
                    <td class="name">
                        <a ng-href="./#/admin/device_dp/info?dp_num={{item.id}}">
                            {{item.name}}
                        </a></td>
                    <td class="img_location">{{item.img_location}}</td>
                    <td class="specification">{{item.specification}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- //admin Content -->
</div>
