<div class="delete_wrap">
    <div class="del_confirm_box">
        <div class="title">
            <i class="fa fa-trash"></i> <span translate="modal.delete.Delete"></span>
        </div>
        <div class="del_content" translate="modal.delete.ment"></div>
        <div class="del_btn_area">
            <a href="" class="btn btn-danger btn-xs btn_ok" ng-click="ok()" translate="modal.delete.OK"></a>
            <a href="" class="btn btn-default btn-xs" ng-click="close()" translate="modal.delete.Cancel"></a>
        </div>
    </div>
</div>
