<div class="slide_modal">
    <div ng-if="isSlide==true">
        <carousel>
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" alt="mediaplayer images" />
            </slide>
        </carousel>
    </div>

    <div ng-if="isSlide==false">
        <img ng-src="{{slides}}" alt="mediaplayer image" />
    </div>
</div>
