<div class="general_area" ng-controller="AdministrationCtrl">
    <div class="sub_title">
        General
    </div>
    <div class="sub_content">
        <table class="general_table">
            <tr>
                <th class="th_type">Type</th>
                <th class="th_value">Value</th>
            </tr>
            <tr ng-repeat="info in TIME_INFO">
                <td class="td_type">{{info.name}}</td>
                <td class="item-wrapper td_value" ng-class="{'time_zone':info.class_type=='time_zone'}">
                    <a href="#"
                       editable-text="setting.{{info.field}}"
                       onbeforesave="updateSetting(info.field, $data)"
                       ng-if="info.type=='text'">{{setting[info.field] || 'Not set'}}</a>
                    <a href="#"
                       editable-select="setting.{{info.field}}"
                       e-ng-options="s.value as s.text for s in {{info.statuses}}"
                       onbeforesave="updateSetting(info.field, $data)"
                       ng-if="info.type=='select'">{{ showStatus(info.statuses, setting[info.field]) }}</a>
                </td>
            </tr>
        </table>
    </div>
</div>