<div class="help_menual_wrap">
    <div class="help_menual_box">
        <div class="title">
            <i class="fa fa-download"></i> <span translate="content.help.DownLoadManual"></span>
            <a class="close_btn" ng-click="close()" href="">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="menual1">
            <p class="sub_ment" translate="content.help.InstallationGuide"></p>
            <a target="_blank" href="../download/doc/manual/Adams_Suite_Agent_InstallationGuide_EN.pdf" class="btn btn-xs btn-default btn_update">
                <i class="fa fa-download"></i> <span translate="content.help.DownLoad(EN)"></span>
            </a><br>
            <a target="_blank" href="../download/doc/manual/Adams_Suite_Agent_InstallationGuide_KR.pdf" class="btn btn-xs btn-default btn_update">
                <i class="fa fa-download"></i> <span translate="content.help.DownLoad(KR)"></span>
            </a>
        </div>
        <div class="menual2">
            <p class="sub_ment" translate="content.help.OperationGuide"></p>
            <a target="_blank" href="../download/doc/manual/Adams_Suite_Operations_Manual_EN.pdf" class="btn btn-xs btn-default btn_update">
                <i class="fa fa-download"></i> <span translate="content.help.DownLoad(EN)"></span>
            </a><br>
            <a target="_blank" href="../download/doc/manual/Adams_Suite_Operations_Manual_KR.pdf" class="btn btn-xs btn-default btn_update">
                <i class="fa fa-download"></i> <span translate="content.help.DownLoad(KR)"></span>
            </a>
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>
</div>
