<div class="remote_connect_wrap">
    <p class="title">
        <i class="fa fa-windows"></i> <span translate="modal.remote.Initial Setting"></span>
    </p>
    <div class="remote_connect_wrap_line">
        <p class="connect_ment" translate="modal.remote.ment"></p>
        <p class="btn_line">
            <a href="" class="btn btn-danger btn-sm" ng-click="onClickReset()" translate="modal.remote.yes"></a>
            <a href="" class="btn btn-default btn-sm" ng-click="close()" translate="modal.remote.no"></a>
        </p>
    </div>
</div>
