<div class="info_wrap">
    <div class="sub_title">
        {{live_status.Information.data.text}}'s Information
    </div>
    <div class="total_content">
        <div class="well_wrap">
            <div class="well" bind-html-unsafe="information.description">
            </div>
        </div>
        <!--div class="total_info_table_wrap">
            <table class="total_info_table">
                <thead>
                <tr>
                    <th class="th_status">Status</th>
                    <th class="th_display">Display</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border_line_primary">
                    <td class="td_status">Normal</td>
                    <td class="td_display">
                        {{live_status.Information.data.normal_count}}
                    </td>
                </tr>
                <tr class="border_line_warning">
                    <td class="td_status">Check required</td>
                    <td class="td_display">{{live_status.Information.data.check_required_count}}</td>
                </tr>
                <tr class="border_line_danger">
                    <td class="td_status">Unresolved</td>
                    <td class="td_display">{{live_status.Information.data.unresolved_count}}</td>
                </tr>
                <tr class="border_line_success">
                    <td class="td_status">Disconnected</td>
                    <td class="td_display">{{live_status.Information.data.disconnected_count}}</td>
                </tr>
                <tr class="result_total">
                    <td class="td_status">Total</td>
                    <td class="td_display">{{live_status.Information.data.total_count}}</td>
                </tr>
                </tbody>
            </table>
        </div-->
    </div>
</div>
