<div class="live_historical_view_modal_wrap">
    <div class="live_historical_view_modal_wrap_box">
        <div class="live_historical_view_modal_title">
            Historical View
            <a class="close_btn" ng-click="close()" href="">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="label_box">
            <div class="chart_label">
                <div class="line1">&nbsp;</div>
                <span translate="modal.historical.Threshold Error Level"></span>
                <p class="clearfix"></p>
            </div>
            <div class="chart_label">
                <div class="line2">&nbsp;</div>
                <span translate="modal.historical.Threshold Warning Level"></span>
                <p class="clearfix"></p>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="live_historical_view_modal_content">
            <highchart config="hv_dp_temp_config"></highchart>
            <p class="clearfix"></p>
        </div>
    </div>
</div>
