
<div class="live_wrap">
    <!-- Tree -->
    <div ng-include="tree_uri" class="tree_area"></div>
    <!-- //Tree -->

    <!-- Live Content -->
    <div class="live_content" ng-init="section_cookie_set()">
        <!-- TOP: Path -->
        <div ng-include="path_uri" class="path_area"></div>
        <!-- //TOP: Path -->

        <p class="clearfix visible-xs-block"></p>

        <!-- info_content -->
        <div class="info_content" ng-if="live_status.Information.flag" ng-include="info_uri"></div>
        <!-- //info_content -->

        <!-- mp_content -->
        <div class="mp_content" ng-if="live_status.MediaPlayer.flag" ng-controller="MediaPlayerCtrl">
            <!-- Tab List -->
            <div class="link_list_area" ng-include="tab_uri"></div>
            <!-- //Tab List -->

            <p class="clearfix visible-xs-block"></p>

            <!-- For Tab Space -->
            <div bind-html-unsafe="showEmptySpace('mp', tab_length)"></div>
            <!-- //For Tab Space -->

            <p class="clearfix visible-xs-block"></p>

            <!-- DISCONNECT -->
            <div bind-html-unsafe="showDisconnected('mp', media_player['alive'], media_player['svr_conn'])"></div>
            <!-- //DISCONNECT -->

            <p class="clearfix visible-xs-block"></p>

            <!-- Section: Resource Usage & Status -->
            <div class="section">
                <div class="sub_title title_toggle" ng-click="onClickSubTitle('m_sec3')" translate="content.liveStatus.Resource">
                    <i class="sub_title_icon fa" ng-class="{'fa-angle-down': m_sec3_cookie, 'fa-angle-up': !m_sec3_cookie}"></i>
                </div>
                <div class="sub_content" ng-hide="m_sec3_cookie">
                    <div class="resource_img_area">
                        <img ng-if="media_player['serial_number']"
                             class="resource_slide_img"
                             ng-click="openStaticGalleryDialog(img_url)"
                             ng-src="{{img_url}}"
                             alt="remote image" onError="var blankSrc='/img/common/noimg.png';this.src=blankSrc;" />
                    </div>
                    <div class="resource_info_area">
                        <div ng-repeat="info in RESOURCE_USAGE_AND_STATUS">
                            <div ng-class="{'sort_left': $even, 'sort_right': $odd}">
                                <div class="line_th overflow_dot">
                                    &middot; <span ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}" translate="content.liveStatus.{{info.name}}"></span>
                                </div>
                                <div class="line_td overflow_dot" ng-if="info.type=='text_edit'" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                    <div class="item-wrapper">
                                        <a href="" editable-text="media_player.{{info.field}}" onbeforesave="updateMediaPlayerByDB(info.field, $data)">
                                            <span class="brand-NA" ng-if="status_type_NA(media_player[info.field])">N/A</span>
                                        <span ng-if="status_type_normal(media_player[info.field])">
                                            {{media_player[info.field]}} {{info.unit}}
                                        </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="line_td overflow_dot" ng-if="info.type=='text'" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                    <span class="brand-NA" ng-if="status_type_NA(media_player[info.field])">N/A</span>
                                    <span ng-if="status_type_normal(media_player[info.field])">
                                        {{media_player[info.field]}} {{info.unit}}
                                    </span>
                                </div>
                                <div class="line_td overflow_dot" ng-if="info.type=='text_conn'" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                    <span ng-class="{'brand-danger': media_player[info.field] == 'Disconnected'}">
                                        {{conn_change_char(media_player[info.field])}} {{info.unit}}
                                    </span>
                                </div>
                                <div class="line_td" ng-if="info.type=='text_date'">
                                    <span ng-if="status_type_normal(media_player[info.field])">
                                        {{media_player[info.field] | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus()}}
                                    </span>
                                    <span class="brand-NA" ng-if="status_type_NA(media_player[info.field])">N/A</span>
                                </div>
                                <div class="line_td" ng-if="info.type=='text_fan'" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                    <span ng-if="status_type_zero(media_player[info.field])">
                                        {{media_player[info.field] | number:0}} {{info.unit}}
                                    </span>
                                    <span class="brand-NA" ng-if="status_type_zero_NA(media_player[info.field])">N/A</span>
                                </div>
                                <div class="line_td" ng-if="info.type=='text_temp'" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                    <span ng-if="status_type_zero(media_player[info.field])">
                                        {{media_player[info.field]}} {{info.unit}} / {{tempConverter('F', media_player[info.field]) | number:0}} {{info.unit2}}
                                    </span>
                                    <span class="brand-NA" ng-if="status_type_zero_NA(media_player[info.field])">N/A</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Section: Resource Usage & Status -->

            <p class="clearfix visible-xs-block"></p>

            <!-- Section: Running Status -->
            <div class="section">
                <div class="sub_title title_toggle" ng-click="onClickSubTitle('m_sec4')" translate="content.liveStatus.RunningStatus">
                    <i class="sub_title_icon fa" ng-class="{'fa-angle-down': m_sec4_cookie, 'fa-angle-up': !m_sec4_cookie}"></i>
                </div>
                <div class="sub_content" ng-hide="m_sec4_cookie">
                    <table class="running_status_table">
                        <thead>
                            <tr>
                                <th class="{{header.class_name}}" ng-repeat="header in APP_INFO_Headers" translate="content.liveStatus.{{header.name}}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td_type" translate="content.liveStatus.OS"></td>
                                <td class="td_name">
                                    <span class="overflow_dot_os">
                                        {{media_player["os"]}}
                                    </span>
                                </td>
                                <td class="td_cpu"></td>
                                <td class="td_memory"></td>
                                <td class="td_status">OK</td>
                                <td class="td_action">
                                    <button class="btn btn-primary btn-xs" ng-click="openRequestDM('mediaplayer_control', 'RESTART', 'RESTART', media_player['serial_number'])">
                                        <b class="fa fa-recycle"></b> <span translate="content.liveStatus.Restart"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_type" translate="content.liveStatus.Agent"></td>
                                <td class="td_name">
                                    <span ng-if="!!media_player.agent_version">
                                        {{media_player.agent_version}}
                                    </span>
                                    <span class="brand-NA" ng-if="!media_player.agent_version">
                                        N/A
                                    </span>
                                </td>
                                <td class="td_cpu"></td>
                                <td class="td_memory"></td>
                                <td class="td_status"></td>
                                <td class="td_action">
                                    <button class="btn btn-primary btn-xs" ng-click="openRequestDM('agent_control', 'restart', 'display_indexs', media_player['serial_number'])">
                                        <b class="fa fa-recycle"></b> <span translate="content.liveStatus.Restart"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat="mp_app in APP_INFO">
                                <td class="td_type" ng-class="{'brand-warning': media_player[mp_app.check_status]==1, 'brand-danger': media_player[mp_app.check_status]==2}"><span translate="content.liveStatus.Application"></span> {{$index+1}}</td>
                                <td class="td_name">
                                    <div class="item-wrapper">
                                        <a href="" editable-text="media_player[mp_app.path]" onbeforesave="updateMediaPlayerByDB(mp_app.path, $data)" ng-if="isMP_Info">
                                            <span ng-if="app_status_type_normal(media_player[mp_app.path])">
                                                {{media_player[mp_app.path]}}
                                            </span>
                                            <span class="brand-NA" ng-if="app_status_type_NA(media_player[mp_app.path])">N/A</span>
                                        </a>
                                        <span ng-if="!isMP_Info">
                                            <span ng-if="app_status_type_normal(media_player[mp_app.path])">
                                                {{media_player[mp_app.path]}}
                                            </span>
                                            <span class="brand-NA" ng-if="app_status_type_NA(media_player[mp_app.path])">N/A</span>
                                        </span>
                                    </div>
                                </td>
                                <td class="td_cpu" ng-class="{'brand-warning': media_player[mp_app.check_status]==1, 'brand-danger': media_player[mp_app.check_status]==2}">
                                    <span ng-if="app_status_type_normal(media_player[mp_app.path])">{{media_player[mp_app.cpu]}} {{mp_app.unit}}</span>
                                    <span class="brand-NA" ng-if="app_status_type_NA(media_player[mp_app.path])">N/A</span>
                                </td>
                                <td class="td_memory" ng-class="{'brand-warning': media_player[mp_app.check_status]==1, 'brand-danger': media_player[mp_app.check_status]==2}">
                                    <span ng-if="app_status_type_normal(media_player[mp_app.path])">{{media_player[mp_app.memory]}} {{mp_app.unit}}</span>
                                    <span class="brand-NA" ng-if="app_status_type_NA(media_player[mp_app.path])">N/A</span>
                                </td>
                                <td class="td_status" ng-class="{'brand-warning': media_player[mp_app.check_status]==1, 'brand-danger': media_player[mp_app.check_status]==2}">
                                    <span ng-if="app_status_type_normal(media_player[mp_app.path])">{{media_player[mp_app.status] | uppercase}}</span>
                                    <span class="brand-NA" ng-if="app_status_type_NA(media_player[mp_app.path])">N/A</span>
                                </td>
                                <td class="td_action">
                                    <button class="btn btn-primary btn-xs"
                                            ng-disabled="app_status_action_disable(media_player[mp_app.path]) || !isMP_Info"
                                            ng-show="media_player[mp_app.status]=='stop'"
                                            ng-click="updateMediaPlayerByDM('application_control', 'START', media_player[mp_app.path])">
                                        <i class="fa fa-play"></i> <span translate="content.liveStatus.Start"></span>
                                    </button>
                                    <button class="btn btn-primary btn-xs"
                                            ng-disabled="app_status_action_disable(media_player[mp_app.path]) || !isMP_Info"
                                            ng-show="media_player[mp_app.status]!='stop'"
                                            ng-click="updateMediaPlayerByDM('application_control', 'STOP', media_player[mp_app.path])">
                                        <i class="fa fa-stop"></i> <span translate="content.liveStatus.Stop"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //Section: Running Status -->

            <p class="clearfix visible-xs-block"></p>

            <!-- Section: Device Information -->
            <div class="section">
                <div class="sub_title title_toggle" ng-click="onClickSubTitle('m_sec1')" translate="content.liveStatus.DeviceInformation">
                    <i class="sub_title_icon fa" ng-class="{'fa-angle-down': m_sec1_cookie, 'fa-angle-up': !m_sec1_cookie}"></i>
                </div>
                <div class="sub_content" ng-hide="m_sec1_cookie">
                    <div class="mp_device_img_area">
                        <div class="slide_img_wrap" ng-if="!(IsIE8())">
                            <div ng-if="slides.length == 0">
                                <img class="slide_img" src="/img/common/noimg.png" />
                            </div>
                            <div ng-if="slides.length != 0">
                                <carousel>
                                    <slide ng-repeat="slide in slides" active="slide.active">
                                        <img class="slide_img" ng-src="{{slide.image}}" ng-click="openGalleryDialog(true, slides, slide.image)">
                                    </slide>
                                </carousel>
                            </div>
                        </div>
                        <div class="slide_img_wrap" ng-if="IsIE8()">
                            <img class="slide_img" ng-src="{{static_mp_img_uri}}" onError="var blankSrc = '/img/common/noimg.png'; this.src = blankSrc;" />
                        </div>
                        <div class="btn_area">
                            <a ng-click="openPDF(mp_spec_pdf_uri, media_player.model)" class="btn btn-primary btn-xs" translate="content.liveStatus.Specification"></a>
                        </div>
                    </div>

                    <div class="mp_device_txt_area">
                        <div ng-repeat="info in MP_INFO_SPEC">
                            <div class="line">
                                &middot; <span translate="content.liveStatus.{{info.name}}"></span> : {{get(media_player, info.field)}} {{info.unit}}
                            </div>
                        </div>
                    </div>
                    <div class="mp_device_info_area">
                        <div ng-repeat="info in MP_INFO">
                            <div class="line_th overflow_dot">
                                &middot; <span translate="content.liveStatus.{{info.name}}"></span>
                            <span class="brand-memo" ng-if="info.unit_type=='date_format'">
                                ( {{showDateFormatStatus(user.date_format)}} )
                            </span>
                            </div>
                            <div class="line_td" ng-if="info.type=='readOnly'">
                                <span class="overflow_dot" ng-if="mp_info_type_normal(get(media_player, info.field))">{{get(media_player, info.field)}}</span>
                                <span class="brand-NA" ng-if="mp_info_type_NA(get(media_player, info.field))">N/A</span>
                            </div>
                            <div class="item-wrapper line_td" ng-if="info.type=='text'">
                                <span class="overflow_dot" ng-if="info.editable_type!='warrent'">
                                    <a href="#"
                                       editable-text="media_player.{{info.field}}"
                                       onbeforesave="updateMediaPlayerByDB(info.field, $data)"
                                       ng-if="isDevice_Info">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!='' && get(media_player, info.field)!='N/A'">{{get(media_player, info.field)}}</span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)=='' || get(media_player, info.field)=='N/A'">N/A</span>
                                    </a>
                                    <span ng-if="!isDevice_Info">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!='' && get(media_player, info.field)!='N/A'">{{get(media_player, info.field)}}</span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)=='' || get(media_player, info.field)=='N/A'">N/A</span>
                                    </span>
                                </span>
                                <span class="overflow_dot" ng-if="info.editable_type=='warrent'">
                                    <a href="#"
                                       editable-text="media_player.{{info.field}}"
                                       onbeforesave="updateMediaPlayerByDB(info.field, $data)"
                                       ng-if="userType=='ADMIN'">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!='' && get(media_player, info.field)!='N/A'">{{get(media_player, info.field)}}</span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)=='' || get(media_player, info.field)=='N/A'">N/A</span>
                                    </a>
                                    <span ng-if="userType!='ADMIN'">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!='' && get(media_player, info.field)!='N/A'">{{get(media_player, info.field)}}</span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)=='' || get(media_player, info.field)=='N/A'">N/A</span>
                                    </span>
                                </span>
                            </div>
                            <div class="item-wrapper line_td" ng-if="info.type=='date'">
                                <p ng-if="info.editable_type!='warrent'">
                                    <a class="editable editable-click"
                                       href=""
                                       ng-model="media_player[info.field]"
                                       ng-click="openCalendar($event, 'media_player', info)"
                                       ng-change="changeDate('media_player', media_player[info.field], info)"
                                       datepicker-popup="yyyy-MM-dd" is-open="opened['media_player'][info.field]"
                                       datepicker-append-to-body="true"
                                       show-button-bar="false">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!=''">
                                            {{get(media_player, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                        </span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)==''">N/A</span>
                                    </a>
                                </p>
                                <p ng-if="info.editable_type=='warrent'">
                                    <a class="editable editable-click"
                                       href=""
                                       ng-if="userType=='ADMIN'"
                                       ng-model="media_player[info.field]"
                                       ng-click="openCalendar($event, 'media_player', info)"
                                       ng-change="changeDate('media_player', media_player[info.field], info)"
                                       datepicker-popup="yyyy-MM-dd" is-open="opened['media_player'][info.field]"
                                       datepicker-append-to-body="true"
                                       show-button-bar="false">
                                    <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!=''">
                                        {{get(media_player, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)==''">
                                        N/A
                                    </span>
                                    </a>
                                    <span ng-if="userType!='ADMIN'">
                                        <span ng-if="get(media_player, info.field)!='None' && get(media_player, info.field)!=undefined && get(media_player, info.field)!=null && get(media_player, info.field)!=''">
                                            {{get(media_player, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                        </span>
                                        <span class="brand-NA" ng-if="get(media_player, info.field)=='None' || get(media_player, info.field)==undefined || get(media_player, info.field)==null || get(media_player, info.field)==''">
                                            N/A
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Section: Device Information -->

            <p class="clearfix visible-xs-block"></p>

            <!-- Section: Network Information -->
            <div class="section">
                <div class="sub_title title_toggle" ng-click="onClickSubTitle('m_sec2')" translate="content.liveStatus.NetworkInformation">
                    <i class="sub_title_icon fa" ng-class="{'fa-angle-down': m_sec2_cookie, 'fa-angle-up': !m_sec2_cookie}"></i>
                </div>
                <div class="sub_content" ng-hide="m_sec2_cookie">
                    <div ng-repeat="info in NETWORK_INFO" class="network_info_area">
                        <div ng-class="{'sort_left': $even, 'sort_right': $odd}">
                            <div class="line_th">
                                &middot; <span ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}" translate="content.liveStatus.{{info.name}}"></span>
                            </div>
                            <div class="line_td">
                                <span ng-if="info.type == 'text'">
                                    <span class="brand-NA" ng-if="network_NA(info.field, media_player[info.field])">N/A</span>
                                    <span class="overflow_dot" ng-if="network_no_NA(info.field, media_player[info.field])" ng-class="{'brand-warning': media_player[info.status]==1, 'brand-danger': media_player[info.status]==2}">
                                        {{media_player[info.field]}} <span ng-if="info.unit"> {{info.unit}}</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Section: Network Information -->

            <p class="clearfix visible-xs-block"></p>

            <!-- Section: Support History -->
            <div class="section">
                <div class="sub_title title_toggle" ng-click="onClickSubTitle('m_sec5')" translate="content.liveStatus.SupportHistory">
                    <i class="sub_title_icon fa" ng-class="{'fa-angle-down': m_sec5_cookie, 'fa-angle-up': !m_sec5_cookie}"></i>
                </div>
                <div class="sub_content" ng-hide="m_sec5_cookie">
                    <div class="history_area" ng-include="support_history_uri"></div>
                </div>
            </div>
            <!-- //Section: Support History -->
        </div>
        <!-- //mp_content -->

        <!-- dp_content -->
        <div class="dp_content" ng-if="live_status.Display.flag" ng-controller="DisplayCtrl">
        <!-- Tab List -->
        <div class="link_list_area" ng-include="tab_uri"></div>
        <!-- //Tab List -->

        <p class="clearfix visible-xs-block"></p>

        <!-- For Tab Space -->
        <div bind-html-unsafe="showEmptySpace('dp', tab_length)"></div>
        <!-- //For Tab Space -->

        <p class="clearfix visible-xs-block"></p>

        <!-- DISCONNECT -->
        <div bind-html-unsafe="showDisconnected('dp',  media_player['alive'], display['alive'])"></div>
        <!-- //DISCONNECT -->

        <p class="clearfix visible-xs-block"></p>

        <!-- Section: Running Status -->
        <div class="section">
        <div class="sub_title title_toggle" ng-click="onClickSubTitle('d_sec3')" translate="content.liveStatus.RunningStatus">
            <i class="sub_title_icon fa" ng-class="{'fa-angle-down': d_sec3_cookie, 'fa-angle-up': !d_sec3_cookie}"></i>
        </div>
        <div class="sub_content" ng-hide="d_sec3_cookie">
        <div tabs class="status_content">
        <div pane icon="{{tab.icon}}" title="{{tab.title}}" ng-repeat="tab in DISPLAY_TAB">
        <div class="detail_tab">
        <!-- tab:layout_type: normal -->
        <div ng-repeat="info in tab.data" ng-if="tab.layout_type=='normal'">
            <div ng-class="{'sort_left': $even, 'sort_right': $odd}">
                <div class="line_th overflow_dot">
                    &middot;
                    <span ng-if="info.type!='RO_check'" ng-class="{'brand-warning': display[info.check_status]==1, 'brand-danger': display[info.check_status]==2}" translate="content.liveStatus.{{info.name}}"></span>
                    <span ng-if="info.type=='RO_check'" ng-class="{'brand-danger': display[info.field]=='NG'}" translate="content.liveStatus.{{info.name}}"></span>
                    <span class="memo" ng-if="info.memo!=undefined">
                        ( {{info.memo}} )
                    </span>
                </div>
                <div class="item-wrapper line_td">
                    <!-- type: Temp -->
                        <span ng-if="info.type=='temp'" ng-class="{'brand-warning': display[info.check_status]==1, 'brand-danger': display[info.check_status]==2}">
                            <span ng-if="dp_info_type_normal(display[info.field])">
                                {{display[info.field]}} {{info.unit}} / {{tempConverter('F', display[info.field]) | number:0}} {{info.unit2}}
                            </span>
                            <span  class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                N/A
                            </span>
                        </span>
                    <!-- //type: Temp -->
                    <!-- type: RO_check -->
                        <span ng-if="info.type=='RO_check'" ng-class="{'brand-danger': display[info.field]=='NG'}">
                            <span ng-if="dp_info_type_normal(display[info.field])">
                                {{display[info.field]}} {{info.unit}}
                            </span>
                            <span class="brand-NA brand-danger" ng-if="dp_info_type_NA(display[info.field])">
                                N/A
                            </span>
                        </span>
                    <!-- //type: RO_check -->
                    <!-- type: RO -->
                        <span ng-if="info.type=='RO'" ng-class="{'brand-warning': display[info.check_status]==1, 'brand-danger': display[info.check_status]==2}">
                            <span ng-if="dp_info_type_normal(display[info.field])">
                                {{display[info.field]}} {{info.unit}}
                            </span>
                            <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                N/A
                            </span>
                        </span>
                    <!-- //type: RO -->
                    <!-- type: RO_select -->
                        <span ng-if="info.type=='RO_select'">
                            <span ng-if="dp_info_type_normal(display[info.field])">
                                {{ showStatus(info.statuses, display[info.field]) }} {{info.unit}}
                            </span>
                            <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                N/A
                            </span>
                        </span>
                    <!-- //type: RO_select -->
                    <!-- type: date -->
                        <span ng-if="info.type=='date'">
                            <a class="editable editable-click"
                               href=""
                               ng-model="display[info.field]"
                               ng-click="openCalendar($event, 'displays', info, $parent.$parent.$index)"
                               ng-change="updateDisplayDateByDM('display_control', info.command, display[info.field], display.serial_number, 'displays', info, $parent.$parent.$index)"
                               datepicker-popup="yyyy-MM-dd" is-open="opened['displays'][$parent.$parent.$index][info.field]"
                               datepicker-append-to-body="true"
                               show-button-bar="false"
                               ng-if="isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{display[info.field] | display_Calendar : showDateFormatStatus(user.date_format)}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </a>
                            <span ng-if="!isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{display[info.field] | date_time: showDateFormatStatus(user.date_format)}} {{info.unit}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </span>
                        </span>
                  <!-- //type: date -->
                    <!-- type: time -->
                        <span ng-if="info.type=='time'">
                            <a href=""
                               editable-time="display[info.field]"
                               onbeforesave="updateDisplayTimeByDM('display_control', info.command, $data, display.serial_number, display[info.field])"
                               ng-if="isDP_Info">
                               <span ng-if="dp_info_type_normal(display[info.field])">
                                   {{display[info.field] | time: "hh:mm"}} {{info.unit}}
                               </span>
                               <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                               </span>
                            </a>
                            <span ng-if="!isDP_Info">
                               <span ng-if="dp_info_type_normal(display[info.field])">
                                   {{display[info.field] | time: "hh:mm"}} {{info.unit}}
                               </span>
                               <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                               </span>
                            </span>
                        </span>
                    <!-- //type: time -->
                    <!-- type: button -->
                        <span ng-if="info.type=='button'">
                            <a href="" class="btn btn-xs btn-default" ng-disabled="!isDP_Info" ng-click="openInitialSettingDialog(media_player['serial_number'])" translate="content.liveStatus.Reset"></a>
                        </span>
                    <!-- //type: button -->
                    <!-- type: text -->
                        <span ng-if="info.type=='text'">
                            <a href="#"
                               editable-text="display.{{info.field}}"
                               onbeforesave="updateText('display_control', info.command, $data, display.serial_number, display[info.field])"
                               ng-if="isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{display[info.field]}} {{info.unit}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </a>
                            <span ng-if="!isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{display[info.field]}} {{info.unit}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </span>
                        </span>
                    <!-- //type: text -->
                    <!-- type: select -->
                        <span ng-if="info.type=='select'">
                            <a href="#"
                               editable-select="display.{{info.field}}"
                               e-ng-options="s.value as s.text for s in {{info.statuses}}"
                               onbeforesave="updateDisplayByDM('display_control', info.command, $data, display.serial_number, display[info.field])"
                               ng-if="isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{ showStatus(info.statuses, display[info.field]) }} {{info.unit}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </a>
                            <span ng-if="!isDP_Info">
                                <span ng-if="dp_info_type_normal(display[info.field])">
                                    {{ showStatus(info.statuses, display[info.field]) }} {{info.unit}}
                                </span>
                                <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                    N/A
                                </span>
                            </span>
                        </span>
                    <!-- //type: select -->
                </div>
            </div>
        </div>
        <!-- //tab:layout_type: normal -->
        <!-- tab:layout_type: free -->
        <div ng-repeat="info in tab.data" ng-if="tab.layout_type=='free'">
        <!-- Detail Tab: Suppport -->
        <div ng-if="info.name=='support_content'" class="support_content">
            <!-- sort_left -->
            <div class="sort_left">
                <div class="file_uprade_set_area">
                    <input type="hidden" ng-model="myModelObj" />
                    <label class="support_label" translate="content.liveStatus.FilePath"></label>
                    <div class="btn_find">
                        <div class="real_btn_find_box">
                            <a class="btn btn-xs btn-primary btn_find" translate="content.liveStatus.Upload"></a>
                            <input type="file" title="upgrade file select" class="real_btn_find" ng-disabled="!isDP_Info" ng-file-select="onFileSelect($files)" onchange="javascript: document.getElementById('fileName').value = this.value" multiple />
                        </div>
                    </div>
                    <p class="clearfix"></p>
                    <div class="result_box">
                        <span ng-class="{'brand-success': progress_status == 'Complete', 'brand-primary': progress_status == 'Ready', 'brand-danger': progress_status == 'Fail'}">{{progress_ment}}</span>
                    </div>
                    <p class="clearfix"></p>
                    <textarea class="path_box ui2" id="fileName" ng-model="file_path" rows="1" cols="50" readonly> {{file_path}} </textarea>
                </div>
                <p class="clearfix"></p>
            </div>
            <!-- //sort_left -->
            <!-- sort_right -->
            <div class="sort_right">
                <div class="file_uprade_area">
                    <label translate="content.liveStatus.SegmentSize"></label>
                    <select class="ui2" ng-model="segment" ng-disabled="!isDP_Info" ng-options="segment.size for segment in segments" ng-change="setSegmentSize(segment.data)"></select>
                    <a href="" class="btn btn-danger btn-xs" ng-disabled="!isDP_Info" ng-click="firmwareUpgrade('display_control', info.command, display.serial_number)" translate="content.liveStatus.Upgrade"></a>
                </div>
            </div>
            <!-- //sort_right -->
        </div>
        <!-- //Detail Tab: Suppport -->
        <!-- Detail Tab : Schedule -->
        <div ng-if="info.name=='schedule_content'" ng-init="setDisplaySN(display.serial_number)" class="schedule_content">
            <!-- Schedule Setting -->
                <div class="schedule_set_area">
                    <p>
                        <label class="th_label" translate="content.liveStatus.Power"></label>
                    <div class="td_area">
                        <input id="power_on" ng-disabled="!isDP_Info" ng-model="schedule_btn_power" type="radio" value="on" />
                        <label for="power_on" translate="content.liveStatus.ON"></label>
                        <input id="power_off" ng-disabled="!isDP_Info" ng-model="schedule_btn_power" type="radio" value="off" />
                        <label for="power_off" translate="content.liveStatus.OFF"></label>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p>
                        <label class="th_label" translate="content.liveStatus.Time(hh:mm:ss)">
                            <span class="memo">
                              ( hh:mm:ss )
                            </span>
                        </label>
                        <div class="td_area">
                            <input type="time" class="time ui2" ng-disabled="!isDP_Info" ng-model="schedule_time" ng-change="time_validate(schedule_time)" />
                        </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p ng-if="IsIE8()" class="text-center">
                      <span ng-if="time_validate(schedule_time)" class="brand-success">Time format is correct.</span>
                      <span ng-if="!time_validate(schedule_time)" class="brand-danger">Time format is not correct.</span>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p>
                        <label class="th_label" translate="content.liveStatus.Repeat"></label>
                    <div class="td_area">
                        <select class="ui2" ng-disabled="!isDP_Info" ng-options="schedule_day.value for schedule_day in schedule_days" ng-model="schedule_day"></select>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p>
                        <label class="th_label" translate="content.liveStatus.Input"></label>
                    <div class="td_area">
                        <select class="ui2" ng-options="schedule_input.value for schedule_input in schedule_inputs" ng-model="schedule_input" ng-disabled="schedule_btn_power=='off' || !isDP_Info"></select>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p class="btn_area">
                        <a href="" class="btn btn-xs btn-default" ng-disabled="!isDP_Info" ng-click="TimerSave('display_control', display.serial_number)" translate="content.liveStatus.Add"></a>
                    </p>
            </div>
            <!-- //Schedule Setting -->
            <!-- Schedule Power On List -->
            <div class="power_on_list_area">
                <p translate="content.liveStatus.PowerOnSchedule"></p>
                <div class="power_on_table_area">
                    <table class="power_on_table">
                        <thead>
                        <tr>
                            <th class="th_no" translate="content.liveStatus.No"></th>
                            <th class="th_repeat"translate="content.liveStatus.Repeat"></th>
                            <th translate="content.liveStatus.TimeSchedule"></th>
                            <th translate="content.liveStatus.Input"></th>
                            <th class="th_del" translate="content.liveStatus.Del"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="on_info in OnTimerList | orderBy: 'no' : false">
                            <td class="td_no">
                                {{on_info.no}}
                            </td>
                            <td class="td_repeat">
                                {{on_info.day}}
                            </td>
                            <td>{{on_info.time}}</td>
                            <td>{{on_info.input}}</td>
                            <td class="td_del">
                                <a href="" class="brand-danger" ng-if="on_info.time!='Empty'" ng-disabled="!isDP_Info" ng-click="removeList(on_info.field, 'display_control', 'on', on_info.no, $index, display.serial_number)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //Schedule Power On List -->
            <!-- Schedule Power Off List -->
            <div class="power_off_list_area">
                <p translate="content.liveStatus.PowerOffSchedule"></p>
                <div class="power_off_table_area">
                    <table class="power_off_table">
                        <thead>
                        <tr>
                            <th class="th_no" translate="content.liveStatus.No"></th>
                            <th class="th_repeat" translate="content.liveStatus.Repeat"></th>
                            <th translate="content.liveStatus.TimeSchedule"></th>
                            <th class="th_del" translate="content.liveStatus.Del"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="off_info in OffTimerList | orderBy: 'no' : false">
                            <td class="td_no">{{off_info.no}}</td>
                            <td class="td_repeat">
                                {{off_info.day}}
                            </td>
                            <td>
                                {{off_info.time}}
                            </td>
                            <td class="td_del">
                                <a href="" class="brand-danger" ng-if="off_info.time!='Empty'" ng-disabled="!isDP_Info" ng-click="removeList(off_info.field, 'display_control', 'off', off_info.no, display.serial_number)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //Schedule Power Off List -->
        </div>
        <!-- //Detail Tab : Schedule -->
        <!-- Detail Tab : Tile -->
        <div ng-if="info.name=='tile_content'" class="tile_content">
            <!-- tile_set_area -->
            <div class="tile_set_area">
                <p>
                    <label class="th_label" translate="content.liveStatus.{{info.input_mode.name}}"></label>
                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-select="display.{{info.input_mode.field}}"
                           e-ng-options="s.value as s.text for s in {{info.input_mode.statuses}}"
                           onbeforesave="updateDisplayByDM('display_control', info.input_mode.command, $data, display.serial_number, display[info.input_mode.field])"
                           ng-if="info.input_mode.type=='select' && isDP_Info">
                            {{showStatus(info.input_mode.statuses, display[info.input_mode.field])}}
                        </a>
                        <span ng-if="info.input_mode.type=='select' && !isDP_Info">
                            {{showStatus(info.input_mode.statuses, display[info.input_mode.field])}}
                        </span>
                    </div>
                </p>

                <p class="clearfix visible-xs-block"></p>

                <p translate="content.liveStatus.TileMode"></p>

                <div class="tile_mode_area">
                    <p>
                        <label class="th_label" translate="content.liveStatus.{{info.tile_mode.name}}"></label>

                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-select="display.{{info.tile_mode.field}}"
                           e-ng-options="s.value as s.text for s in {{info.tile_mode.statuses}}"
                           onbeforesave="updateRowColumn('display_control', info.tile_mode.command, $data, display.serial_number, display[info.tile_mode.field])"
                           ng-if="info.tile_mode.type=='select' && isDP_Info">
                            {{showStatus(info.tile_mode.statuses, display[info.tile_mode.field])}}
                        </a>
                        <span ng-if="info.tile_mode.type=='select' && !isDP_Info">
                            {{showStatus(info.tile_mode.statuses, display[info.tile_mode.field])}}
                        </span>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p>
                        <label class="th_label" translate="content.liveStatus.{{info.tile_id.name}}"></label>
                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-select="display.{{info.tile_id.field}}"
                           e-ng-options="s.value as s.text for s in {{info.tile_id.statuses}}"
                           onbeforesave="updateDisplayByDM('display_control', info.tile_id.command, $data, display.serial_number, display[info.tile_id.field])"
                           ng-if="info.tile_id.type=='select' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && isDP_Info">
                            {{showStatus(info.tile_id.statuses, display[info.tile_id.field])}}
                        </a>
                        <span ng-if="info.tile_id.type=='select' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && !isDP_Info">
                            {{showStatus(info.tile_id.statuses, display[info.tile_id.field])}}
                        </span>
                        <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field]))}">
                            N/A
                        </span>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>
                </div>

                <p>
                    <label class="th_label" translate="content.liveStatus.{{info.tile_N_mode.name}}"></label>
                <div class="item-wrapper td_area">
                    <a href="#"
                       editable-select="display.{{info.tile_N_mode.field}}"
                       e-ng-options="s.value as s.text for s in {{info.tile_N_mode.statuses}}"
                       onbeforesave="updateDisplayByDM('display_control', info.tile_N_mode.command, $data, display.serial_number, display[info.tile_N_mode.field])"
                       ng-if="info.tile_N_mode.type=='select' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && isDP_Info">
                        {{showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])}}
                    </a>
                    <span ng-if="info.tile_N_mode.type=='select' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && !isDP_Info">
                        {{showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])}}
                    </span>
                    <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field]))}">
                        N/A
                    </span>
                </div>
                </p>
            </div>
            <!-- //tile_set_area -->
            <!-- size_area -->
            <div class="size_area">
                <p>
                    <span translate="content.liveStatus.AutoConfiguration"></span>
                    <a href="" class="btn btn-xs btn-default btn_autoset" disabled translate="content.liveStatus.Set"></a>
                </p>

                <p class="clearfix visible-xs-block"></p>

                <div class="size_set_area">
                    <p translate="content.liveStatus.Size"></p>

                    <p>
                        <label class="th_label">
                            {{info.tile_size_H.name}}
                        </label>
                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-text="display.{{info.tile_size_H.field}}"
                           onbeforesave="updateText('display_control', info.tile_size_H.command, $data, display.serial_number, display[info.tile_size_H.field])"
                           ng-if="info.tile_size_H.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && isDP_Info">
                            {{display[info.tile_size_H.field] || "N/A"}}
                        </a>
                        <span ng-if="info.tile_size_H.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && !isDP_Info">
                            {{display[info.tile_size_H.field] || "N/A"}}
                        </span>
                        <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))}">
                            N/A
                        </span>
                    </div>

                    <label class="th_label">
                        {{info.tile_size_V.name}}
                    </label>
                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-text="display.{{info.tile_size_V.field}}"
                           onbeforesave="updateText('display_control', info.tile_size_V.command, $data, display.serial_number, display[info.tile_size_V.field])"
                           ng-if="info.tile_size_V.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && isDP_Info">
                            {{display[info.tile_size_V.field] || "N/A"}}
                        </a>
                        <span ng-if="info.tile_size_V.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && !isDP_Info">
                            {{display[info.tile_size_V.field] || "N/A"}}
                        </span>
                        <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))}">
                            N/A
                        </span>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>

                    <p translate="content.liveStatus.Position"></p>

                    <p>
                        <label class="th_label">
                            {{info.tile_posi_H.name}}
                        </label>
                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-text="display.{{info.tile_posi_H.field}}"
                           onbeforesave="updatePositionH('display_control', info.tile_posi_H.command, $data, display.serial_number, display[info.tile_posi_H.field]-50)"
                           ng-if="info.tile_posi_H.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && isDP_Info">
                            {{display[info.tile_posi_H.field]-50 || "N/A"}}
                        </a>
                        <span ng-if="info.tile_posi_H.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && !isDP_Info">
                            {{display[info.tile_posi_H.field]-50 || "N/A"}}
                        </span>
                        <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))}">
                            N/A
                        </span>
                    </div>

                    <label class="th_label">
                        {{info.tile_posi_V.name}}
                    </label>

                    <div class="item-wrapper td_area">
                        <a href="#"
                           editable-text="display.{{info.tile_posi_V.field}}"
                           onbeforesave="updateText('display_control', info.tile_posi_V.command, $data, display.serial_number, display[info.tile_posi_V.field])"
                           ng-if="info.tile_posi_V.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && isDP_Info">
                            {{display[info.tile_posi_V.field] || "N/A"}}
                        </a>
                        <span ng-if="info.tile_posi_V.type=='text' && showTileOneStep(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) && showTileTwoStep(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field])) && !isDP_Info">
                            {{display[info.tile_posi_V.field] || "N/A"}}
                        </span>
                        <span ng-if="showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))" ng-class="{'brand-NA': showTileOneStep_NA(showStatus(info.tile_mode.statuses, display[info.tile_mode.field])) || showTileTwoStep_NA(showStatus(info.tile_N_mode.statuses, display[info.tile_N_mode.field]))}">
                            N/A
                        </span>
                    </div>
                    </p>

                    <p class="clearfix visible-xs-block"></p>
                    <p class="clearfix visible-xs-block"></p>
                </div>
            </div>
            <!-- //size_area -->
        </div>
        <!-- //Detail Tab : Tile -->
        <!-- Detail Tab : Remote Controller -->
        <div ng-if="info.name=='remote_content'" class="remote_content">
            <!-- input area -->
            <div class="input_area">
                <div class="on_off_area">
                    <p>
                        <a class="btn btn-danger btn-xs btn_power" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.power.command, '01', display.serial_number)"><i class="fa fa-power-off"></i> <span translate="content.liveStatus.ON"></span></a>
                        <a class="btn btn-primary btn-xs btn_power" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.power.command, '00', display.serial_number)"><i class="fa fa-power-off"></i> <span translate="content.liveStatus.OFF"></span></a>
                    </p>
                    <p>
                    <div class="monitor_area">
                        <p>
                            <a class="btn btn-default btn-xs btn_monitor_on" ng-disabled="!isDP_Info" href="" ng-click="updateDisplayByDM('display_control', info.monitor.command, '00', display.serial_number)"><i class="fa fa-desktop"></i> <span translate="content.liveStatus.ON"></span></a>
                            <a class="btn btn-default btn-xs btn_monitor_off" ng-disabled="!isDP_Info" href="" ng-click="updateDisplayByDM('display_control', info.monitor.command, '01', display.serial_number)"><i class="fa fa-desktop"></i> <span translate="content.liveStatus.OFF"></span></a>
                        </p>
                    </div>
                    </p>
                    <p>
                        <a class="btn btn-default btn-xs btn_input" ng-disabled="!isDP_Info" href="" ng-click="updateDisplayByDM('display_control', info.remote.command, '0B', display.serial_number)" translate="content.liveStatus.Input"></a>
                    </p>
                </div>
                <div class="number_area">
                    <p>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '11', display.serial_number)">
                            1
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '12', display.serial_number)">
                            2
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '13', display.serial_number)">
                            3
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '14', display.serial_number)">
                            4
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '15', display.serial_number)">
                            5
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '16', display.serial_number)">
                            6
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '17', display.serial_number)">
                            7
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '18', display.serial_number)">
                            8
                        </a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '19', display.serial_number)">
                            9
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-default btn-xs" disabled href="">&nbsp;</a>
                        <a class="btn btn-default btn-xs" ng-disabled="!isDP_Info" href="" ng-click="updateDisplayByDM('display_control', info.remote.command, '10', display.serial_number)">
                            0
                        </a>
                        <a class="btn btn-default btn-xs" disabled href="">&nbsp;</a>
                    </p>
                </div>
            </div>
            <!-- //input area -->
            <!-- mode area -->
            <div class="mode_area">
                <p>
                    <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '43', display.serial_number)" translate="content.liveStatus.Menu"></a>
                </p>
                <p>
                    <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '28', display.serial_number)" translate="content.liveStatus.Back"></a>
                </p>
                <p>
                    <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '7B', display.serial_number)" translate="content.liveStatus.Tile"></a>
                </p>
                <p>
                    <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '5B', display.serial_number)" translate="content.liveStatus.Exit"></a>
                </p>
                <p>
                    <a class="btn btn-default btn-xs" href="" disabled>3D</a>
                </p>
            </div>
            <!-- //mode area -->
            <!-- control area -->
            <div class="control_area">
                <div class="regulation_area">
                    <div class="brightness_area">
                        <p>
                            <a class="btn btn-default btn-xs btn_plus" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, 'E0', display.serial_number)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p>
                            <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, 'E1', display.serial_number)">
                                <i class="fa fa-minus"></i>
                            </a>
                        </p>
                        <p class="text" translate="content.liveStatus.BrightnessTXT"></p>
                    </div>
                    <div class="mute_area">
                        <a class="btn btn-default btn-xs btn_mute" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '09', display.serial_number)" translate="content.liveStatus.Mute"></a>
                    </div>
                    <div class="volume_area">
                        <p>
                            <a class="btn btn-default btn-xs btn_plus" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '02', display.serial_number)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p>
                            <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '03', display.serial_number)">
                                <i class="fa fa-minus"></i>
                            </a>
                        </p>
                        <p class="text" translate="content.liveStatus.VolumeTXT"></p>
                    </div>
                </div>
                <div class="move_area">
                    <div class="move_left_area">
                        <a class="btn btn-default btn-xs btn_left" href="">
                            <i class="fa fa-arrow-left" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '07', display.serial_number)"></i>
                        </a>
                    </div>
                    <div class="move_center_area">
                        <a class="btn btn-default btn-xs btn_up" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '40', display.serial_number)">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                        <a class="btn btn-default btn-xs btn_ok" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '44', display.serial_number)" translate="content.liveStatus.OKBtn"></a>
                        <a class="btn btn-default btn-xs" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '41', display.serial_number)">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </div>
                    <div class="move_right_area">
                        <a class="btn btn-default btn-xs btn_right" href="" ng-disabled="!isDP_Info" ng-click="updateDisplayByDM('display_control', info.remote.command, '06', display.serial_number)">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //control area -->
        </div>
        <!-- //Detail Tab : Remote Controller -->
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- //Section: Running Status -->

        <p class="clearfix visible-xs-block"></p>

        <!-- Section: TV Control -->
        <div class="section">
            <div class="sub_title title_toggle" ng-click="onClickSubTitle('d_sec4')" translate="content.liveStatus.PowerControl">
                <i class="sub_title_icon fa" ng-class="{'fa-angle-down': d_sec4_cookie, 'fa-angle-up': !d_sec4_cookie}"></i>
            </div>
            <div class="sub_content" ng-hide="d_sec4_cookie">
                <div class="tv_schedule_area">
                    <div class="tv_use_area">
                        <div class="item-wrapper">
                            <span class="label" ng-class="{'label-success': display[tv_check.dp.field_key], 'label-default': !display[tv_check.dp.field_key]}" translate="content.liveStatus.{{tv_check.dp.label}}"></span>
                            <a href="#"
                               ng-if="isDP_Info"
                               editable-select="display['dp_timer_flag']"
                               e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                               onbeforesave="updateDisplayTimerSettingByDB('display_timer_flag', $data, display.serial_number)">
                                {{showActiveStatus(display["dp_timer_flag"])}}
                            </a>
                        </div>
                    </div>

                    <p class="clearfix visible-xs-block"></p>

                    <table class="tv_table">
                        <thead>
                        <tr>
                            <th ng-repeat="header in tv_table_headers" class="th_{{header.class_name}}" translate="content.liveStatus.{{header.name}}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="body in tv_table_bodys">
                            <td class="td_{{body.day.class_name}}" translate="content.liveStatus.{{body.day.txt}}"></td>
                            <td class="td_{{body.s_time.class_name}}">
                                <div class="item-wrapper">
                                    <a href="" ng-if="isDP_Info" editable-time="display[body.s_time.field]" onbeforesave="updateDisplayByDB(body.s_time.field, $data, display.serial_number)">
                                        {{showTime(display[body.s_time.field]) | time:"hh:mm"}}
                                    </a>
                                    <span ng-if="!isDP_Info">
                                        {{showTime(display[body.s_time.field]) | time:"hh:mm"}}
                                    </span>
                                </div>
                            </td>
                            <td class="td_{{body.e_time.class_name}}">
                                <div class="item-wrapper">
                                    <a href="" ng-if="isDP_Info" editable-time="display[body.e_time.field]" onbeforesave="updateDisplayByDB(body.e_time.field, $data, display.serial_number)">
                                        {{showTime(display[body.e_time.field]) | time:"hh:mm"}}
                                    </a>
                                    <span ng-if="!isDP_Info">
                                        {{showTime(display[body.e_time.field]) | time:"hh:mm"}}
                                    </span>
                                </div>
                            </td>
                            <td class="td_{{body.tv.class_name}}">
                                <div class="item-wrapper">
                                    <a href="#"
                                       ng-if="isDP_Info"
                                       editable-select="display[body.tv.field]"
                                       e-ng-options="s.value as s.text for s in {{setting.active.statuses}}"
                                       onbeforesave="updateDisplayTimerSettingByDB(body.tv.field, $data, display.serial_number)">
                                        {{showActiveStatus(display[body.tv.field])}}
                                    </a>
                                    <span ng-if="!isDP_Info">
                                        {{showTV_flag(display[body.tv.field])}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- //Section: TV Control -->

        <p class="clearfix visible-xs-block"></p>

        <!-- Section: Device Information -->
        <div class="section">
            <div class="sub_title title_toggle" ng-click="onClickSubTitle('d_sec1')" translate="content.liveStatus.DeviceInformation">
                <i class="sub_title_icon fa" ng-class="{'fa-angle-down': d_sec1_cookie, 'fa-angle-up': !d_sec1_cookie}"></i>
            </div>
            <div class="sub_content" ng-hide="d_sec1_cookie">
                <div class="dp_device_img_area">
                    <div class="slide_img_wrap" ng-if="!(IsIE8())">
                        <div ng-if="slides.length == 0">
                            <img class="slide_img" src="/img/common/noimg.png" />
                        </div>
                        <div ng-if="slides.length != 0">
                            <carousel>
                                <slide ng-repeat="slide in slides" active="slide.active">
                                    <img class="slide_img" ng-src="{{slide.image}}" ng-click="openGalleryDialog(true, slides, slide.image)" />
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="slide_img_wrap" ng-if="IsIE8()">
                        <img class="slide_img" onError="var blankSrc = '/img/common/noimg.png'; this.src = blankSrc;" ng-src="{{static_dp_img_uri}}" />
                    </div>
                    <div class="dp_device_btn_area">
                        <a ng-click="openPDF(dp_spec_pdf_uri, display.model)" class="btn btn-primary btn-xs" translate="content.liveStatus.Specification"></a>
                    </div>
                </div>
                <div class="dp_device_img_area2">
                    <img class="resource_slide_img"
                         ng-click="openStaticGalleryDialog(img_url)"
                         ng-src="{{img_url}}"
                         alt="remote image" onError="var blankSrc = '/img/common/noimg.png'; this.src = blankSrc;"
                            />
                </div>
                <div class="dp_device_info_area">
                    <div ng-repeat="info in DP_INFO">
                        <div class="line_th overflow_dot" translate="content.liveStatus.{{info.name}}">
                            &middot;
                            <span class="brand-memo" ng-if="info.unit_type=='date_format'">
                                ( {{showDateFormatStatus(user.date_format)}} )
                            </span>
                        </div>
                        <div class="line_td" ng-if="info.type=='readOnly'">
                            <span class="overflow_dot" ng-if="dp_info_type_normal(display[info.field])">
                                {{display[info.field]}}
                            </span>
                            <span class="brand-NA" ng-if="dp_info_type_NA(display[info.field])">
                                N/A
                            </span>
                        </div>
                        <div class="item-wrapper line_td" ng-if="info.type=='text'">
                            <span class="overflow_dot" ng-if="info.editable_type!='warrent'">
                                <a href="#"
                                   editable-text="display.{{info.field}}"
                                   onbeforesave="updateDisplayByDB(info.field, $data, display.serial_number)"
                                   ng-if="isDevice_Info">
                                    <span ng-if="get(display, info.field)!='N/A' && get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='N/A' || get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </a>
                                <span ng-if="!isDevice_Info">
                                    <span ng-if="get(display, info.field)!='N/A' && get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='N/A' || get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </span>
                            </span>
                            <span class="overflow_dot" ng-if="info.editable_type=='warrent'">
                                <a href="#"
                                   editable-text="display.{{info.field}}"
                                   onbeforesave="updateDisplayByDB(info.field, $data, display.serial_number)"
                                   ng-if="userType=='ADMIN'">
                                    <span ng-if="get(display, info.field)!='N/A' && get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='N/A' || get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </a>
                                <span ng-if="userType!='ADMIN'">
                                    <span ng-if="get(display, info.field)!='N/A' && get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='N/A' || get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="line_td item-wrapper" ng-if="info.type=='date'">
                            <p ng-if="info.editable_type!='warrent'">
                                <a class="editable editable-click"
                                   href=""
                                   ng-model="display[info.field]"
                                   ng-click="openCalendar($event, 'displays', info, $parent.$parent.$index)"
                                   ng-change="changeDate('link_list', display[info.field], info, display.display_number, display.serial_number)"
                                   datepicker-popup="yyyy-MM-dd" is-open="opened['displays'][$parent.$parent.$index][info.field]"
                                   datepicker-append-to-body="true"
                                   show-button-bar="false">
                                    <span ng-if="get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </a>
                            </p>
                            <p ng-if="info.editable_type=='warrent'">
                                <a class="editable editable-click"
                                   href=""
                                   ng-if="userType=='ADMIN'"
                                   ng-model="display[info.field]"
                                   ng-click="openCalendar($event, 'displays', info, $parent.$parent.$index)"
                                   ng-change="changeDate('link_list', display[info.field], info, display.display_number, display.serial_number)"
                                   datepicker-popup="yyyy-MM-dd" is-open="opened['displays'][$parent.$parent.$index][info.field]"
                                   datepicker-append-to-body="true"
                                   show-button-bar="false">
                                    <span ng-if="get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </a>
                                <span ng-if="userType!='ADMIN'">
                                    <span ng-if="get(display, info.field)!='' && get(display, info.field)!=undefined && get(display, info.field)!='None'">
                                        {{get(display, info.field) | date_time: showDateFormatStatus(user.date_format)}}
                                    </span>
                                    <span class="brand-NA" ng-if="get(display, info.field)=='' || get(display, info.field)==undefined || get(display, info.field)=='None'">
                                        N/A
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Section: Device Information -->

        <p class="clearfix visible-xs-block"></p>

        <!-- Section: Management Information -->
        <div class="section">
            <div class="sub_title title_toggle" ng-click="onClickSubTitle('d_sec2')" translate="content.liveStatus.ManagementInformation">
                <i class="sub_title_icon fa" ng-class="{'fa-angle-down': d_sec2_cookie, 'fa-angle-up': !d_sec2_cookie}"></i>
            </div>
            <div class="sub_content" ng-hide="d_sec2_cookie">
                <div ng-repeat="info in MANAGEMENT_INFO" class="manage_info_area">
                    <div ng-class="{'sort_left': $even, 'sort_right': $odd}">
                        <div class="line_th overflow_dot" translate="content.liveStatus.{{info.name}}">&middot;</div>
                        <div class="item-wrapper line_td">
                            <a href="#" editable-text="display.{{info.field}}" onbeforesave="updateDisplayByDB(info.field, $data, display.serial_number)">
                                <span ng-if="display[info.field]!='' && display[info.field]!=undefined && get(display, info.field)!='None'">
                                    {{display[info.field]}}
                                </span>
                                <span class="brand-NA" ng-if="display[info.field]=='' || display[info.field]==undefined || get(display, info.field)=='None'">
                                    N/A
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Section: Management Information -->

        <p class="clearfix visible-xs-block"></p>
        </div>
        <!-- //dp_content -->
    </div>
    <!-- //Live Content -->
</div>
