<!-- OTP AREA -->
<div class="otp_area">
    <!-- OTP WRAP -->
    <div class="otp_wrap">
        <!-- Submenu -->
        <div class="otp_sub_menu_area">
            <a href="" class="btn btn-xs btn-default btn_logout" ng-click="logout()">
                <i class="fa fa-sign-out"></i> <span translate="subContent.Logout"></span>
            </a>
        </div>
        <!-- //Submenu -->
        <p class="clearfix visible-xs-block"></p>
        <!-- Title -->
        <div class="otp_title" translate="subContent.2-Step"></div>
        <!-- //Title -->
        <p class="clearfix visible-xs-block"></p>
        <!-- Guide -->
        <ul ng-if="!created_otp" class="otp_guide">
            <li>
                1. <a target="_blank" href="https://support.google.com/accounts/answer/1066447?hl=en" translate="subContent.Guide1"></a> <span translate="subContent.Guide2"></span>
            </li>
            <li>
                2. <span translate="subContent.Guide3"></span>
            </li>
            <li>
                3. <span translate="subContent.Guide4"></span>
            </li>
            <li>
                4. <span translate="subContent.Guide5"></span>
            </li>
        </ul>
        <!-- //Guide -->
        <p class="clearfix visible-xs-block"></p>
        <!-- QR CODE -->
        <div ng-if="!created_otp" class="qrcode_area">
            <div class="qrcode_wrap">
                <img ng-src="{{qr_code_uri}}" alt="QR Code" />
            </div>
            <div class="qrcode_guide" translate="subContent.Guide6"></div>
        </div>
        <!-- //QR CODE -->
        <!-- SET CODE -->
        <div class="set_code_area">
            <div class="code_input_area">
                <p class="code_input_guide_line" translate="subContent.Verification Code"></p>
                <p  class="code_input_line">
                    <input class="inp_code" ng-model="verification_code" />
                </p>
            </div>
            <div class="code_submit_area">
                <a class="btn btn-primary" ng-click="submit_code()" href="" translate="subContent.Submit"></a>
            </div>
        </div>
        <!-- //SET CODE -->
    </div>
    <!-- //OTP WRAP -->
</div>
<!-- //OTP AREA -->
