<iframe src="views/sink.html" name="sink" style="display: none"></iframe>
<div class="login_box">
    <div ng-controller="LoginImageCtrl" class="slide_box" class="col-lg-4">
        <div ng-if="!IsIE8()">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                </slide>
            </carousel>
        </div>
        <div ng-if="IsIE8()" style="text-align:center">
            <img src="./images/login/main_v1.png" />
        </div>
    </div>

    <p class="login_text" ng-class="{'mobile': isMobile()}">Digital Signage Total Care Service</p>

    <div class="loginForm">
        <form method="post" name="loginForm" ng-submit="login(credentials)"
              novalidate form-autofill-fix>
            <fieldset>
                <div class="inputBox">
                    <input type="text"  class="inp_box inp_id" title="ID" placeholder="ID" ng-model="credentials.userID"
                           required />
                    <input type="password" class="inp_box" title="Password" placeholder="Password"
                           ng-model="credentials.userPW" required/>
                </div>
                <div class="sign_box">
                    <input type="submit" class="btn btn-danger inp_submit_button" value="Sign In" translate="subContent.SignIn"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div align="center"><br><a href="mailto:hchkim@unet.kr" translate="subContent.Forgot"></a></div>
</div>
