<div>
    <div class="top10">
        <div class="top10_header" translate="content.dashBoard.CurrentTop10"></div>
        <div class="hdd_top">
            <div class="top10_title" translate="content.dashBoard.CPUTemperature"></div>
            <table class="top_table">
                <thead>
                <tr>
                    <th ng-repeat="field in top_field2" ng-class="{'th_name': name_match(field.name, 'Name'), 'th_temp': name_match(field.name, 'Temp.'), 'th_action': name_match(field.name, 'Action')}" translate="content.dashBoard.{{field.name}}"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="top in cpuTempTop10 | orderBy: 'cpu_temp' : true">
                    <td data-title="'Name'" class="td_name" ng-class="{'brand-666':(top.status_cpu_temp==0), 'brand-warning':(top.status_cpu_temp==1), 'brand-danger':(top.status_cpu_temp==2), 'brand-AAA':(top.status_cpu_temp==-1)}">
                        <span class="overflow_dot_dash" ng-class="{'brand-NA': top.mp_alias == 'N/A'}">
                            {{top.mp_alias}}
                        </span>
                    </td>
                    <td data-title="'Temp.'" class="td_temp" ng-class="{'brand-666':(top.status_cpu_temp==0), 'brand-warning':(top.status_cpu_temp==1), 'brand-danger':(top.status_cpu_temp==2), 'brand-AAA':(top.status_cpu_temp==-1) }">
                            <span ng-if="top.cpu_temp!=-1">
                                <span ng-if="status_type_zero(top.cpu_temp)">{{top.cpu_temp}}℃ / {{tempConverter('F', top.cpu_temp) | number:0}}℉ </span>
                                <span class="brand-NA" ng-if="status_type_zero_NA(top.cpu_temp)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="top.cpu_temp==-1">
                                &nbsp;
                            </span>
                    </td>
                    <td data-title="'Action'" class="td_action">
                        <span ng-if="top.cpu_temp!=-1">
                            <a class="action" href="" ng-click="moveToLiveFromDash(top.serial_number)" ng-class="{'brand-primary':(top.status_cpu_temp==0), 'brand-warning':(top.status_cpu_temp==1), 'brand-danger':(top.status_cpu_temp==2), 'brand-AAA':(top.status_cpu_temp==-1) }">
                                <div ng-if="top.status_cpu_temp==0" translate="content.dashBoard.Detail"></div>
                                <div ng-if="top.status_cpu_temp==1" translate="content.dashBoard.Check"></div>
                                <div ng-if="top.status_cpu_temp==2" translate="content.dashBoard.Resolve"></div>
                                <div ng-if="top.status_cpu_temp==-1" translate="content.dashBoard.Check"></div>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d1_top">
            <div class="top10_title" translate="content.dashBoard.DisplayTemperature"></div>
            <table ng-table class="top_table">
                <thead>
                    <tr>
                        <th ng-repeat="field in top_field2" ng-class="{'th_name': name_match(field.name, 'Name'), 'th_temp': name_match(field.name, 'Temp.'), 'th_action': name_match(field.name, 'Action')}" translate="content.dashBoard.{{field.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="top in DPTop10 | orderBy: 'dp_temp' : true">
                    <td class="td_name" ng-class="{'brand-666':(top.status_temp==0), 'brand-warning':(top.status_temp==1), 'brand-danger':(top.status_temp==2), 'brand-AAA':(top.status_temp==-1) }">
                        <span class="overflow_dot_dash" ng-class="{'brand-NA': top.dp_alias == 'N/A'}">{{top.dp_alias}}</span>
                    </td>
                    <td class="td_temp" ng-class="{'brand-666':(top.status_temp==0), 'brand-warning':(top.status_temp==1), 'brand-danger':(top.status_temp==2), 'brand-AAA':(top.status_temp==-1) }">
                        <span ng-if="top.dp_temp!=-1">
                            <span ng-if="status_type_zero(top.dp_temp)">{{top.dp_temp}}℃ / {{tempConverter('F', top.dp_temp) | number:0}}℉ </span>
                            <span class='brand-NA' ng-if="status_type_zero_NA(top.dp_temp)">N/A</span>
                        </span>
                        <span class="brand-FFF" ng-if="top.dp_temp==-1">
                            &nbsp;
                        </span>
                    </td>
                    <td class="td_action">
                        <span ng-if="top.dp_temp!=-1">
                            <a class="action" href="" ng-click="moveToLiveFromDash(top.mp_serial_number, top.serial_number)" ng-class="{'brand-primary':(top.status_temp==0), 'brand-warning':(top.status_temp==1), 'brand-danger':(top.status_temp==2), 'brand-AAA':(top.status_temp==-1) }">
                                <div ng-if="top.status_temp==0" translate="content.dashBoard.Detail"></div>
                                <div ng-if="top.status_temp==1" translate="content.dashBoard.Check"></div>
                                <div ng-if="top.status_temp==2" translate="content.dashBoard.Resolve"></div>
                                <div ng-if="top.status_temp==-1" translate="content.dashBoard.Check"></div>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="cpu_top">
            <div class="top10_title" translate="content.dashBoard.CPUUsage"></div>
            <table ng-table class="top_table">
                <thead>
                    <tr>
                        <th ng-repeat="field in top_field1" ng-class="{'th_name': name_match(field.name, 'Name'), 'th_usage': name_match(field.name, 'Usage'), 'th_action': name_match(field.name, 'Action')}" translate="content.dashBoard.{{field.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="top in cpuTop10 | orderBy: 'cpu_usage' : true">
                    <td data-title="'Name'" class="td_name" ng-class="{'brand-666':(top.status_cpu_usage==0), 'brand-warning':(top.status_cpu_usage==1), 'brand-danger':(top.status_cpu_usage==2), 'brand-AAA':(top.status_cpu_usage==-1)}">
                        <span class="overflow_dot_dash" ng-class="{'brand-NA': top.mp_alias == 'N/A'}">{{top.mp_alias}}</span>
                    </td>
                    <td data-title="'Usage'" class="td_usage" ng-class="{'brand-666':(top.status_cpu_usage==0), 'brand-warning':(top.status_cpu_usage==1), 'brand-danger':(top.status_cpu_usage==2), 'brand-AAA':(top.status_cpu_usage==-1)}">
                        <span ng-if="top.cpu_usage!=-1">
                            <span ng-if="status_type_normal(top.cpu_usage)">{{top.cpu_usage}}% </span>
                            <span class='brand-NA' ng-if="status_type_NA(top.cpu_usage)">N/A</span>
                        </span>

                        <span class="brand-FFF" ng-if="top.cpu_usage==-1">
                            &nbsp;
                        </span>
                    </td>
                    <td data-title="'Action'" class="td_action">
                        <span ng-if="top.cpu_usage!=-1">
                            <a class="action" href="" ng-click="moveToLiveFromDash(top.serial_number)" ng-class="{'brand-primary':(top.status_cpu_usage==0), 'brand-warning':(top.status_cpu_usage==1), 'brand-danger':(top.status_cpu_usage==2), 'brand-AAA':(top.status_cpu_usage==-1)}">
                                <div ng-if="top.status_cpu_usage==0" translate="content.dashBoard.Detail"></div>
                                <div ng-if="top.status_cpu_usage==1" translate="content.dashBoard.Check">Check</div>
                                <div ng-if="top.status_cpu_usage==2" translate="content.dashBoard.Resolve"></div>
                                <div ng-if="top.status_cpu_usage==-1" translate="content.dashBoard.Check">Check</div>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="memory_top">
            <div class="top10_title" translate="content.dashBoard.MemoryUsage"></div>
            <table ng-table class="top_table">
                <thead>
                    <tr>
                        <th ng-repeat="field in top_field1" ng-class="{'th_name': name_match(field.name, 'Name'), 'th_usage': name_match(field.name, 'Usage'), 'th_action': name_match(field.name, 'Action')}" translate="content.dashBoard.{{field.name}}"></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="top in memoryTop10 | orderBy: 'mem_usage' : true" ng-init="setRepeatRange($index)">
                    <td data-title="'Name'" class="td_name" ng-class="{'brand-666':(top.status_mem_usage==0), 'brand-warning':(top.status_mem_usage==1), 'brand-danger':(top.status_mem_usage==2), 'brand-AAA':(top.status_mem_usage==-1)}">
                        <span class="overflow_dot_dash" ng-class="{'brand-NA': top.mp_alias == 'N/A'}">{{top.mp_alias}}</span>
                    </td>
                    <td data-title="'Usage'" class="td_usage" ng-class="{'brand-666':(top.status_mem_usage==0), 'brand-warning':(top.status_mem_usage==1), 'brand-danger':(top.status_mem_usage==2), 'brand-AAA':(top.status_mem_usage==-1)}">
                            <span ng-if="top.mem_usage!=-1">
                                <span ng-if="status_type_normal(top.mem_usage)">{{top.mem_usage}}% </span>
                                <span class='brand-NA' ng-if="status_type_NA(top.mem_usage)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="top.mem_usage==-1">
                                &nbsp;
                            </span>
                    </td>
                    <td data-title="'Action'" class="td_action">
                            <span ng-if="top.mem_usage!=-1">
                                <a class="action" href="" ng-click="moveToLiveFromDash(top.serial_number)" ng-class="{'brand-primary':(top.status_mem_usage==0), 'brand-warning':(top.status_mem_usage==1), 'brand-danger':(top.status_mem_usage==2), 'brand-AAA':(top.status_mem_usage==-1)}">
                                    <div ng-if="top.status_mem_usage==0" translate="content.dashBoard.Detail">Detail</div>
                                    <div ng-if="top.status_mem_usage==1" translate="content.dashBoard.Check">Check</div>
                                    <div ng-if="top.status_mem_usage==2" translate="content.dashBoard.Resolve">Resolve</div>
                                  <div ng-if="top.status_mem_usage==-1" translate="content.dashBoard.Check">Check</div>
                                </a>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="device_search">
        <div class="search_box">
            <div class="table_limit_line">
                <span class="table_output_info" translate="content.dashBoard.Total"></span> {{dashTableParams.total()}} <span translate="content.dashBoard.item(s)"></span>
                <select class="line_select ui2" ng-options="line.value for line in limit_lines" ng-model="limit_line" ng-change="dashTableParams.count(limit_line.value)">
                </select>
            </div>
            <div class="table_search">
                <div class="search_bar">
                    <select class="search_select ui2" ng-options="'content.dashBoard.' + column.name | translate for column in search_columns" ng-model="search_column" ng-change="setSearchIndex(search_column.index)">
                    </select>
                    <input class="search_input" ng-repeat="filter in FILTERS"
                           ui-select2="select(filter)"
                           ng-model="selected[$index]"
                           ng-if="$index == search_index"
                           type="hidden" />
                    <a class="detail_search" ng-click="showDetailSearch(show_detail_search)">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="search_content" loading-container="dashTableParams.settings().$loading">
            <div class="detail_search_box" ng-show="show_detail_search">
                <input ng-repeat="filter in FILTERS"
                       ui-select2="select(filter)"
                       ng-model="selected[$index]"
                       ng-show="filter.filter_show_flag"
                       type="hidden" />
            </div>
            <div class="device_search_table_area">
                <table ng-table="dashTableParams" class="device_search_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in MediaPlayerListHeader" class="{{header.class_name}}" ng-class="{'sortable': header.sortable}"
                                ng-click="header.sortable?dashTableParams.sorting(header.field, dashTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):'#'">
                                <div ng-if="header.name == 'Status'">
                                    <i class="fa fa-exclamation-circle th_status_icon"></i>
                                </div>
                                <div ng-if="header.name != 'Status'" translate="content.dashBoard.{{header.name}}">
                                    <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': dashTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': dashTableParams.isSortBy(header.field, 'desc')}"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="media_player in $data" class="border_line" ng-class="{'brand-info-line-hover':(media_player.group_status==0), 'brand-warning-line-hover':(media_player.group_status==1), 'brand-danger-line-hover':(media_player.group_status==2)}">
                            <td class="no">
                                <span>
                                    {{((dashTableParams.page()-1)*default_line_auto_fixed) + $index+1}}
                                </span>
                            </td>
                            <td class="status">
                                <span>
                                    <i class="fa" ng-class="{'fa-times-circle':(media_player.group_status==-1), 'brand-CCC':(media_player.group_status==-1), 'brand-primary':(media_player.group_status==0), 'fa-check-circle':(media_player.group_status==0), 'brand-warning':(media_player.group_status==1), 'fa-question-circle':(media_player.group_status==1), 'brand-danger':(media_player.group_status==2), 'fa-exclamation-circle':(media_player.group_status==2)}"></i>
                                </span>
                            </td>
                            <td class="location">
                                <span class="overflow_dot">
                                    <a class="brand-666" href="" ng-click="moveToLiveFromDash(media_player.serial_number)">
                                        {{media_player.location}}
                                    </a>
                                </span>
                            </td>
                            <td class="shop">
                                <span class="overflow_dot">
                                    <a class="brand-666" href="" ng-click="moveToLiveFromDash(media_player.serial_number)">
                                        {{media_player.shop}}
                                    </a>
                                </span>
                            </td>
                            <td class="mp_alias">
                                <span class="overflow_dot">
                                    <a class="brand-666" href="" ng-click="moveToLiveFromDash(media_player.serial_number)">
                                        {{media_player.media_player_alias}}
                                    </a>
                                </span>
                            </td>
                            <td class="dp_alias">
                                <div ng-repeat="display_alias in media_player.display_aliases track by $index">
                                    <span class="overflow_dot td_list" ng-show="$first || media_player.clicked">
                                        <a class="brand-666" href="" ng-click="moveToLiveFromDash(media_player.serial_number)">
                                            {{display_alias}}
                                        </a>
                                    </span>
                                    <a href="" class="td_more" ng-click="onClickTableList(media_player)" ng-show="$first && !$last">
                                        <i class="fa" ng-class="{'fa-plus-square': !media_player.clicked, 'fa-minus-square': media_player.clicked, 'brand-primary': media_player.group_status==0, 'brand-warning':(media_player.group_status==1), 'brand-danger':media_player.group_status==2, 'brand_AAA':(media_player.group_status==-1)}"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="act">
                                <a href="" ng-click="moveToLiveFromDash(media_player.serial_number)" ng-class="{'action_brand_primary':(media_player.group_status==0), 'action_brand_warning':(media_player.group_status==1), 'action_brand_danger':(media_player.group_status==2), 'action_brand_AAA':(media_player.group_status==-1)}">
                                    <div ng-if="media_player.group_status==0" translate="content.dashBoard.Detail">Detail</div>
                                    <div ng-if="media_player.group_status==1" translate="content.dashBoard.Check">Check</div>
                                    <div ng-if="media_player.group_status==2" translate="content.dashBoard.Resolve">Resolve</div>
                                    <div ng-if="media_player.group_status==-1" translate="content.dashBoard.Check">Check</div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
