<div class="diagnostic_modal" style="padding:20px">
  <div class="title" translate="modal.Diagnostics.Diagnostics"></div>

  <div class="sub_title" translate="modal.Diagnostics.MediaPlayer"></div>

  <table class="diagnostic_table">
    <thead>
        <tr>
            <th class="th_item" translate="modal.Diagnostics.Items"></th>
            <th class="th_threshold" translate="modal.Diagnostics.Threshold"></th>
            <th class="th_current" translate="modal.Diagnostics.Current"></th>
            <th class="th_status" translate="modal.Diagnostics.Status"></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="modal_mp in Modal_MP_INFO_alive" class="brand-warning" ng-if="!modal_media_player[modal_mp.field]">
      <td class="td_item" data-title="'Items'">
        {{modal_mp.name}}
      </td>
      <td class="td_threshold" data-title="'Threshold'">
      </td>
      <td class="td_current" data-title="'Current'">
        {{showAliveStatus(modal_media_player[modal_mp.field])}} ({{modal_media_player['disconnected_date'] | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}})
      </td>
      <td class="td_status" data-title="'Status'">
        <a href="" class="btn btn-warning btn-xs" ng-click="updateMediaPlayerByDB()"><i class="fa fa-exclamation-triangle"></i></a>
      </td>
    </tr>
    <tr ng-repeat="modal_mp in Modal_MP_INFO" ng-if="show_flag(modal_media_player[modal_mp.status])" ng-class="{'brand-danger': modal_media_player[modal_mp.status]==2, 'brand-warning': modal_media_player[modal_mp.status]==1}">
      <td class="td_item" data-title="'Items'">
        {{modal_mp.name}}
      </td>
      <td class="td_threshold" data-title="'Threshold'">
        {{modal_device_group[modal_mp.warning]}} ~ {{modal_device_group[modal_mp.error]}}
      </td>
      <td class="td_current" data-title="'Current'">
        {{modal_media_player[modal_mp.field]}}
      </td>
      <td class="td_status" data-title="'Status'">
        {{show_status(modal_media_player[modal_mp.status])}}
      </td>
    </tr>
    </tbody>
  </table>

  <p class="clearfix visible-xs-block"></p>

  <!--div class="sub_title">
      Applications
  </div>

  <table class="app_table">
      <thead>
          <tr>
              <th class="th_index">Type</th>
              <th class="th_name">Name</th>
              <th class="th_status">Status</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="modal_app in Modal_APP_INFO" ng-if="show_flag(modal_media_player[modal_app.status])" ng-class="{'brand-danger': modal_media_player[modal_app.status]==2, 'brand-warning': modal_media_player[modal_app.status]==1}">
              <td class="td_index" data-title="'Type'">
                  {{modal_app.index}}
              </td>
              <td class="td_name" data-title="'Name'">
                  <span class="overflow_dot">{{modal_media_player[modal_app.name]}}</span>
                  <span ng-if="$index!=$first">$index</span>
              </td>
              <td class="td_status" data-title="'Status'">
                  {{modal_media_player[modal_app.app_status] | uppercase}}
              </td>
          </tr>
      </tbody>
  </table-->

  <p class="clearfix visible-xs-block"></p>

  <div class="sub_title" translate="modal.Diagnostics.Displays"></div>

  <table class="displays_table">
    <thead>
        <tr>
            <th class="th_number" translate="modal.Diagnostics.Group / Set ID"></th>
            <th class="th_item" translate="modal.Diagnostics.Items"></th>
            <th class="th_threshold" translate="modal.Diagnostics.Threshold"></th>
            <th class="th_current" translate="modal.Diagnostics.Current"></th>
            <th class="th_status" translate="modal.Diagnostics.Status"></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="modal_dp in modal_displays" ng-if="show_flag(modal_dp.status_temp)" ng-class="{'brand-danger': modal_dp.status_temp==2, 'brand-warning': modal_dp.status_temp==1}">
      <td class="td_number" data-title="'No.'" >
        {{modal_dp.dp_group!=None && modal_dp.dp_group!='' ? modal_dp.dp_group : 'None'}} / {{modal_dp.set_id}}
      </td>
      <td class="td_item" data-title="'Items'">
        Temperature
      </td>
      <td class="td_threshold" data-title="'Threshold'">
        {{modal_device_group['th_dp_temp_warning']}} ~ {{modal_device_group['th_dp_temp_error']}}
      </td>
      <td class="td_current" data-title="'Current'">
        {{modal_dp.val_Temp}}
      </td>
      <td class="td_status" data-title="'Status'">
        {{show_status(modal_dp.status_temp)}}
      </td>
    </tr>

    <tr ng-repeat="modal_dp in modal_displays" ng-if="show_flag(modal_dp.val_Signal)" ng-class="{'brand-danger': modal_dp.val_Signal=='NG'}">
      <td class="td_number" data-title="'No.'" >
        {{modal_dp.dp_group!=None && modal_dp.dp_group!='' ? modal_dp.dp_group : 'None'}} / {{modal_dp.set_id}}
      </td>
      <td class="td_item" data-title="'Items'">
        Video Signal
      </td>
      <td class="td_threshold" data-title="'Threshold'">

      </td>
      <td class="td_current" data-title="'Current'">
        {{modal_dp.val_Signal}}
      </td>
      <td class="td_status" data-title="'Status'">
        {{show_status(modal_dp.val_Signal)}}
      </td>
    </tr>

    <tr ng-repeat="modal_dp in modal_displays" ng-if="show_flag(modal_dp.val_Lamp)" ng-class="{'brand-danger': modal_dp.val_Lamp=='NG'}">
      <td class="td_number" data-title="'No.'" >
        {{modal_dp.dp_group!=None && modal_dp.dp_group!='' ? modal_dp.dp_group : 'None'}} / {{modal_dp.set_id}}
      </td>
      <td class="td_item" data-title="'Items'">
        Lamp
      </td>
      <td class="td_threshold" data-title="'Threshold'">

      </td>
      <td class="td_current" data-title="'Current'">
        {{modal_dp.val_Lamp}}
      </td>
      <td class="td_status" data-title="'Status'">
        {{show_status(modal_dp.val_Lamp)}}
      </td>
    </tr>

    </tbody>
  </table>

  <p class="clearfix visible-xs-block"></p>

  <div class="sub_title">
    Incident List
  </div>

  <table ng-table="incidentsTableParams" class="incidents_table">
      <thead>
          <tr>
              <th class="no" translate="modal.Diagnostics.No."></th>
              <th class="create" translate="modal.Diagnostics.Generated"></th>
              <th class="msg" translate="modal.Diagnostics.Incident Message"></th>
              <th class="level" translate="modal.Diagnostics.Severity"></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="incident in $data" class="{{showSeverity(incident.level)}}">
              <td class="no">{{(incidentsTableParams.page()-1)*incidentsTableParams.count() + $index+1}}</td>
              <td class="create">
                {{incident.created | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
              </td>
              <td class="msg">
                  <span class="overflow_dot">
                      {{showMessage(incident)}}
                  </span>
              </td>
              <td class="level {{showSeverity(incident.level)}}">{{showSeverity(incident.level)}}</td>
          </tr>
      </tbody>
  </table>

  <p class="clearfix visible-xs-block"></p>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="close()" translate="modal.Diagnostics.Close"></button>
  </div>
</div>
