<div class="mobile_request_wrap">
    <div class="request_confirm_box">
        <div class="title">
            <i class="fa fa-send"></i> <span translate="modal.checkDisplay.Request"></span>
        </div>
        <div class="request_content" translate="modal.checkDisplay.{{comment}}"></div>
        <div class="request_btn_area">
            <a href="" class="btn btn-danger btn-xs btn_ok" ng-click="ok()" translate="modal.checkDisplay.OK"></a>
            <a href="" class="btn btn-default btn-xs" ng-click="close()" translate="modal.checkDisplay.Cancel"></a>
        </div>
    </div>
</div>
