<div class="mobile_reports_wrap" ng-controller="ReportsIncidentCtrl">
    <!-- reports Menu -->
    <div ng-include="mobile_reports_nav_uri" class="mobile_reports_menu_area"></div>
    <!-- //reports Menu -->

    <div class="clearfix visible-xs-block"></div>

    <div class="mobile_report_incident_content">
        <table ng-table="incidentTableParams" class="incident_table">
            <thead>
            <tr>
                <th class="{{header.class_name}}" ng-repeat="header in incident_headers"
                    ng-class="{'sortable': header.sortable, 'sort-asc': incidentTableParams.isSortBy(header.field, 'asc'), 'sort-desc': incidentTableParams.isSortBy(header.field, 'desc')}"
                    ng-click="header.sortable? incidentTableParams.sorting(header.field, incidentTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):''">
                    <div>
                      {{header.name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="incident in $data" class="{{showSeverity(incident.level)}}">
                <td class="no">{{(incidentTableParams.page()-1)*20 + $index+1}}</td>
                <td class="create">
                  {{incident.created | date_time: showDateFormat(user.date_format)+" HH:mm:ss": showTimeZone(user.time_zone)}}
                </td>
                <td class="msg">
                    <span class="incident_overflow_dot">
                        {{showMessage(incident)}}
                    </span>
                </td>
                <td class="level {{showSeverity(incident.level)}}">{{showSeverity(incident.level)}}</td>
                <td class="act">
                    <a href="" ng-click="moveToLive(incident.mp_serial_number)">
                        Check
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

