<div class="mobile_reports_wrap" ng-controller="ReportsTop10Ctrl">
    <!-- reports Menu -->
    <div ng-include="mobile_reports_nav_uri" class="mobile_reports_menu_area"></div>
    <!-- //reports Menu -->

    <div class="clearfix visible-xs-block"></div>

    <div class="report_top10_content">
        <div class="mobile_top10">
            <div class="top10_header" translate="content.reports.CumulativeTop10"></div>
            <div class="mobile_top10_setting item-wrapper">
                <span translate="content.reports.TimeRange"></span>
                <a href=""
                   editable-select="top10_setting.search_time_range"
                   e-ng-options="s.value as s.text for s in {{top10_setting.statuses}}">
                    {{top10_setting.search_time_range}} <span translate="content.reports.hours"></span>
                </a>
            </div>

            <p class="clearfix visible-xs-block"></p>

            <div class="mobile_reports_top10 cpu_use">
                <div class="top10_title" translate="content.reports.AverageCPUUsage"></div>
                <table class="top_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in usage_headers" class="{{header.class_name}}" translate="content.reports.{{header.name}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in cpu_use | orderBy: 'value' : true">
                        <td data-title="'Name'" class="td_name">
                            <span class="overflow_dot" ng-class="{'brand-NA': info.alias == 'N/A'}">{{info.alias}}</span>
                        </td>
                        <td data-title="'Usage'" class="td_usage">
                            <span ng-if="info.value!=-1">
                                <!--<span ng-if="status_type_normal(info.value)">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped"
                                             role="progressbar"
                                             aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: {{info.value}}%;">
                                            {{info.value}}%
                                        </div>
                                    </div>
                                </span>-->
                                <span ng-if="status_type_normal(info.value)">{{info.value | number:0}}%</span>
                                <span class="brand-NA" ng-if="status_type_NA(info.value)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="info.value==-1">
                                &nbsp;
                            </span>
                        </td>
                        <td data-title="'Action'" class="td_action">
                            <span ng-if="info.value!=-1">
                                <a class="action" href="" ng-click="mobile_moveToLiveFormTop10(info.serial_number)" ng-class="{'action_brand_primary':(info.status_lv==0), 'action_brand_warning':(info.status_lv==1), 'action_brand_danger':(info.status_lv==2), 'action_brand_success':(info.status_lv==3) }">
                                    Detail
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mobile_reports_top10 memory_use">
                <div class="top10_title" translate="content.reports.AverageMemoryUsage"></div>
                <table class="top_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in usage_headers" class="{{header.class_name}}" translate="content.reports.{{header.name}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in memory_use | orderBy: 'value' : true">
                        <td data-title="'Name'" class="td_name">
                            <span class="overflow_dot" ng-class="{'brand-NA': info.alias == 'N/A'}">{{info.alias}}</span>
                        </td>
                        <td data-title="'Usage'" class="td_usage">
                            <span ng-if="info.value!=-1">
                                <span ng-if="status_type_normal(info.value)">{{info.value | number:0}}% </span>
                                <span class="brand-NA" ng-if="status_type_NA(info.value)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="info.value==-1">
                                &nbsp;
                            </span>
                        </td>
                        <td data-title="'Action'" class="td_action">
                            <span ng-if="info.value!=-1">
                                <a class="action" href="" ng-click="mobile_moveToLiveFormTop10(info.serial_number)" ng-class="{'action_brand_primary':(info.status_lv==0), 'action_brand_warning':(info.status_lv==1), 'action_brand_danger':(info.status_lv==2), 'action_brand_success':(info.status_lv==3) }">
                                    Detail
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mobile_reports_top10 disk_use">
                <div class="top10_title" translate="content.reports.AverageDiskUsage"></div>
                <table class="top_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in usage_headers" class="{{header.class_name}}" translate="content.reports.{{header.name}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in disk_use | orderBy: 'value' : true">
                        <td data-title="'Name'" class="td_name">
                            <span class="overflow_dot" ng-class="{'brand-NA': info.alias == 'N/A'}">{{info.alias}}</span>
                        </td>
                        <td data-title="'Usage'" class="td_usage">
                            <span ng-if="info.value!=-1">
                                <span ng-if="status_type_normal(info.value)">{{info.value | number:0}}% </span>
                                <span class="brand-NA" ng-if="status_type_NA(info.value)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="info.value==-1">
                                &nbsp;
                            </span>
                        </td>
                        <td data-title="'Action'" class="td_action">
                            <span ng-if="info.value!=-1">
                                <a class="action" href="" ng-click="mobile_moveToLiveFormTop10(info.serial_number)" ng-class="{'action_brand_primary':(info.status_lv==0), 'action_brand_warning':(info.status_lv==1), 'action_brand_danger':(info.status_lv==2), 'action_brand_success':(info.status_lv==3) }">
                                    Detail
                                </a>
                            </span>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="mobile_reports_top10 cpu_state">
                <div class="top10_title" translate="content.reports.AverageCPUTemperature"></div>
                <table class="top_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in temp_headers" class="{{header.class_name}}" translate="content.reports.{{header.name}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in cpu_state | orderBy: 'value' : true">
                        <td data-title="'Name'" class="td_name">
                          <span class="overflow_dot" ng-class="{'brand-NA': info.alias == 'N/A'}">{{info.alias}}</span>
                        </td>
                        <td data-title="'Temp'" class="td_temp">
                            <span ng-if="info.value!=-1">
                                <span ng-if="status_type_zero(info.value)">{{info.value | number:0}}℃ / {{tempConverter('F', info.value) | number:0}}℉ </span>
                                <span class="brand-NA" ng-if="status_type_zero_NA(info.value)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="info.value==-1">
                                &nbsp;
                            </span>
                        </td>
                        <td data-title="'Action'" class="td_action">
                            <span ng-if="info.value!=-1">
                                <a class="action" href="" ng-click="mobile_moveToLiveFormTop10(info.serial_number)" ng-class="{'action_brand_primary':(info.status_lv==0), 'action_brand_warning':(info.status_lv==1), 'action_brand_danger':(info.status_lv==2), 'action_brand_success':(info.status_lv==3) }">
                                  Detail
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mobile_reports_top10 device_state">
                <div class="top10_title" translate="content.reports.AverageDeviceTemperature"></div>
                <table class="top_table">
                    <thead>
                        <tr>
                            <th ng-repeat="header in temp_headers" class="{{header.class_name}}" translate="content.reports.{{header.name}}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in device_state | orderBy: 'value' : true">
                        <td data-title="'Name'" class="td_name">
                            <span class="overflow_dot" ng-class="{'brand-NA': info.alias == 'N/A'}">{{info.alias}}</span>
                        </td>
                        <td data-title="'Temp'" class="td_temp">
                            <span ng-if="info.value!=-1">
                                <span ng-if="status_type_zero(info.value)">{{info.value | number:0}}℃ / {{tempConverter('F', info.value) | number:0}}℉ </span>
                                <span class="brand-NA" ng-if="status_type_zero_NA(info.value)">N/A</span>
                            </span>
                            <span class="brand-FFF" ng-if="info.value==-1">
                                &nbsp;
                            </span>
                        </td>
                        <td data-title="'Action'" class="td_action">
                            <span ng-if="info.value!=-1">
                                <a class="action" href="" ng-click="mobile_moveToLiveFormTop10(info.serial_number)" ng-class="{'action_brand_primary':(info.status_lv==0), 'action_brand_warning':(info.status_lv==1), 'action_brand_danger':(info.status_lv==2), 'action_brand_success':(info.status_lv==3) }">
                                  Detail
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>
</div>

