<ul class="reports_menu">
  <li ng-repeat="menu in mobile_reports_nav_menu">
        <span ng-if="menu.link_type=='dynamic'">
            <a ng-href="{{menu.a_href}}/{{first_serial_number}}" ng-click="onClickMenu(menu)" ng-class="{'active': onActiveMenu(mobile_currentURI(), menu.link_tag, menu.clicked)}">
              <i class="fa {{menu.icon}}"></i> {{menu.title}}
            </a>
        </span>
        <span ng-if="menu.link_type=='static'">
            <a ng-href="{{menu.a_href}}" ng-click="onClickMenu(menu)" ng-class="{'active': onActiveMenu(mobile_currentURI(), menu.link_tag, menu.clicked)}">
              <i class="fa {{menu.icon}}"></i> <span translate="content.reports.{{menu.title}}"></span>
            </a>
        </span>
        <span ng-if="menu.link_type=='static_manager' && userType=='MANAGER'">
            <a ng-href="{{menu.a_href}}" ng-click="onClickMenu(menu)" ng-class="{'active': onActiveMenu(mobile_currentURI(), menu.link_tag, menu.clicked)}">
              <i class="fa {{menu.icon}}"></i> {{menu.title}}
            </a>
        </span>
  </li>
</ul>

<p class="clearfix visible-xs-block"></p>
