<div class="" ng-controller="AdministrationCtrl">
    <div class="sub_title">
        My Information
    </div>
    <div class="sub_content">
        <table>
            <tr>
                <th>ID</th>
                <td>unet</td>
                <th>Name</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="text"></td>
                <th>Confirm Password</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>
                    Administrator
                </td>
                <th>E-mail</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text"></td>
                <th>Mobile</th>
                <td><input type="text"></td>
            </tr>
        </table>
        <div align="right">
            <a class="btn btn-default" href="#">Create</a>
        </div>
    </div>
</div>