<div class="this_path">
    <div class="path">
        <a href="" ng-show="tree_menu=='by_site'">
            <i class="fa fa-sitemap"></i> Account
        </a>
        <a href="" ng-show="tree_menu=='by_dg'">
            <i class="fa fa-folder"></i> Group
        </a> <span ng-hide="tree_menu==undefined">&gt;</span>
        <a href="" ng-click="onClickSitePath(selectedSite)">
            <i class="fa fa-folder"></i> {{mp['site']}}
        </a> &gt;
        <a href="" ng-click="onClickLocationPath(selectedLocation)">
            <i class="fa fa-globe"></i> {{mp['location']}}
        </a> &gt;
        <a href="" ng-click="onClickShopPath(selectedShop)">
            <i class="fa fa-map-marker"></i> {{mp['shop']}}
        </a>
    </div>
</div>
<!-- TOP Button: Modal -->
<div class="main_func section" ng-class="{'mp_main_func': live_status.MediaPlayer.flag, 'dp_main_func':live_status.Display.flag}">
    <div class="main_func_btns_wrap">
        <button class="btn btn-info btn-xs" ng-if="live_status.MediaPlayer.flag" ng-click="openMPHistoricalView()">
            <span translate="content.liveStatus.HistoricalView"></span>
        </button>
        <button class="btn btn-info btn-xs" ng-if="live_status.Display.flag" ng-click="openDPHistoricalView(displaySerialNumber)">
            <span translate="content.liveStatus.HistoricalView"></span>
        </button>
        <button class="btn btn-success btn-xs" ng-disabled="!isMP_Info" ng-if="live_status.MediaPlayer.flag" ng-click="openRequestDM('check_control', 'check', 'display_indexs', mp['serial_number'])">
            <span translate="content.liveStatus.CheckDisplays"></span>
        </button>
        <button class="btn btn-danger btn-xs diag_btn" ng-if="live_status.MediaPlayer.flag || live_status.Display.flag" ng-click="openDiagnosticDialog(mp['serial_number'])">
            <span translate="content.liveStatus.Diagnostics"></span>
        </button>
        <button class="btn btn-danger btn-xs" ng-disabled="!isMP_Info" ng-if="getOS(mp['os'])=='linux' && live_status.MediaPlayer.flag" ng-click="openTerminalDialog(mp['serial_number'])">
            <span translate="content.liveStatus.RemoteControl"></span>
        </button>
        <button class="btn btn-danger btn-xs" ng-disabled="!isMP_Info" ng-if="'windows'== getOS(mp['os']) && live_status.MediaPlayer.flag" ng-click="openRemoteControlDialog(mp['serial_number'])">
            <span translate="content.liveStatus.RemoteControl"></span>
        </button>
        <!--button class="btn btn-danger btn-xs" ng-disabled="!isMP_Info" ng-if="'windows'== getOS(mp['os']) && live_status.MediaPlayer.flag" ng-click="openVProDialog(mp['serial_number'])">
          <span>Intel vPro</span>
        </button-->
    </div>
</div>
<!-- //TOP Button: Modal -->

<p class="clearfix visible-xs-block"></p>
