<div class="remote_connect_wrap">
    <p class="title">
        <i class="fa fa-windows"></i> <span translate="modal.remote.Remote Control"></span>
    </p>
    <div class="remote_connect_wrap_line">
        <p class="connect_ment" translate="modal.remote.ment1"></p>
        <p style="margin:5px;"> Media Player(alias : {{media_player.alias}}) </p>
        <p class="btn_line">
            <a href="../download/ <p cherV.exe" class="btn btn-danger btn-xs" ng-click="onClickConnect()" translate="modal.remote.Connect"></a>
            <a href="" class="btn btn-default btn-xs" ng-click="close()" translate="modal.remote.Cancel"></a>
        </p>
    </div>
</div>
