<div class="reports_wrap">
  <!-- reports Menu -->
  <div ng-include="reports_nav_uri" class="reports_menu_area"></div>
  <!-- //reports Menu -->

  <div class="clearfix visible-xs-block"></div>

  <div class="report_stats_content" ng-controller="ReportsSummaryCtrl">
    <div class="frame_content">
      <iframe width="100%" height="700" border="0" class="statistics" frameBorder="0" name="statistics" ng-src="{{trustSrc(StatURL, user.key, user.isAdmin)}}"></iframe>
    </div>
  </div>
</div>
