<div class="reports_wrap" ng-controller="ReportsIncidentCtrl">
    <!-- reports Menu -->
    <div ng-include="reports_nav_uri" class="reports_menu_area"></div>
    <!-- //reports Menu -->

    <div class="clearfix visible-xs-block"></div>

    <div class="report_incident_content">
        <div class="report_incident_side_wrap">
            <div class="incident_side_section">
                <div class="incident_side_title" translate="content.reports.Target"></div>
                <div class="incident_side_section_content">
                    <div class="base_wrap">
                        <div class="{{item.class_name}}" ng-repeat="item in incident_bases">
                            <input type="radio" id="{{item.id}}" ng-model="incident_base.value" value="{{item.value}}" /> <label for="{{item.id}}" translate="content.reports.{{item.name}}"></label>
                        </div>
                        <p class="clearfix"></p>
                    </div>

                    <div class="location_wrap">
                        <div ng-if="incident_select.manager.active">
                            <label for="{{incident_select.manager.id}}" translate="content.reports.{{incident_select.manager.name}}"></label>
                            <select class="form-control" id="{{incident_select.manager.id}}" ng-options="manager.userID for manager in search_managers" ng-model="search_manager" ng-change="search_manager_update(search_manager)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.account.active">
                            <label for="{{incident_select.account.id}}" translate="content.reports.{{incident_select.account.name}}"></label>
                            <select class="form-control" id="{{incident_select.account.id}}" ng-options="account.name for account in search_accounts" ng-model="search_account" ng-disabled="if_select(incident_select.manager.id, search_manager)" ng-change="search_account_update(search_account)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.region.active">
                            <label for="{{incident_select.region.id}}" translate="content.reports.{{incident_select.region.name}}"></label>
                            <select class="form-control" id="{{incident_select.region.id}}" ng-options="region.name for region in search_regions" ng-model="search_region" ng-disabled="if_select(incident_select.account.id, search_account)" ng-change="search_region_update(search_region)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.shop.active">
                            <label for="{{incident_select.shop.id}}" translate="content.reports.{{incident_select.shop.name}}"></label>
                            <select class="form-control" id="{{incident_select.shop.id}}" ng-options="shop.name for shop in search_shops" ng-model="search_shop" ng-disabled="if_select(incident_select.region.id, search_region)" ng-change="search_shop_update(search_shop)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.mp.active">
                            <label for="{{incident_select.mp.id}}" translate="content.reports.{{incident_select.mp.name}}"></label>
                            <select class="form-control" id="{{incident_select.mp.id}}" ng-options="mp.alias for mp in search_mps" ng-model="search_mp" ng-disabled="if_select(incident_select.shop.id, search_shop)" ng-change="search_mp_update(search_mp)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.dg.active">
                            <label for="{{incident_select.dg.id}}" translate="content.reports.{{incident_select.dg.name}}"></label>
                            <select class="form-control" id="{{incident_select.dg.id}}" ng-options="dg.name for dg in search_dgs" ng-model="search_dg" ng-disabled="if_select(incident_select.manager.id, search_manager)" ng-change="search_dg_update(search_dg)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="incident_select.dg_mp.active">
                            <label for="{{incident_select.dg_mp.id}}">{{incident_select.dg_mp.name}}</label>
                            <select class="form-control" id="{{incident_select.dg_mp.id}}" ng-options="dg_mp.alias for dg_mp in search_dg_mps" ng-model="search_dg_mp" ng-disabled="if_select(incident_select.dg.id, search_dg)" ng-change="search_dg_mp_update(search_dg_mp)"></select>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="incident_side_section btn_section">
                <a href="" class="btn btn-default btn-sm search_btn" ng-disabled="incidentTableParams.settings().$loading" ng-click="searchDetail()" translate="content.reports.Search"></a>
            </div>
        </div>
        <div class="report_incident_table_wrap">
            <div class="incident_table_title" translate="content.reports.IncidentLogs"></div>
            <table ng-table="incidentTableParams" class="incident_table">
                <thead>
                <tr>
                    <th ng-repeat="header in incident_headers" class="{{header.class_name}}"
                        ng-class="{'sortable': header.sortable}"
                        ng-click="header.sortable? incidentTableParams.sorting(header.field, incidentTableParams.isSortBy(header.field, 'asc')?'desc':'asc'):''">
                        <div translate="content.reports.{{header.name}}">
                            <i ng-if="header.sortable" class="sortable fa" ng-class="{'fa-sort-asc': incidentTableParams.isSortBy(header.field, 'asc'), 'fa-sort-desc': incidentTableParams.isSortBy(header.field, 'desc')}"></i>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="incident in $data" class="{{showSeverity(incident.level)}}">
                        <td class="no">
                            <div>
                                {{(incidentTableParams.page()-1)*20 + $index+1}}
                            </div>
                        </td>
                        <td class="create">
                            <div>
                                {{incident.created | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
                            </div>
                        </td>
                        <td class="category">
                            <div>
                                {{codeToCategory(incident.error_code)}}
                            </div>
                        </td>
                        <td class="msg">
                            <div>
                                <span class="overflow_dot">
                                    {{showMessage(incident)}}
                                </span>
                            </div>
                        </td>
                        <td class="level {{showSeverity(incident.level)}}">
                            <div>
                                {{showSeverity(incident.level)}}
                            </div>
                        </td>
                        <td class="act">
                            <a href="" ng-click="moveToLiveFormIncident(incident)">
                                Check
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

