<div class="stats_modal_wrap">
    <div class="stats_modal_wrap_box">
        <div class="stats_modal_title">
            <span translate="content.reports.MediaPlayer Fault Detail"></span>
            <a href="" class="btn btn-xs btn-info export_btn" ng-if="!IsIE8nIE9()" ng-click="exportToExcel_MP()">
                <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
            </a>
            <!--a href="" class="btn btn-xs btn-info export_btn"  ng-click="createExcelSheet_MP(malfunc_set_excel)">
                <i class="fa fa-file-excel-o"></i> Excel
            </a-->
            <a id="excel_ie8_MP" href="" ng-hide="true" ng-click="createExcelSheet_MP(malfunc_set_excel)">
              &nbsp;
            </a>
            <a class="btn btn-xs btn-info export_btn" ng-if="IsIE8nIE9()" ng-disabled="ieExcelBtnActive(report_search_flag, ie8_excel_create)" ng-href="{{excel_MP_down_url}}">
              <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
            </a>
        </div>
        <div class="stats_modal_content" loading-container="malfuncMPTable.settings().$loading">
            <table ng-table="malfuncMPTable" class="stats_modal_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in malfuncMPTableHeader" class="{{head.className}}"
                            ng-class="{'sortable': head.sortable, 'sort-asc': malfuncMPTable.isSortBy(head.field, 'asc'), 'sort-desc': malfuncMPTable.isSortBy(head.field, 'desc')}"
                            ng-click="head.sortable ? malfuncMPTable.sorting(head.field, malfuncMPTable.isSortBy(head.field, 'asc') ? 'desc' : 'asc') : ''">
                            <div>
                                <span translate="content.reports.{{head.name}}"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in malfunc_set" ng-class="{'brand-line-EEE': $odd}">
                        <td class="no">
                            <div>
                                <span>
                                    {{(malfuncMPTable.page() - 1) * malfuncMPTable.count() + $index + 1}}
                                </span>
                            </div>
                        </td>
                        <td class="sn">
                            <div>
                                <span>
                                    {{item.serial_number}}
                                </span>
                            </div>
                        </td>
                        <td class="alias">
                            <div>
                                <span>
                                    {{item.alias}}
                                </span>
                            </div>
                        </td>
                        <td class="account">
                            <div>
                                <span>
                                    {{item.account}}
                                </span>
                            </div>
                        </td>
                        <td class="location">
                            <div>
                                <span>
                                    {{item.location}}
                                </span>
                            </div>
                        </td>
                        <td class="shop">
                            <div>
                                <span>
                                    {{item.shop}}
                                </span>
                            </div>
                        </td>
                        <td class="live">
                            <div>
                                <span>
                                    <a href="" ng-click="moveLivePage(item.serial_number)">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="incident">
                            <div>
                                <span>
                                    <a href="" ng-click="moveIncidentPage(item.serial_number)">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stats_modal_footer">
            <button class="btn btn-primary btn-sm close_btn" ng-click="cancelStatsMPModal()">Close</button>
        </div>

        <p class="clearfix"></p>
        <div id="export_excel_mp_fault" ng-hide="true">
            <div class="stats_modal_title" style="color:#666;text-align:center;" translate="content.reports.MediaPlayer Fault Detail"></div>
            <div class="stats_modal_content" loading-container="malfuncMPTable_Excel.settings().$loading">
                <table ng-table="malfuncMPTable_Excel" class="stats_modal_table">
                    <thead>
                    <tr>
                        <th ng-repeat="head in malfuncMPTableHeader" class="{{head.className}}" style="background-color:#eee;">
                            <div>
                              <span translate="content.reports.{{head.name}}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align:center;border:1px solid #eee;" ng-repeat="item in malfunc_set_excel" ng-class="{'brand-line-EEE': $odd}">
                        <td class="no">
                            <div>
                                <span>
                                    {{$index+1}}
                                </span>
                            </div>
                        </td>
                        <td class="sn" style="mso-number-format:'\@'">
                            <div>
                                <span>
                                    {{item.serial_number}}
                                </span>
                            </div>
                        </td>
                        <td class="alias">
                            <div>
                                <span>
                                    {{item.alias}}
                                </span>
                            </div>
                        </td>
                        <td class="account">
                          <div>
                            <span>
                                {{item.account}}
                            </span>
                          </div>
                        </td>
                        <td class="location">
                            <div>
                                <span>
                                    {{item.location}}
                                </span>
                            </div>
                        </td>
                        <td class="shop">
                            <div>
                                <span>
                                    {{item.shop}}
                                </span>
                            </div>
                        </td>
                        <td class="live">
                            <div>
                                <span>
                                    <a href="" ng-click="moveLivePage(item.serial_number)">
                                      View
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="incident">
                            <div>
                                <span>
                                    <a href="" ng-click="moveIncidentPage(item.serial_number)">
                                      View
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
