<div class="stats_modal_wrap">
    <div class="stats_modal_wrap_box">
        <div class="stats_modal_title">
            <span translate="content.reports.Display Fault Detail"></span>
            <a href="" class="btn btn-xs btn-info export_btn" ng-if="!IsIE8nIE9()" ng-click="exportToExcel_DP()">
              <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
            </a>
            <!--a href="" class="btn btn-xs btn-info export_btn" ng-if="IsIE8nIE9()" ng-click="createExcelSheet(malfuncDP_set_excel)">
              <i class="fa fa-file-excel-o"></i> Excel
            </a-->
            <a id="excel_ie8_DP" href="" ng-hide="true" ng-click="createExcelSheet_DP(malfuncDP_set_excel)">
              &nbsp;
            </a>
            <a class="btn btn-xs btn-info export_btn" ng-if="IsIE8nIE9()" ng-disabled="ieExcelBtnActive(report_search_flag, ie8_excel_create)" ng-href="{{excel_DP_down_url}}">
              <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
            </a>
        </div>
        <div class="stats_modal_content" loading-container="malfuncDPTable.settings().$loading">
            <table ng-table="malfuncDPTable" class="stats_modal_table">
                <thead>
                    <tr>
                        <th ng-repeat="head in malfuncDPTableHeader" class="{{head.className}}"
                            ng-class="{'sortable': head.sortable, 'sort-asc': malfuncDPTable.isSortBy(head.field, 'asc'), 'sort-desc': malfuncDPTable.isSortBy(head.field, 'desc')}"
                            ng-click="head.sortable ? malfuncDPTable.sorting(head.field, malfuncDPTable.isSortBy(head.field, 'asc') ? 'desc' : 'asc') : ''">
                            <div>
                                <span translate="content.reports.{{head.name}}"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in malfuncDP_set" ng-class="{'brand-line-EEE': $odd}">
                        <td class="no">
                            <div>
                                <span>
                                    {{(malfuncDPTable.page() - 1) * malfuncDPTable.count() + $index + 1}}
                                </span>
                            </div>
                        </td>
                        <td class="sn">
                            <div>
                                <span>
                                    {{item.serial_number}}
                                </span>
                            </div>
                        </td>
                        <td class="alias">
                            <div>
                                <span>
                                    {{item.alias}}
                                </span>
                            </div>
                        </td>
                        <td class="dg">
                            <div>
                                <span>
                                    {{item.dp_group}}
                                </span>
                            </div>
                        </td>
                        <td class="account">
                            <div>
                                <span>
                                    {{item.account}}
                                </span>
                            </div>
                        </td>
                        <td class="location">
                            <div>
                                <span>
                                    {{item.location}}
                                </span>
                            </div>
                        </td>
                        <td class="shop">
                            <div>
                                <span>
                                    {{item.shop}}
                                </span>
                            </div>
                        </td>
                        <td class="live">
                            <div>
                                <span>
                                    <a href="" ng-click="moveLivePage(item.mp_serial_number, item.serial_number)">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="incident" ng-click="moveIncidentPage(item.mp_serial_number, item.serial_number)">
                            <div>
                                <span>
                                    <a href="">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="stats_modal_footer">
            <button class="btn btn-primary btn-sm close_btn" ng-click="cancelStatsDPModal()">Close</button>
        </div>
        <p class="clearfix"></p>
        <div id="export_excel_dp_fault" ng-hide="true">
            <div class="stats_modal_title" style="color:#666;text-align:center;" translate="content.reports.Display Fault Detail"></div>
            <div class="stats_modal_content" loading-container="malfuncDPTable_Excel.settings().$loading">
                <table ng-table="malfuncDPTable_Excel" class="stats_modal_table">
                    <thead>
                    <tr>
                        <th ng-repeat="head in malfuncDPTableHeader" class="{{head.className}}" style="background-color:#eee;">
                            <div>
                                <span translate="content.reports.{{head.name}}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align:center;border:1px solid #eee;" ng-repeat="item in malfuncDP_set_excel" ng-class="{'brand-line-EEE': $odd}">
                        <td class="no">
                            <div>
                                <span>
                                    {{$index+1}}
                                </span>
                            </div>
                        </td>
                        <td class="sn">
                            <div>
                                <span>
                                    {{item.serial_number}}
                                </span>
                            </div>
                        </td>
                        <td class="alias">
                            <div>
                                <span>
                                    {{item.alias}}
                                </span>
                            </div>
                        </td>
                        <td class="dg">
                            <div>
                                <span>
                                    {{item.dp_group}}
                                </span>
                            </div>
                        </td>
                        <td class="account">
                            <div>
                                <span>
                                    {{item.account}}
                                </span>
                            </div>
                        </td>
                        <td class="location">
                            <div>
                                <span>
                                    {{item.location}}
                                </span>
                            </div>
                        </td>
                        <td class="shop">
                            <div>
                                <span>
                                    {{item.shop}}
                                </span>
                            </div>
                        </td>
                        <td class="live">
                            <div>
                                <span>
                                    <a href="" ng-click="moveLivePage(item.mp_serial_number, item.serial_number)">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="incident" ng-click="moveIncidentPage(item.mp_serial_number, item.serial_number)">
                            <div>
                                <span>
                                    <a href="">
                                        View
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
