<div class="reports_wrap" ng-controller="ReportsStatsCtrl">
    <!-- reports Menu -->
    <div ng-include="reports_nav_uri" class="reports_menu_area"></div>
    <!-- //reports Menu -->

    <div class="clearfix visible-xs-block"></div>

    <div class="report_stats_content">
        <div class="stats_side">
            <div class="stats_side_section">
                <div class="stats_side_title" translate="content.reports.Period"></div>
                <div class="stats_side_section_content">
                    <div class="period_wrap">
                        <div class="{{item.class_name}}" ng-repeat="item in stats_periods">
                            <input type="radio" href="" id="{{item.id}}" ng-model="stats_period.value" value="{{item.value}}" /> <label for="{{item.id}}" translate="content.reports.{{item.name}}"></label>
                        </div>
                        <p class="clearfix"></p>
                    </div>
                    <div class="period_detail_wrap">
                        <div class="start_date_wrap">
                            <label for="start_date" translate="content.reports.Begin"></label>
                            <input id="start_date" jqdatepicker class="start_date" type="text" ng-model="start_date" ng-change="modifyDate(start_date)" />
                            <p class="clearfix"></p>
                        </div>
                        <p class="clearfix"></p>
                        <!--p ng-if="IsIE8()" class="text-center">
                          <span ng-if="date_validate(start_date)" class="brand-success">Date format is correct.</span>
                          <span ng-if="!date_validate(start_date)" class="brand-danger">Date format is not correct.</span>
                        </p-->
                        <p class="clearfix"></p>
                        <div class="end_date_wrap">
                            <label for="end_date" translate="content.reports.End"></label>
                            <input id="end_date" jqdatepicker class="end_date" type="text" ng-model="end_date" disabled="true" />
                            <p class="clearfix"></p>
                        </div>
                        <p class="clearfix"></p>
                    </div>
                </div>
            </div>
            <div class="stats_side_section">
                <div class="stats_side_title" translate="content.reports.Target"></div>
                <div class="stats_side_section_content">
                    <div class="base_wrap">
                        <div class="{{item.class_name}}" ng-repeat="item in stats_bases">
                            <input type="radio" id="{{item.id}}" ng-model="stats_base.value" value="{{item.value}}" /> <label for="{{item.id}}" translate="content.reports.{{item.name}}"></label>
                        </div>
                        <p class="clearfix"></p>
                    </div>

                    <div class="location_wrap">
                        <div ng-if="stats_select.manager.active">
                            <label for="{{stats_select.manager.id}}" translate="content.reports.{{stats_select.manager.name}}"></label>
                            <select class="form-control" id="{{stats_select.manager.id}}" ng-options="manager.userID for manager in search_managers" ng-model="search_manager" ng-change="search_manager_update(search_manager)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="stats_select.account.active">
                            <label for="{{stats_select.account.id}}" translate="content.reports.{{stats_select.account.name}}"></label>
                            <select class="form-control" id="{{stats_select.account.id}}" ng-options="account.name for account in search_accounts" ng-model="search_account" ng-disabled="if_select(stats_select.manager.id, search_manager)" ng-change="search_account_update(search_account)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="stats_select.region.active">
                            <label for="{{stats_select.region.id}}" translate="content.reports.{{stats_select.region.name}}"></label>
                            <select class="form-control" id="{{stats_select.region.id}}" ng-options="region.name for region in search_regions" ng-model="search_region" ng-disabled="if_select(stats_select.account.id, search_account)" ng-change="search_region_update(search_region)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="stats_select.shop.active">
                            <label for="{{stats_select.shop.id}}" translate="content.reports.{{stats_select.shop.name}}"></label>
                            <select class="form-control" id="{{stats_select.shop.id}}" ng-options="shop.name for shop in search_shops" ng-model="search_shop" ng-disabled="if_select(stats_select.region.id, search_region)" ng-change="search_shop_update(search_shop)"></select>
                            <p class="clearfix"></p>
                        </div>
                        <div ng-if="stats_select.dg.active">
                            <label for="{{stats_select.dg.id}}" translate="content.reports.{{stats_select.dg.name}}"></label>
                            <select class="form-control" id="{{stats_select.dg.id}}" ng-options="dg.name for dg in search_dgs" ng-model="search_dg" ng-disabled="if_select(stats_select.manager.id, search_manager)" ng-change="search_dg_update(search_dg)"></select>
                            <p class="clearfix"></p>
                        </div>
                    </div>

                    <div class="device_wrap">
                        <div class="device_mp">
                            <input type="checkbox" id="{{stats_device.mp.id}}" ng-model="stats_device.mp.value" /> <label for="{{stats_device.mp.id}}" translate="content.reports.{{stats_device.mp.name}}"></label>
                            <p class="clearfix"></p>
                        </div>
                        <div class="device_dp">
                            <input type="checkbox" id="{{stats_device.dp.id}}" ng-model="stats_device.dp.value" /> <label for="{{stats_device.dp.id}}" translate="content.reports.{{stats_device.dp.name}}"></label>
                            <p class="clearfix"></p>
                        </div>
                        <p class="clearfix"></p>
                    </div>
                </div>
            </div>
            <div class="stats_side_section btn_section">
                <a href="" class="btn btn-default btn-sm search_btn" ng-disabled="report_search_prevent" ng-click="searchDetail()" translate="content.reports.Search"></a>
            </div>
        </div>
        <div class="stats_content">
            <div class="stats_summary">
                <div class="stats_summary_title">
                    <span translate="content.reports.{{stats_period.name}}"></span> <span translate="content.reports.Summary"></span>
                </div>
                <p class="clearfix"></p>
                <div class="stats_summary_init_wrap" ng-if="!report_search_flag" translate="content.reports.guide"></div>
                <div class="stats_summary_overview_wrap" ng-if="report_search_flag">
                    <span class="overview_label">OverView : </span>
                    <span>
                        <i class="fa fa-calendar-o"></i> {{title.start_date}} ~ {{title.end_date}}
                    </span>
                    <span class="overview_manager" ng-if="userType == 'ADMIN'">
                        <i class="fa fa-user"></i> {{search_manager.userID}}
                    </span>
                    <span class="overview_marker" ng-if="stats_base.value == 'account'">
                        <i class="fa fa-map-marker"></i> {{title.account}} <i class="fa fa-angle-right"></i> {{title.region}} <i class="fa fa-angle-right"></i> {{title.shop}}
                    </span>
                    <span class="overview_marker" ng-if="stats_base.value == 'dg'">
                        <i class="fa fa-folder"></i> {{title.dg}}
                    </span>
                    <span ng-if="report_stats_mp_active || report_stats_dp_active">
                        <i class="fa fa-angle-right"></i>
                        <span ng-if="report_stats_mp_active">
                            MP
                        </span>
                        <span ng-if="report_stats_mp_active && report_stats_dp_active">
                        ,
                        </span>
                        <span ng-if="report_stats_dp_active">
                            DP
                        </span>
                    </span>
                </div>
                <div class="stats_summary_mp_wrap empty" ng-if="report_search_flag && !report_stats_mp_active">
                    <div class="stats_summary_mp_title">
                        <span class="label label-info">MediaPlayer</span>
                    </div>
                    <div class="stats_summary_empty">
                        EMPTY
                    </div>
                </div>
                <div class="stats_summary_mp_wrap" ng-if="report_search_flag && report_stats_mp_active">
                    <div class="stats_summary_mp_title">
                        <span class="label label-info">MediaPlayer</span>
                    </div>
                    <div class="section_chart">
                        <div class="section_operation_chart">
                            <highchart config="operationMPChart" style="height: 180px; max-width: 240px; margin: 0 auto"></highchart>
                            <p class="clearfix"></p>
                        </div>
                        <div class="section_downtime_chart">
                            <highchart config="downtimeMPChart" style="height: 180px; max-width: 210px; margin: 0 auto"></highchart>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                    <div class="stats_summary_table_wrap">
                        <table class="stats_summary_table" id="mp_summary_table">
                            <tbody>
                                <tr>
                                    <td rowspan="3" translate="content.reports.OperationRatio"></td>
                                    <td translate="content.reports.TotalDevices"></td>
                                    <td>{{report_stats_mp.total_cnt}} EA</td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.MalfunctionDevices"></td>
                                    <td>
                                        <span ng-if="report_stats_mp.malfunction_cnt == 0">
                                            {{report_stats_mp.malfunction_cnt}} EA
                                        </span>
                                        <a class="malfunc_link" href="" ng-if="report_stats_mp.malfunction_cnt != 0" ng-click="openMalfuncMPInfo(report_stats_mp.malfunction_list)">
                                            {{report_stats_mp.malfunction_cnt}} EA
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.OperationRatio"></td>
                                    <td>{{report_stats_mp.operation_ratio | number:2}} %</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" translate="content.reports.DowntimeRatio"></td>
                                    <td translate="content.reports.Downtime"></td>
                                    <td>{{report_stats_mp.downtime}} <span translate="content.reports.min"></span></td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.DowntimeRatio"></td>
                                    <td>{{report_stats_mp.downtime_ratio | number:2}} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="stats_summary_dp_wrap" ng-if="report_search_flag && !report_stats_dp_active">
                    <div class="stats_summary_dp_title">
                        <span class="label label-info">Display</span>
                    </div>
                    <div class="stats_summary_empty">
                        EMPTY
                    </div>
                </div>
                <div class="stats_summary_dp_wrap" ng-if="report_search_flag && report_stats_dp_active">
                    <div class="stats_summary_dp_title">
                        <span class="label label-info">Display</span>
                    </div>
                    <div class="section_chart">
                        <div class="section_operation_chart">
                            <highchart config="operationDPChart" style="height: 180px; max-width: 240px; margin: 0 auto"></highchart>
                            <p class="clearfix"></p>
                        </div>
                        <div class="section_downtime_chart">
                            <highchart config="downtimeDPChart" style="height: 180px; max-width: 210px; margin: 0 auto"></highchart>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                    <div class="stats_summary_table_wrap">
                        <table class="stats_summary_table">
                            <tbody>
                                <tr>
                                    <td rowspan="3" translate="content.reports.OperationRatio"></td>
                                    <td translate="content.reports.TotalDevices"></td>
                                    <td>{{report_stats_dp.total_cnt}} EA</td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.MalfunctionDevices"></td>
                                    <td>
                                        <span ng-if="report_stats_dp.malfunction_cnt == 0">
                                            {{report_stats_dp.malfunction_cnt}} EA
                                        </span>
                                        <a class="malfunc_link" href="" ng-if="report_stats_dp.malfunction_cnt != 0" ng-click="openMalfuncDPInfo(report_stats_dp.malfunction_list)">
                                            {{report_stats_dp.malfunction_cnt}} EA
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.OperationRatio"></td>
                                    <td>{{report_stats_dp.operation_ratio | number:2}} %</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" translate="content.reports.DowntimeRatio"></td>
                                    <td translate="content.reports.Downtime"></td>
                                    <td>{{report_stats_dp.downtime}} <span translate="content.reports.min"></span></td>
                                </tr>
                                <tr>
                                    <td translate="content.reports.DowntimeRatio"></td>
                                    <td>{{report_stats_dp.downtime_ratio | number:2}} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="clearfix"></p>
                <div class="stats_summary_detail_wrap" ng-if="stats_total_ratio_flag">
                    <highchart config="totalRatioChart" style="min-width: 310px; height: 400px; margin: 0 auto"></highchart>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="stats_detail">
                <div class="stats_detail_title">
                    <span translate="content.reports.{{stats_period.name}}"></span> <span translate="content.reports.DetailList"></span>
                    <a id="excel_export" href="" class="btn btn-xs btn-info export_btn" ng-if="!IsIE8nIE9()" ng-disabled="!report_search_flag" ng-click="exportToExcel()">
                        <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
                    </a>
                    <!--a href="" class="btn btn-xs btn-info export_btn" ng-disabled="!report_search_flag" >
                        <i class="fa fa-file-excel-o"></i> Excel ie
                    </a-->
                    <a id="excel_ie8" href="" ng-hide="true" ng-click="createExcelSheet(stats_period.value, report_stats_detail, search_manager.userID, search_account.name, search_region.name, search_shop.name)">
                      &nbsp;
                    </a>
                    <a class="btn btn-xs btn-info export_btn" ng-disabled="ieExcelBtnActive(report_search_flag, ie8_excel_create)" ng-if="IsIE8nIE9()" ng-href="{{excel_down_url}}">
                        <i class="fa fa-file-excel-o"></i> <span translate="content.reports.Excel"></span>
                    </a>
                </div>
                <p class="clearfix"></p>
                <div class="stats_detail_wrap">
                    <table class="stats_detail_table">
                        <thead>
                            <tr>
                                <th ng-repeat="head in detailTableHeader" class="{{head.className}}">
                                    <div>
                                        <span translate="content.reports.{{head.name}}"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-if="!report_search_flag">
                                <td colspan="{{detailTableCol}}" class="empty">
                                    <div>
                                        <span class="brand-AAA">EMPTY</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in report_stats_detail" ng-if="report_search_flag" ng-class="{'brand-line-EEE': $odd, 'active': item.active}">
                                <td class="day">
                                    <div ng-if="item.search_type == 'daily'">
                                        <span>
                                            {{item.start_date}}
                                        </span>
                                    </div>
                                    <div ng-if="item.search_type == 'weekly'">
                                        <span>
                                            {{item.start_date}} <i ng-if="item.end_date != undefined"> ~ </i>
                                        </span>
                                        <span ng-if="item.end_date != undefined">
                                            {{item.end_date}}
                                        </span>
                                    </div>
                                    <div ng-if="item.search_type == 'monthly'">
                                        <span>
                                            {{item.view_start_date}}
                                        </span>
                                    </div>
                                </td>
                                <td class="type">
                                    <div>
                                        <span>
                                            {{item.mp_type}}
                                        </span>
                                        <span>
                                            {{item.dp_type}}
                                        </span>
                                    </div>
                                </td>
                                <td class="total">
                                    <div>
                                        <span>
                                            {{item.mp_total_cnt}} EA
                                        </span>
                                        <span>
                                            {{item.dp_total_cnt}} EA
                                        </span>
                                    </div>
                                </td>
                                <td class="operation">
                                    <div>
                                        <span>
                                            {{item.mp_operation_ratio | number: 2}} %
                                        </span>
                                        <span>
                                            {{item.dp_operation_ratio | number: 2}} %
                                        </span>
                                    </div>
                                </td>
                                <td class="uptime">
                                    <div>
                                        <span>
                                            {{item.mp_uptime_ratio | number: 2}} %
                                        </span>
                                        <span>
                                            {{item.dp_uptime_ratio | number: 2}} %
                                        </span>
                                    </div>
                                </td>
                                <td class="device">
                                    <div>
                                        <span class="malfunc_link" ng-if="item.mp_malfunction_cnt == 0">
                                            {{item.mp_malfunction_cnt}} EA
                                        </span>
                                        <a class="malfunc_link" href="" ng-if="item.mp_malfunction_cnt != 0" ng-click="openMalfuncMPInfo(item.mp_malfunction_list)">
                                            {{item.mp_malfunction_cnt}} EA
                                        </a>
                                        <span class="malfunc_link" ng-if="item.dp_malfunction_cnt == 0">
                                            {{item.dp_malfunction_cnt}} EA
                                        </span>
                                        <a class="malfunc_link" href="" ng-if="item.dp_malfunction_cnt != 0" ng-click="openMalfuncDPInfo(item.dp_malfunction_list)">
                                            {{item.dp_malfunction_cnt}} EA
                                        </a>
                                    </div>
                                </td>
                                <td class="downtime">
                                    <div>
                                        <span>
                                            {{item.mp_downtime}} min.
                                        </span>
                                        <span>
                                            {{item.dp_downtime}} min.
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="clearfix"></p>
                <div id="excel_export_stats_detail" ng-hide="true">
                    <div class="stats_detail_title" style="background-color:#eee;color:#666;text-align:center;">
                        <span translate="content.reports.{{stats_period.name}}"></span> <span translate="content.reports.DetailList"></span>
                    </div>
                    <div class="stats_detail_wrap">
                        <table class="stats_detail_table">
                            <thead>
                                <tr>
                                    <th ng-repeat="head in detailTableHeader_excel" style="background-color:#eee;" translate="content.reports.{{head.name}}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in report_stats_detail" style="border-bottom:1px solid #eee;">
                                    <td class="day">
                                        <div ng-if="item.search_type == 'daily'" style="text-align:center;">
                                            {{item.start_date}}
                                        </div>
                                        <div ng-if="item.search_type == 'weekly'" style="text-align:center;">
                                            {{item.start_date}} ~ {{item.end_date}}
                                        </div>
                                        <div ng-if="item.search_type == 'monthly'" style="text-align:center;">
                                            {{item.view_start_date}}
                                        </div>
                                    </td>
                                    <td class="manager" style="text-align:center;">
                                      <div>
                                          <span>
                                              {{search_manager.userID}}
                                          </span>
                                      </div>
                                    </td>
                                    <td class="account" style="text-align:center;">
                                      <div>
                                          <span>
                                              {{search_account.name}}
                                          </span>
                                      </div>
                                    </td>
                                    <td class="location" style="text-align:center;">
                                      <div>
                                          <span>
                                              {{search_region.name}}
                                          </span>
                                      </div>
                                    </td>
                                    <td class="shop" style="text-align:center;">
                                      <div>
                                          <span>
                                              {{search_shop.name}}
                                          </span>
                                      </div>
                                    </td>
                                    <td class="type">
                                        <div>{{item.mp_type}}</div>
                                        <div>{{item.dp_type}}</div>
                                    </td>
                                    <td class="total">
                                        <div style="text-align:right;">
                                            {{item.mp_total_cnt}} EA
                                        </div>
                                        <div style="text-align:right;">
                                            {{item.dp_total_cnt}} EA
                                        </div>
                                    </td>
                                    <td class="operation">
                                        <div style="text-align:right;">
                                            {{item.mp_operation_ratio | number: 2}} %
                                        </div>
                                        <div style="text-align:right;">
                                            {{item.dp_operation_ratio | number: 2}} %
                                        </div>
                                    </td>
                                    <td class="uptime">
                                        <div style="text-align:right;">
                                            {{item.mp_uptime_ratio | number: 2}} %
                                        </div>
                                        <div style="text-align:right;">
                                            {{item.dp_uptime_ratio | number: 2}} %
                                        </div>
                                    </td>
                                    <td class="device">
                                        <div style="text-align:right;">
                                            <span class="malfunc_link" ng-if="item.mp_malfunction_cnt == 0">
                                                {{item.mp_malfunction_cnt}} EA
                                            </span>
                                            <a class="malfunc_link" href="" ng-if="item.mp_malfunction_cnt != 0" ng-click="openMalfuncMPInfo(item.mp_malfunction_list)">
                                                {{item.mp_malfunction_cnt}} EA
                                            </a>
                                        </div>
                                        <div style="text-align:right;">
                                            <span class="malfunc_link" ng-if="item.dp_malfunction_cnt == 0">
                                                {{item.dp_malfunction_cnt}} EA
                                            </span>
                                            <a class="malfunc_link" href="" ng-if="item.dp_malfunction_cnt != 0" ng-click="openMalfuncDPInfo(item.dp_malfunction_list)">
                                                {{item.dp_malfunction_cnt}} EA
                                            </a>
                                        </div>
                                    </td>
                                    <td class="downtime">
                                        <div style="text-align:right;">
                                            {{item.mp_downtime}} min.
                                        </div>
                                        <div style="text-align:right;">
                                            {{item.dp_downtime}} min.
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
