<div class="reports_wrap" ng-controller="ReportsHistoryCtrl">
    <!-- reports Menu -->
    <div ng-include="reports_nav_uri" class="reports_menu_area"></div>
    <!-- //reports Menu -->

    <div class="clearfix visible-xs-block"></div>

    <div class="report_history_content">
        <!-- Tree -->
        <div ng-include="tree_uri" class="tree_area"></div>
        <!-- //Tree -->

        <!-- historical_content -->
        <div class="historical_content">
            <!-- TOP: Path -->
            <div ng-include="path_uri" class="path_area"></div>
            <!-- //TOP: Path -->

            <!-- Information -->
            <div class="information_content" ng-if="reports_history.Information.flag">
                <div ng-include src="'views/report_information.html'"></div>
            </div>
            <!-- //Information -->

            <div class="chart_area" ng-if="reports_history.MediaPlayer.flag" ng-init="start_hv();">
                <span ng-hide="true">{{high_chart_ie8_trick}}</span>
                <highchart id="hv_cpu_usage" config="hv_cpu_usage_config"></highchart>
                <highchart id="hv_cpu_temp" config="hv_cpu_temp_config"></highchart>
                <highchart id="hv_mem_usage" config="hv_mem_usage_config"></highchart>
                <highchart id="hv_hdd_usage" config="hv_hdd_usage_config"></highchart>
                <highchart id="hv_hdd_temp" config="hv_hdd_temp_config"></highchart>
            </div>
        </div>
        <!-- //historical_content -->
    </div>
</div>

