<table ng-table="historyTableParams" class="history_table">
    <thead>
        <tr>
            <th class="th_no" translate="content.liveStatus.No"></th>
            <th class="th_name" translate="content.liveStatus.ID"></th>
            <th class="th_date" translate="content.liveStatus.Date"></th>
            <th class="th_device" translate="content.liveStatus.Device"></th>
            <th class="th_type" translate="content.liveStatus.Type"></th>
            <th class="th_command" translate="content.liveStatus.Action"></th>
            <th class="th_memo" translate="content.liveStatus.Memo"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="history in $data">
            <td class="td_no">
                {{((historyTableParams.count() * (historyTableParams.total()/20 - (historyTableParams.page()-1))) - $index) | number: 0}}
            </td>
            <td class="td_name">
                {{history.userID}}
            </td>
            <td class="td_date">
                {{history.action_date | date_time: showDateFormatStatus(user.date_format)+"T"+showTimeFormatStatus(): showTimeZoneData(user.time_zone)}}
            </td>
            <td class="td_device">
                {{showDevice(history.device)}}
            <td class="td_type">
                {{history.action_type}}
            </td>
            <td class="td_command">
                {{history.action_command}}
            </td>
            <td class="td_memo">
                <div class="item-wrapper">
                    <div class="overflow_dot">
                        <a href=""
                           ng-if="history.editable"
                           editable-text="history.memo"
                           onbeforesave="updateHistoryByDB('memo', $data, history.key)">
                            {{history.memo || 'empty'}}
                        </a>
                    </div>
                    <span class="overflow_dot" ng-if="!history.editable">{{history.memo}}</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
