<ul class="link_list">
    <li ng-class="{'active': link.serial_number==currentSN}" ng-repeat="link in link_list">
        <a href="" ng-if="link.type!='DG'" ng-click="onClickTab(link)" ng-class="{'active': link.serial_number==currentSN, 'type_mp':link.type=='MP', 'type_dp': link.type=='DP' && $index==1, 'type_dp_sm': link.type=='DP' && $index!=1}">
            <span ng-if="link.type=='MP'">
                {{link.name}}
            </span>
            <span ng-if="link.type=='DP'">
                <span ng-if="$index==1">SET ID</span> {{link.number}}
            </span>
        </a>
    </li>
</ul>
