<div class="remote_connect_wrap">
    <p class="title">
        <i class="fa fa-terminal"></i> Terminal
    </p>
    <div class="remote_connect_wrap_line">
        <p class="connect_ment">
            Do you want to connect to
            <span> Media Player(alias : {{media_player.alias}}) ? </span>
        </p>
        <p class="btn_line">
            <a href="../download/LauncherV.exe" class="btn btn-danger btn-sm" ng-click="onClickConnect(media_player.ip)">Connect</a>
            <a href="" class="btn btn-default btn-sm" ng-click="close()">Cancel</a>
        </p>
    </div>
</div>
