<!-- TREE -->
<div class="tree_nav">
    <ul class="tree_menu nav nav-tabs">
        <li ng-click="active_tree('by_site')" ng-class="{'active': tree_menu=='by_site'}">
            <a href=""><i class="fa fa-sitemap"></i> <span translate="content.liveStatus.Account"></span></a>
        </li>
        <li ng-click="active_tree('by_dg')" ng-class="{'active': tree_menu=='by_dg'}">
            <a href=""><i class="fa fa-folder"></i> <span translate="content.liveStatus.Group"></span></a>
        </li>
    </ul>
    <div class="tree" ng-if="tree_menu=='by_site'" ng-style="autoStyleHeight()" resize header="100" footer="0" obstacle="0">
        <ul class="tree_view">
            <li ng-repeat="manager in site_manager">
                <div ng-class="{'selected': manager.clicked}" class="status_{{manager.status}} site" ng-click="onClickManager(manager)">
                    <span class="overflow_dot">
                        <i class="fa fa-home"></i>
                        {{manager.text}} ({{manager.sub_count}} / {{manager.dp_count}})
                    </span>
                </div>
                <ul class="site_tree" ng-if="manager.clicked">
                    <li ng-repeat="site in site_by_manager" ng-class="{'tree_last_index': $last}">
                        <div ng-class="{'selected': site.clicked}" class="status_{{site.status}} site" ng-click="onClickSite(site)">
                            <span class="overflow_dot">
                                <i class="fa" ng-class="{'fa-folder-open': site.clicked, 'fa-folder': !site.clicked}"></i>
                                {{site.text}} ({{site.sub_count}} / {{site.dp_count}})
                            </span>
                        </div>
                        <ul class="location_tree" ng-if="site.clicked">
                            <li ng-repeat="location in locations_by_site" ng-class="{'tree_last_index': $last}">
                                <div ng-class="{'selected': location.clicked}" class="status_{{location.status}} location" ng-click="onClickLocation(location)">
                                    <span class="overflow_dot">
                                        {{location.text}} ({{location.sub_count}} / {{location.dp_count}}) <div class="expander" ng-class="{'minus_expander': location.clicked, 'plus_expander': !location.clicked}"></div>
                                    </span>
                                </div>
                                <ul class="shop_tree" ng-if="location.clicked">
                                    <li ng-repeat="shop in shops_by_location" ng-class="{'tree_last_index': $last}">
                                        <div ng-class="{'selected': shop.clicked}" class="status_{{shop.status}} location" ng-click="onClickShop(shop)">
                                            <span class="overflow_dot">
                                                {{shop.text}} ({{shop.sub_count}} / {{shop.dp_count}}) <div class="expander" ng-class="{'minus_expander': shop.clicked, 'plus_expander': !shop.clicked}"></div>
                                            </span>
                                        </div>
                                        <ul class="mp_tree" ng-if="shop.clicked">
                                            <li ng-repeat="media_player in media_players_by_shop" ng-class="{'tree_last_index': $last}">
                                                <div ng-class="{'current_mediaplayer': media_player.serial_number == currentSN, 'current_display': treeDisplayGroupNoneSelected(media_player.search_dps_by_dpg_none_obj, currentSN)}"
                                                     class="status_{{media_player.group_status}} display"
                                                     ng-click="onClickMediaPlayer(media_player)" style="width:130px;">
                                                    <span class="overflow_dot">
                                                      <i ng-if="media_player.group_status!=-1" class="fa fa-hdd-o"></i> <i ng-if="media_player.group_status==-1" class="fa fa-plug"></i>{{media_player.alias}}
                                                    </span>
                                                </div>
                                                <ul class="dp_group_tree">
                                                    <li ng-repeat="dp_group in media_player.dp_group_objs" ng-class="{'tree_last_index': $last}">
                                                        <div ng-class="{'selected': dp_group.clicked, 'selected': dp_group.dp_serial_number == currentSN, 'selected': treeDisplayGroupSelected(dp_group.search_dps_by_dpg_obj, currentSN)}" ng-click="onClickDG(dp_group, media_player)">
                                                            <i class="fa fa-desktop"></i> {{dp_group.name}}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                     </li>
                                 </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
         </ul>
    </div>
    <!--div class="tree" ng-show="tree_menu=='by_tags'">
        <ul>
            <li class="tag" ng-repeat="tag in tag_list">
                <div>
                    <span class="overflow_dot">
                        <a href="" ng-class="{'active': tag.clicked}" ng-click="onClickMediaPlayer(tag)">
                            <i class="fa fa-tag"></i> {{tag.alias}}
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </div-->
    <div class="tree" ng-if="tree_menu=='by_dg'" ng-style="autoStyleHeight()" resize header="100" footer="0" obstacle="0">
        <ul class="tree_view">
            <li ng-repeat="manager in site_manager">
                <div ng-class="{'selected': manager.clicked}" class="status_{{manager.status}} site" ng-click="onClickManager(manager)">
                    <span class="overflow_dot">
                        <i class="fa fa-home"></i>
                        {{manager.text}} ({{manager.sub_count}} / {{manager.dp_count}})
                    </span>
                </div>
                <ul class="site_tree" ng-if="manager.clicked">
                    <li ng-repeat="dg in dg_by_manager" ng-class="{'tree_last_index': $last}">
                        <div ng-class="{'selected': dg.clicked}" class="status_{{dg.status}} site" ng-click="onClickDeviceGroup(dg)">
                            <span class="overflow_dot">
                                <i class="fa" ng-class="{'fa-folder-open': dg.clicked, 'fa-folder': !dg.clicked}"></i>
                                {{dg.text}} ({{dg.sub_count}} / {{dg.dp_count}}) <!--div class="expander" ng-class="{'minus_expander': site.clicked, 'plus_expander': !site.clicked}"></div-->
                            </span>
                        </div>
                        <ul class="location_tree" ng-if="dg.clicked">
                            <li ng-repeat="media_player in media_players_by_dg" ng-class="{'tree_last_index': $last}">
                                <div ng-class="{'current_display': media_player.serial_number == mediaPlayerSerialNumber}"
                                     class="status_{{media_player.group_status}} display" ng-click="onClickMediaPlayer(media_player)" style="width:130px;">
                                    <span class="overflow_dot">
                                        <i ng-if="media_player.group_status!=-1" class="fa fa-hdd-o"></i> <i ng-if="media_player.group_status==-1" class="fa fa-plug"></i> {{media_player.alias}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- //TREE -->
