<div class="" ng-controller="AdministrationCtrl">
    <div class="sub_title">
        User List
    </div>
    <div class="sub_content">
        <table>
            <tr>
                <th>Num.</th>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>1</td>
                <td>unet</td>
                <td>오이성</td>
                <td>Administrator</td>
            </tr>
            <tr>
                <td>2</td>
                <td>rainmaker</td>
                <td>김정열</td>
                <td>Account Manager</td>
            </tr>
            <tr>
                <td>3</td>
                <td>cictest</td>
                <td>김효철</td>
                <td>CIC Agent</td>
            </tr>
            <tr>
                <td>4</td>
                <td>fieldtest</td>
                <td>박종혁</td>
                <td>Field Engineer</td>
            </tr>
        </table>
    </div>
</div>