<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Digital Signage Total Care Service</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, minimum-scale=1, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/container.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/device_list.css" />
    <link rel="stylesheet" href="styles/live_status.css" />
    <link rel="stylesheet" href="styles/reports.css" />
    <link rel="stylesheet" href="styles/admin.css" />
    <link rel="stylesheet" href="styles/admin_info.css" />
    <link rel="stylesheet" href="styles/admin_group_info.css" />
    <link rel="stylesheet" href="styles/admin_create_install.css" />
    <link rel="stylesheet" href="styles/admin_create_manager.css" />
    <link rel="stylesheet" href="styles/admin_create_admin.css" />
    <link rel="stylesheet" href="styles/admin_create_user.css" />
    <link rel="stylesheet" href="styles/admin_create_group.css" />
    <link rel="stylesheet" href="styles/admin_create_device.css" />
    <link rel="stylesheet" href="styles/admin_manager.css" />
    <link rel="stylesheet" href="styles/admin_user_info.css" />
    <link rel="stylesheet" href="styles/admin_install.css" />
    <link rel="stylesheet" href="styles/admin_device_list.css" />
    <link rel="stylesheet" href="styles/delete.css" />
    <link rel="stylesheet" href="styles/request.css" />
    <link rel="stylesheet" href="styles/admin_display_label.css" />
    <link rel="stylesheet" href="styles/mobile_version.css" />
    <link rel="stylesheet" href="styles/mobile_live_status.css" />
    <!-- endbuild -->
</head>

<body id="ng-app" ng-app="signageApp" ng-controller="ApplicationCtrl">
<div id="wrap" ng-class="{'mobile': isMobile()}">
<div id="header" ng-show="access_device == 'desktop'">
    <div class="top_bar"></div>
    <div class="logo">
        <a href="./#/">
            <img src="./images/smsimg/logo.png" alt="LG Electronics" />
        </a>
    </div>

    <div class="trans_language_btn">
        <dl class="topMenu">
            <dt class="blind">TOP Menu</dt>
            <dd class="trans dropdown" dropdown>
                <a href="" class="transLabel dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-globe fa-3x"></i>
                </a>
                <ul class="transMenu dropdown-menu pc animated fadeInRight">
                    <li>
                        <a href="" ng-click="setLang('en_US')">
                            <span ng-class="{'fa fa-check-circle': selectLang=='English'}" style="display:inline-block;width:15px;color:#5cb85c"></span> <span translate="header.transMenu.english"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="setLang('ko')">
                            <span ng-class="{'fa fa-check-circle': selectLang=='한국어'}" style="display:inline-block;width:15px;color:#5cb85c"></span> <span translate="header.transMenu.korean"></span>
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="top_menu" ng-class="{'top_menu_active': isAuthenticated}" ng-if="isAuthenticated">
        <form role="form">
            <div class="btn-group filter_list">
                <a class="btn btn-danger btn_trans" ng-click="searchDash('group_status', 2)" href="" title="The number of unresolved devices">
                    <span ng-bind="quick_dash.unresolvedCount"></span>
                </a>
                <a class="btn btn-warning btn_trans" ng-click="searchDash('group_status', 1)" href="" title="The number of check required devices">
                    <span ng-bind="quick_dash.checkRequiredCount"></span>
                </a>
                <a class="btn btn-success btn_trans" ng-click="searchDash('resolved_date', yesterday)" href="" title="The number of recently resolved devices">
                    <span ng-bind="quick_dash.latestResolvedCount"></span>
                </a>
                <a class="btn btn-default alive_btn" ng-click="searchDash('group_status', -1)" href="" title="The number of dead device">
                    <span ng-bind="quick_dash.deadCount"></span>
                </a>
                <a class="btn btn-primary btn_trans" ng-click="searchDash('group_status', 0)" href="" title="The number of normal devices" style="margin-right: 10px">
                    <span ng-bind="quick_dash.normalCount"></span>
                </a>
            </div>
            <a class="btn btn-default" ng-click="searchDash('group_status', 'all')" href="" title="The number of all devices" style="width: inherit;">
                <i class="fa fa-hdd-o"></i> <span ng-bind="quick_dash.totalCount"></span> / <i class="fa fa-desktop" style="font-size:13px;"></i> <span ng-bind="quick_dash.display_totalCount"></span>
            </a>
            <a class="btn btn-default" ng-click="searchDash('activation_date', yesterday)" href="" title="The number of today registered devices">
                <span class="fa fa-plus-circle"></span> <span ng-bind="quick_dash.latestAddedCount"></span>
            </a>
            <a class="btn btn-default" href="./#/logout" title="Logout">
                <i class="fa fa-sign-out"></i> <span translate="header.topMenu.signOut"></span>
            </a>
        </form>
    </div>

    <div>
        <ul class="gnb2" ng-class="{'gnb_acitve': isAuthenticated}" ng-if="isAuthenticated">
            <li ng-class="currentURI()=='device_search' ? 'current' : ''">
                <a href="" ng-click="movePage('dash')">
                    <i class="fa fa-dashboard"></i>
                    <span translate="header.topMenu.dashBoard"></span>
                </a>
            </li>
            <li ng-class="currentURI()=='live' ? 'current' : ''">
                <a href="" ng-click="movePage('live')">
                    <i class="fa fa-desktop"></i>
                    <span translate="header.topMenu.liveStatus"></span>
                </a>
            </li>
            <li ng-if="isReport_Info" ng-class="currentURI()=='reports' ? 'current' : ''">
                <a href="" ng-click="movePage('report')">
                    <i class="fa fa-bar-chart-o"></i>
                    <span translate="header.topMenu.reports"></span>
                </a>
            </li>
            <li ng-class="currentURI()=='admin' ? 'current' : ''">
                <a href="" ng-click="movePage('admin')">
                    <i class="fa fa-user"></i>
                    <span translate="header.topMenu.administration"></span>
                </a>
            </li>
            <li>
                <a href="" ng-click="openHelpMenu()">
                    <i class="fa fa-question"></i>
                    <span translate="header.topMenu.help"></span>
                </a>
            </li>

            <div class="refresh_time">
                <i class="fa fa-refresh" ng-class="{'fa-spin' : spin_flag}" ng-click="refreshPage()"></i>
                <span>Refresh after</span>
                <span>
                    {{refreshTime}} seconds.
                </span>
            </div>
        </ul>
    </div>
</div>

<!-- mobile header -->
<div id="mobile_header" ng-class="{'mobile': isMobile()}" ng-show="access_device != 'desktop'">
    <div class="top_bar"></div>
    <div class="logo">
        <a href="./#/m.dash">
            <img src="./images/smsimg/logo.png" alt="LG Electronics" />
        </a>
    </div>

    <div class="trans_language_btn">
        <dl class="topMenu">
            <dt class="blind">TOP Menu</dt>
            <dd class="trans dropdown" dropdown>
                <a href="" class="transLabel dropdown-toggle" dropdown-toggle>
                  <i class="fa fa-globe fa-3x"></i>
                </a>
                <ul class="transMenu dropdown-menu mobile animated fadeInLeft">
                    <li>
                        <a href="" ng-click="setLang('en_US')">
                            <span ng-class="{'fa fa-check-circle': selectLang=='English'}" style="display:inline-block;width:15px;color:#5cb85c"></span> <span translate="header.transMenu.english"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="setLang('ko')">
                            <span ng-class="{'fa fa-check-circle': selectLang=='한국어'}" style="display:inline-block;width:15px;color:#5cb85c"></span> <span translate="header.transMenu.korean"></span>
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="refresh_time" ng-if="isAuthenticated">
      <i class="fa fa-refresh" ng-class="{'fa-spin' : spin_flag}" ng-click="refreshPage()"></i>
      <span>Refresh after</span>
      <span>
          {{refreshTime}} seconds.
      </span>
    </div>

    <div class="top_menu" ng-class="{'top_menu_active': isAuthenticated}" ng-if="isAuthenticated">
        <form role="form">
            <div class="btn-group filter_list">
                <a class="btn btn-danger btn_trans" ng-click="searchDash_mobile('group_status', 2)" href="" title="The number of unresolved devices">
                    <span ng-bind="quick_dash.unresolvedCount"></span>
                </a>
                <a class="btn btn-warning btn_trans" ng-click="searchDash_mobile('group_status', 1)" href="" title="The number of check required devices">
                    <span ng-bind="quick_dash.checkRequiredCount"></span>
                </a>
                <a class="btn btn-success btn_trans" ng-click="searchDash_mobile('resolved_date', yesterday)" href="" title="The number of recently resolved devices">
                    <span ng-bind="quick_dash.latestResolvedCount"></span>
                </a>
                <a class="btn btn-default alive_btn" ng-click="searchDash_mobile('group_status', -1)" href="" title="The number of dead device">
                    <span ng-bind="quick_dash.deadCount"></span>
                </a>
                <a class="btn btn-primary btn_trans" ng-click="searchDash_mobile('group_status', 0)" href="" title="The number of all devices">
                    <span ng-bind="quick_dash.normalCount"></span>
                </a>
            </div>
            <a class="btn btn-default logout" style="float:right;width:inherit;margin-right:2px;" href="./#/logout" title="Logout">
                <i class="fa fa-sign-out"></i> <span translate="header.topMenu.signOut"></span>
            </a>
            <a class="btn btn-default plus" style="float:right;width:inherit;margin-right:5px;" ng-click="searchDash_mobile('activation_date', yesterday)" href="" title="The number of today registered devices">
                <span class="fa fa-plus-circle"></span> <span ng-bind="quick_dash.latestAddedCount"></span>
            </a>
        </form>
    </div>

    <div>
        <ul class="gnb2" ng-class="{'gnb_acitve': isAuthenticated}" ng-if="isAuthenticated">
            <li ng-class="currentURI()=='device_search' ? 'current' : ''">
                <a href="" ng-click="movePage_mobile('m.dash')">
                    <i class="fa fa-dashboard"></i>
                    <span translate="header.topMenu.dashBoard"></span>
                </a>
            </li>
            <li ng-class="currentURI()=='live' ? 'current' : ''">
                <a href="" ng-click="movePage_mobile('m.live_status')">
                    <i class="fa fa-desktop"></i>
                    <span translate="header.topMenu.liveStatus"></span>
                </a>
            </li>
            <li ng-if="isReport_Info" ng-class="currentURI()=='reports' ? 'current' : ''">
                <a href="" ng-click="movePage_mobile('m.report')">
                    <i class="fa fa-bar-chart-o"></i>
                    <span translate="header.topMenu.reports"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- //mobile header -->

<div id="container" ng-class="{'mobile': isMobile()}" class="container" ng-view=""></div>

<div id="footer" ng-class="{'mobile': isMobile()}">
    <p class="copy">
        Copyright © 2015 LG Electronics. All Rights Reserved.
    </p>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>
<script src="bower_components/respond/dest/respond.src.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/hamsterjs/hamster.js"></script>
<script src="bower_components/angular-mousewheel/mousewheel.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/FileSaver/FileSaver.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/login_otp.js"></script>
<script src="scripts/services/ksm_utils.js"></script>
<script src="scripts/services/incidents.js"></script>
<script src="scripts/services/user_group.js"></script>
<script src="scripts/services/alarm_test.js"></script>
<script src="scripts/services/auth_otp.js"></script>
<script src="scripts/services/authservice.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/auth_events.js"></script>
<script src="scripts/controllers/application.js"></script>
<script src="scripts/services/authinterceptor.js"></script>
<script src="scripts/services/export_excel.js"></script>
<script src="scripts/directives/resize.js"></script>
<script src="scripts/directives/formautofillfix.js"></script>
<script src="scripts/directives/checklist-model.js"></script>
<script src="scripts/directives/jqdatepicker.js"></script>
<script src="scripts/controllers/login_image_control.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/static_gallery.js"></script>
<script src="scripts/services/env.js"></script>
<script src="scripts/services/history.js"></script>
<script src="scripts/services/conn_user_group.js"></script>
<script src="scripts/services/silent_install.js"></script>
<script src="scripts/controllers/live_status/live.js"></script>
<script src="scripts/controllers/live_status/live_mp.js"></script>
<script src="scripts/controllers/live_status/live_mp_historical_modal.js"></script>
<script src="scripts/controllers/live_status/live_dp.js"></script>
<script src="scripts/controllers/live_status/live_dp_historical_modal.js"></script>
<script src="scripts/directives/loadingcontainer.js"></script>
<script src="scripts/controllers/dash_board/mediaplayerlist.js"></script>
<script src="scripts/services/device_group.js"></script>
<script src="scripts/services/fault_predict.js"></script>
<script src="scripts/services/mediaplayer.js"></script>
<script src="scripts/services/mediaplayer_DB.js"></script>
<script src="scripts/services/mediaplayer_DM.js"></script>
<script src="scripts/services/mediaplayer_count.js"></script>
<script src="scripts/services/display.js"></script>
<script src="scripts/services/access_history.js"></script>
<script src="scripts/services/display_DB.js"></script>
<script src="scripts/services/display_DM.js"></script>
<script src="scripts/services/displayListByMediaPlayer.js"></script>
<script src="scripts/services/auto_organization.js"></script>
<script src="scripts/services/auto_site.js"></script>
<script src="scripts/services/auto_location.js"></script>
<script src="scripts/services/api/servers.js"></script>
<script src="scripts/services/auto_shop.js"></script>
<script src="scripts/services/auto_sicompany.js"></script>
<script src="scripts/services/auto_mediaplayeralias.js"></script>
<script src="scripts/services/auto_mediaplayerserialnumber.js"></script>
<script src="scripts/services/auto_displayalias.js"></script>
<script src="scripts/services/modal.js"></script>
<script src="scripts/services/top10mediaplayer.js"></script>
<script src="scripts/services/top10display.js"></script>
<script src="scripts/controllers/live_status/diagnostic.js"></script>
<script src="scripts/services/report_top10.js"></script>
<script src="scripts/services/report_incident.js"></script>
<script src="scripts/services/report_mp_history.js"></script>
<script src="scripts/services/report_dp_history.js"></script>
<script src="scripts/services/report_stats_mp.js"></script>
<script src="scripts/services/report_stats_dp.js"></script>
<script src="scripts/services/report_stats_mp_list.js"></script>
<script src="scripts/services/report_stats_dp_list.js"></script>
<script src="scripts/services/report_stats_detail.js"></script>
<script src="scripts/services/report_stats_ratio.js"></script>
<script src="scripts/services/report_stats_setting.js"></script>
<script src="scripts/services/common.js"></script>
<script src="scripts/controllers/reports/reports_incident.js"></script>
<script src="scripts/controllers/reports/reports_statistics.js"></script>
<script src="scripts/controllers/reports/reports_statistics_mp_modal.js"></script>
<script src="scripts/controllers/reports/reports_statistics_dp_modal.js"></script>
<script src="scripts/controllers/reports/reports_top10.js"></script>
<script src="scripts/controllers/reports/report_summary.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/user_type_admin.js"></script>
<script src="scripts/services/user_type_admin_list.js"></script>
<script src="scripts/services/user_type_manager.js"></script>
<script src="scripts/services/user_type_manager_list.js"></script>
<script src="scripts/services/user_type_member.js"></script>
<script src="scripts/services/user_type_member_list.js"></script>
<script src="scripts/services/check_user.js"></script>
<script src="scripts/services/check_group.js"></script>
<script src="scripts/controllers/reports/reports.js"></script>
<script src="scripts/controllers/live_status/gallery.js"></script>
<script src="scripts/controllers/administration/admin.js"></script>
<script src="scripts/controllers/administration/admin_create_predict.js"></script>
<script src="scripts/controllers/administration/admin_change_predict.js"></script>
<script src="scripts/controllers/delete_control.js"></script>
<script src="scripts/services/member-device-group.js"></script>
<script src="scripts/services/site.js"></script>
<script src="scripts/services/location.js"></script>
<script src="scripts/services/shop.js"></script>
<script src="scripts/services/tree.js"></script>
<script src="scripts/services/tree.js"></script>
<script src="scripts/services/sharedService.js"></script>
<script src="scripts/directives/tabs.js"></script>
<script src="scripts/controllers/remotecontrol.js"></script>
<script src="scripts/controllers/resetcontrol.js"></script>
<script src="scripts/controllers/terminal.js"></script>
<script src="scripts/controllers/vpro.js"></script>
<script src="scripts/controllers/requestDM.js"></script>
<script src="scripts/filter/range.js"></script>
<script src="scripts/filter/time.js"></script>
<script src="scripts/filter/date_time.js"></script>
<script src="scripts/filter/display_calendar.js"></script>
<script src="scripts/controllers/help/help.js"></script>
<script src="scripts/controllers/highcharts.js"></script>
<script src="scripts/services/device_management.js"></script>
<script src="scripts/services/tagging.js"></script>
<script src="scripts/services/tagging_auth.js"></script>
<script src="scripts/services/display_management.js"></script>
<script src="scripts/services/api/mediaplayers.js"></script>
<script src="scripts/services/api/displayers.js"></script>
<!-- endbuild -->

</div>
<!-- //wrap -->
</body>
</html>
