.group_info_content_area .group_info_area .group_info_table{width:100%;}
.group_info_content_area .group_info_area .group_info_table th{padding:0;margin:0;line-height:20px;background-color:#e0e0e0;color:#000;text-indent:5px;text-align:left;font-size:13px;}
.group_info_content_area .group_info_area .group_info_table th.polling_time{text-align:center;width:150px;}
.group_info_content_area .group_info_area .group_info_table td{text-indent:5px;}
.group_info_content_area .group_info_area .group_info_table td.polling_time{text-align:center;}
.group_info_content_area .group_info_area .group_info_table .item-wrapper .editable-wrap{width:290px;}
.group_info_content_area .group_info_area .group_info_table .item-wrapper .editable-wrap .editable-buttons{text-indent:0;}

.group_info_content_area .polling_area{width:49%;float:right;}
.group_info_content_area .polling_area .input_label{float:left;width:30%;margin:2px 0;}
.group_info_content_area .polling_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.group_info_content_area .polling_area .input_value{float:right;width:49%;margin:2px 0;}
.group_info_content_area .polling_area .input_value input{width:98%;border:1px solid #ccc;}

.group_info_content_area table tr:hover{background-color:#d9edf7;}

.group_info_content_area .threshold_area{margin-top:5px;}
.group_info_content_area .threshold_area .threshold_header{font-size:13px;}
.group_info_content_area .threshold_area table{width:100%;}
.group_info_content_area .threshold_area table th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    text-indent:5px;
    line-height:20px;
    text-align:left;
    font-size:13px;
}
.group_info_content_area .threshold_area table td{text-indent:5px;}

.group_info_content_area .threshold_area table td.th_item{width:200px;}
.group_info_content_area .threshold_area table th.th_warning{text-align:center;}
.group_info_content_area .threshold_area table td.th_warning{text-align:center;}
.group_info_content_area .threshold_area table th.th_error{text-align:center;}
.group_info_content_area .threshold_area table td.th_error{text-align:center;}
.group_info_content_area .threshold_area table td .item-wrapper .editable-wrap{width:290px;text-align:left;}
.group_info_content_area .threshold_area table td .item-wrapper .editable-wrap .editable-buttons{text-indent:0;}

.group_info_content_area .application_area{margin-top:5px;}
.group_info_content_area .application_area .application_header{font-size:13px;}
.group_info_content_area .application_area table{width:100%;}
.group_info_content_area .application_area table th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    line-height:20px;
    text-align:center;
    font-size:13px;
}
.group_info_content_area .application_area table td{text-align:center;}

.group_info_content_area .tv_control_area{margin-top:5px;}
.group_info_content_area .tv_control_area .timeZone_area{float:left;width:670px;margin-left:5px;}
.group_info_content_area .tv_control_area .timeZone_area .timeZone_area_title{float:left;}
.group_info_content_area .tv_control_area .timeZone_area .timeZone_area_content{float:right;width:550px;}
.group_info_content_area .tv_control_area .timeZone_area .timeZone_area_content .editable-controls select{width:110px;}
.group_info_content_area .tv_control_area .check_area{width:150px;margin-right:5px;float:right;}
.group_info_content_area .tv_control_area .check_area.item-wrapper .editable-wrap{width:190px;}
.group_info_content_area .tv_control_area .check_area .check_area_title{float:left;}
.group_info_content_area .tv_control_area .check_area .check_area_content{float:right;}
.group_info_content_area .tv_control_area .tv_control_header{font-size:13px;}
.group_info_content_area .tv_control_area table{width:100%;}
.group_info_content_area .tv_control_area table th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    text-indent:5px;
    line-height:20px;
    text-align:left;
    font-size:13px;
}
.group_info_content_area .tv_control_area table td{text-indent:5px;}
.group_info_content_area .tv_control_area table td .item-wrapper .editable-wrap{width:260px;}
.group_info_content_area .tv_control_area table td .item-wrapper .editable-wrap .editable-buttons{text-indent:0;}

.group_info_content_area .tv_control_area table th.tv{text-align:center;}
.group_info_content_area .tv_control_area table td.tv{text-align:center;}
.group_info_content_area .tv_control_area table td.tv .item-wrapper .editable-wrap{text-align:left;width:250px;}
.group_info_content_area .tv_control_area table td.tv .power_check_area.item-wrapper .editable-wrap{width:200px;}
.group_info_content_area .tv_control_area table td.tv .power_check_area.item-wrapper .editable-buttons button{margin-left:5px;}

.group_info_content_area .alarm_setting .method_area{float:left;width:120px;}
.group_info_content_area .alarm_setting .method_area .method_title{float:left;}
.group_info_content_area .alarm_setting .method_area .method_content{float:right;}
.group_info_content_area .alarm_setting .method_area .method_set .editable-wrap{width:220px;}

.group_info_content_area .alarm_setting .check_area{float:right;width:250px;}
.group_info_content_area .alarm_setting .check_area .check_area_title{float:left;}
.group_info_content_area .alarm_setting .check_area .check_area_content{float:right;}
.group_info_content_area .alarm_setting .check_area .first_check_area{float:left;width:120px;}
.group_info_content_area .alarm_setting .check_area .first_check_area .editable-wrap{width:190px;}
.group_info_content_area .alarm_setting .check_area .second_check_area{float:right;width:120px;}
.group_info_content_area .alarm_setting .check_area .second_check_area .editable-wrap{width:190px;}

.group_info_content_area .alarm_setting .alarm_test .alarm_left{float:left;width:45%;}
.group_info_content_area .alarm_setting .alarm_test .alarm_right{float:left;margin-left:10px;width:52%;}
.group_info_content_area .alarm_setting .alarm_test .test_label{float:left;width:50px;height:28px;line-height:28px;}
.group_info_content_area .alarm_setting .alarm_test .test_value_prefix{float:left;width:50px;height:28px;line-height:28px;}
.group_info_content_area .alarm_setting .alarm_test .test_value_prefix .editable-wrap{width:250px;}
.group_info_content_area .alarm_setting .alarm_test .test_value{float:left;width:150px;height:28px;line-height:28px;}
.group_info_content_area .alarm_setting .alarm_test .test_value .editable-wrap{width:250px;}
.group_info_content_area .alarm_setting .alarm_test .test_act{float:left;width:50px;height:28px;line-height:28px;text-align:center;}
.group_info_content_area .alarm_setting .alarm_test .phone_guide{font-size:9px;}

.group_info_content_area .prediction{margin-top:5px;}

.group_info_content_area .prediction .check_area{width:940px;line-height:30px;}
.group_info_content_area .prediction .check_area:after{display:block;clear:both;content:"";}
.group_info_content_area .prediction .check_area .add_rule{float:right;}
.group_info_content_area .prediction .check_area .add_rule a{margin:0;}
.group_info_content_area .prediction .check_area .setting_check{float:right;width:220px;}
.group_info_content_area .prediction .check_area .setting_check .check_area_title{float:left;}
.group_info_content_area .prediction .check_area .setting_check .check_area_content{float:right;}
.group_info_content_area .prediction .check_area .setting_check .first_check_area{float:left;width:100px;}
.group_info_content_area .prediction .check_area .setting_check .first_check_area .editable-wrap{width:190px;}
.group_info_content_area .prediction .check_area .setting_check .first_check_area .editable-wrap .editable-buttons{text-indent:0;}
.group_info_content_area .prediction .check_area .setting_check .second_check_area{float:right;width:100px;}
.group_info_content_area .prediction .check_area .setting_check .second_check_area .editable-wrap{width:190px;}
.group_info_content_area .prediction .check_area .setting_check .second_check_area .editable-wrap .editable-buttons{text-indent:0;}

.group_info_content_area .prediction .predict_table{width:100%;}
.group_info_content_area .prediction .predict_table tr.RED:hover{background-color: #f4cccc;}
.group_info_content_area .prediction .predict_table tr.ORANGE:hover{background-color: #fce5cd;}
.group_info_content_area .prediction .predict_table tr.YELLOW:hover{background-color: #ffe59a;}
.group_info_content_area .prediction .predict_table th{padding:0;margin:0;line-height:20px;background-color:#e0e0e0;color:#000;text-indent:5px;text-align:left;font-size:13px;}
.group_info_content_area .prediction .predict_table td{text-indent:5px;}
.group_info_content_area .prediction .predict_table th.category{width:110px;text-align:left;}
.group_info_content_area .prediction .predict_table th.code{width:45px;text-align:center;}
.group_info_content_area .prediction .predict_table td.code{text-align:center;}
.group_info_content_area .prediction .predict_table th.level{width:50px;text-align:center;}
.group_info_content_area .prediction .predict_table td.level{text-align:center;}
.group_info_content_area .prediction .predict_table th.adjust{width:70px;text-align:center;}
.group_info_content_area .prediction .predict_table td.adjust{text-align:center;}
.group_info_content_area .prediction .predict_table th.act{width:70px;text-align:center;}
.group_info_content_area .prediction .predict_table td.act{text-align:center;}
.group_info_content_area .prediction .predict_table td.act .editable-wrap{width:200px;text-align:left;}
.group_info_content_area .prediction .predict_table td.act .editable-wrap .editable-buttons{text-indent:0;}
.group_info_content_area .prediction .predict_table th.mail_act{width:50px;text-align:center;}
.group_info_content_area .prediction .predict_table td.mail_act{text-align:center;}
.group_info_content_area .prediction .predict_table td.mail_act .editable-wrap{width:200px;text-align:left;}
.group_info_content_area .prediction .predict_table td.mail_act .editable-wrap .editable-buttons{text-indent:0;}
.group_info_content_area .prediction .predict_table th.sms_act{width:50px;text-align:center;}
.group_info_content_area .prediction .predict_table td.sms_act{text-align:center;}
.group_info_content_area .prediction .predict_table td.sms_act .editable-wrap{width:200px;text-align:left;}
.group_info_content_area .prediction .predict_table td.sms_act .editable-wrap .editable-buttons{text-indent:0;}
.group_info_content_area .prediction .predict_table th.del{width:50px;text-align:center;}
.group_info_content_area .prediction .predict_table td.del{text-align:center;}
.group_info_content_area .prediction .predict_table td.del a{text-indent:0;}

.predict_wrap{padding:5px;width:750px;}
.predict_wrap .item-wrapper .editable-wrap .editable-buttons{text-indent:0;}
.predict_wrap.edit{padding:5px;width:600px;}
.predict_wrap.create{width:750px;}
.predict_wrap .predict_box{}
.predict_wrap .predict_box .predict_title{height:27px;line-height:27px;text-align:left;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color: #e6e6e6;border:1px solid #e6e6e6;}
.predict_wrap .predict_box .predict_content{}
.predict_wrap .predict_box .predict_content table{width:100%;margint-top:5px;}
.predict_wrap .predict_box .predict_content table th{padding:0;margin:0;line-height:20px;background-color:#e0e0e0;color:#000;text-align:left;font-size:13px;}
.predict_wrap .predict_box .predict_content table td{text-align:left;}

.predict_wrap .predict_box .predict_content.edit table td{padding:5px 0;}
.predict_wrap .predict_box .predict_content.edit table td div{float:left;margin-right:5px;}

.predict_wrap .predict_box .predict_content.edit table th.code{text-align:center;}
.predict_wrap .predict_box .predict_content.edit table td.code{width:60px;text-align:center;}
.predict_wrap .predict_box .predict_content.edit table th.th_num{text-align:center;}
.predict_wrap .predict_box .predict_content.edit table td.th_num{width:60px;text-align:center;}
.predict_wrap .predict_box .predict_content.edit table th.th_limit{text-align:center;}
.predict_wrap .predict_box .predict_content.edit table td.th_limit{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.edit table th.th_timeout{text-align:center;}
.predict_wrap .predict_box .predict_content.edit table td.th_timeout{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.edit table th.co{text-align:center;}
.predict_wrap .predict_box .predict_content.edit table td.co{width:60px;text-align:center;}


.predict_wrap .predict_box .predict_content.create table td input{text-align:center;}
.predict_wrap .predict_box .predict_content.create table td div{padding:5px 0;}

.predict_wrap .predict_box .predict_content.create table th.category div{width:110px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.category div{width:110px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.category div select{width:100px;}
.predict_wrap .predict_box .predict_content.create table th.code div{width:90px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.code div{width:90px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table th.ruleset div{width:440px;}
.predict_wrap .predict_box .predict_content.create table th.ruleset div{width:440px;}
.predict_wrap .predict_box .predict_content.create table td.ruleset div input{width:430px;}
.predict_wrap .predict_box .predict_content.create table th.act div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.act div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.act div select{width:90px;padding-left:30px;}

.predict_wrap .predict_box .predict_content.create table th.th_num div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.th_num div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table th.device div{width:290px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.device div{width:290px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.device div select{width:280px;padding-left:50px;}
.predict_wrap .predict_box .predict_content.create table th.compare div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.compare div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.compare div select{width:90px;padding-left:40px;}
.predict_wrap .predict_box .predict_content.create table th.value div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.value div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.value div input{width:40px;}
.predict_wrap .predict_box .predict_content.create table th.limit div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.limit div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.limit div input{width:40px;}
.predict_wrap .predict_box .predict_content.create table th.timeout div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.timeout div{width:50px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.timeout div input{width:40px;}
.predict_wrap .predict_box .predict_content.create table th.co div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.co div{width:100px;text-align:center;}
.predict_wrap .predict_box .predict_content.create table td.co div select{width:90px;padding-left:25px;}

.predict_wrap .predict_box .predict_footer{border-top:1px solid #eee;margin-top:5px;padding:5px;}
.predict_wrap .predict_box .predict_footer .btn_wrap{float:right;}
.predict_wrap .predict_box .predict_footer .btn_wrap a{float:left;}
.predict_wrap .predict_box .predict_footer .btn_wrap a.submit_btn{margin-right:5px;}

.group_info_content_area .incident_set_area{margin-top:5px;}

.group_info_content_area .incident_set_area .check_area{float:right;width:220px;}
.group_info_content_area .incident_set_area .check_area .check_area_title{float:left;}
.group_info_content_area .incident_set_area .check_area .check_area_content{float:right;}
.group_info_content_area .incident_set_area .check_area .first_check_area{float:left;width:100px;}
.group_info_content_area .incident_set_area .check_area .first_check_area .editable-wrap{width:190px;}
.group_info_content_area .incident_set_area .check_area .second_check_area{float:right;width:100px;}
.group_info_content_area .incident_set_area .check_area .second_check_area .editable-wrap{width:190px;}

.group_info_content_area .incident_set_area .incident_table{width:100%;border-bottom:1px solid #e0e0e0;}
.group_info_content_area .incident_set_area .incident_table .editable-wrap .editable-buttons{text-indent:0;}
.group_info_content_area .incident_set_area .incident_table tr.RED:hover{background-color: #f4cccc;}
.group_info_content_area .incident_set_area .incident_table tr.ORANGE:hover{background-color: #fce5cd;}
.group_info_content_area .incident_set_area .incident_table tr.YELLOW:hover{background-color: #ffe59a;}
.group_info_content_area .incident_set_area .incident_table th{padding:0;margin:0;line-height:20px;background-color:#e0e0e0;color:#000;text-indent:5px;text-align:left;font-size:13px;}
.group_info_content_area .incident_set_area .incident_table th.code{text-align:center;}
.group_info_content_area .incident_set_area .incident_table td{text-indent:5px;}
.group_info_content_area .incident_set_area .incident_table td.code{text-align:center;}
.group_info_content_area .incident_set_area .incident_table td.limit .editable-wrap{width:290px;}
.group_info_content_area .incident_set_area .incident_table td.timeout .editable-wrap{width:290px;}
.group_info_content_area .incident_set_area .incident_table td.act{text-align:center;}
.group_info_content_area .incident_set_area .incident_table td.act .editable-wrap{width:200px;text-align:left;}

.group_info_content_area .assign_area{margin-top:5px;border-bottom:3px solid #ccc;}

.btn_area .delete_group_btn{float:left;}

.userGroup_info_area{margin-top:5px;border-top:3px solid #ccc;border-bottom:3px solid #ccc;}

.userGroup_info_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.userGroup_info_area .right_area{width:460px;float:right;}

.userGroup_info_area .input_label{float:left;width:49%;margin:2px 0;}
.userGroup_info_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.userGroup_info_area .input_value{float:right;width:49%;margin:2px 0;}
.userGroup_info_area .input_value input{width:98%;border:1px solid #ccc;}
.userGroup_info_area .input_value input.password{width:70%;}
.userGroup_info_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.userGroup_info_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.userGroup_info_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}
.userGroup_info_area .input_value.user_group_auth .editable-controls select{width:110px;}
.userGroup_info_area .input_value.user_group_auth .editable-input label {display:block;width:20px;}
.userGroup_info_area .input_value.user_group_auth .editable-buttons{margin-left:90px;margin-top:100px;}