.manager_list_table tr .ID{width:200px;}
.manager_list_table tr .Name{width:200px;}
.manager_list_table tr .Phone{width:200px;}

/* admin_manager_info */

.manager_info_area{border-top:3px solid #ccc;}

.manager_info_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.manager_info_area .right_area{width:460px;float:right;}

.manager_info_area .input_label{float:left;width:49%;margin:2px 0;}
.manager_info_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.manager_info_area .input_value{float:right;width:49%;margin:2px 0;}
.manager_info_area .input_value input{width:98%;border:1px solid #ccc;}
.manager_info_area .input_value input.password{width:70%;}
.manager_info_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.manager_info_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.manager_info_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}

.manager_setting_area{border-top:1px dashed #ccc;border-bottom:3px solid #ccc;}

.manager_setting_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.manager_setting_area .right_area{width:460px;float:right;}

.manager_setting_area .input_label{float:left;width:49%;margin:2px 0;}
.manager_setting_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.manager_setting_area .input_value{float:right;width:49%;margin:2px 0;}
.manager_setting_area .input_value input{width:98%;border:1px solid #ccc;}
.manager_setting_area .input_value .editable-controls select{width:110px;}

.btn_area .manager_del_btn{float:left;}