.dg_manage_header_area{margin-top:5px;}
.dg_manage_header_area .btn{float:right;}

.dg_manage_content_area .dg_manage_table tr th{font-size:11px;}
.dg_manage_content_area .dg_manage_table tr th div span{display:block;}
.dg_manage_content_area .dg_manage_table tr:hover td{background-color:#eee;cursor:pointer;}
.dg_manage_content_area .dg_manage_table tr.active{background-color:#d9edf7;}

.admin_content .item-wrapper.manager_group .editable-wrap{
  width:260px;
}
.admin_content .item-wrapper.name .editable-wrap,
.admin_content .item-wrapper.site .editable-wrap,
.admin_content .item-wrapper.location .editable-wrap,
.admin_content .item-wrapper.shop .editable-wrap,
.admin_content .item-wrapper.email .editable-wrap,
.admin_content .item-wrapper.phone .editable-wrap,
.admin_content .item-wrapper.addr .editable-wrap,
.admin_content .item-wrapper.memo. editable-wrap {
  width:320px;
}

