.admin_create_content_area{border-top:3px solid #ccc;}

.admin_create_content_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.admin_create_content_area .right_area{width:460px;float:right;}

.admin_create_content_area .input_label{float:left;width:49%;margin:2px 0;}
.admin_create_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.admin_create_content_area .input_value{float:right;width:49%;margin:2px 0;}
.admin_create_content_area .input_value input{width:98%;border:1px solid #ccc;}
.admin_create_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.admin_create_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.admin_create_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}

.admin_create_sec_content_area{border-top:1px dashed #ccc;border-bottom:3px solid #ccc;}
.admin_create_sec_content_area #date_format{border:1px solid #eee;width:220px;}
.admin_create_sec_content_area #time_zone{border:1px solid #eee;width:220px;}

.admin_create_sec_content_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.admin_create_sec_content_area .right_area{width:460px;float:right;}

.admin_create_sec_content_area .input_label{float:left;width:49%;margin:2px 0;}
.admin_create_sec_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.admin_create_sec_content_area .input_value{float:right;width:49%;margin:2px 0;}
.admin_create_sec_content_area .input_value input{width:98%;border:1px solid #ccc;}

.btn_area .manager_create_btn{float:right;}