.group_create_content_area{border-top:3px solid #ccc;border-bottom:3px solid #ccc;}

.group_create_content_area .left_area{width:460px;float:left;margin-left:10px;}
.group_create_content_area .right_area{width:460px;float:right;}

.group_create_content_area .input_label{float:left;width:49%;margin:2px 0;}
.group_create_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.group_create_content_area .input_value{float:right;width:49%;margin:2px 0;}
.group_create_content_area .input_value input{width:98%;border:1px solid #ccc;}
.group_create_content_area .input_value.tv_setting input{border:none;}
.group_create_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.group_create_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.group_create_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}

.group_create_content_area .user_group_auth .editable-input label {display:block;width:20px;}
.group_create_content_area .user_group_auth .editable-buttons{margin-left:90px;margin-top:100px;}

.group_create_content_area .tv_setting .set_on_area{width:50%;float:left;}
.group_create_content_area .tv_setting .set_on_area .label{float:left;padding-top:5px;padding-bottom:5px;margin-right:25px;}
.group_create_content_area .tv_setting .set_on_area .input_area{float:left;margin-top:2px;width:30px;}
.group_create_content_area .tv_setting .set_off_area{width:50%;float:right;}
.group_create_content_area .tv_setting .set_off_area .label{float:left;padding-top:5px;padding-bottom:5px;margin-right:25px;}
.group_create_content_area .tv_setting .set_off_area .input_area{float:left;margin-top:2px;width:30px;}

.btn_area .group_create_btn{float:right;}