/* admin page */
/* admin sub menu */
.admin_wrap{
    width:100%;
}

.admin_menu{
    float:left;
    width:200px;
    margin-left:5px;
}

.admin_content{
    float:right;
    width:940px;
}

.admin_content .notice{
    float:right;
    font-size:13px;
    color:black;
}

.admin_menu > ul > li > a{
    display:block;
    color:#fff;
    background-color:#CCC;
    margin-bottom:2px;
    line-height:25px;
    text-indent:5px;
    border:1px solid #fff;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;


    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}

.admin_menu > ul > li > a:hover{
    background-color:#f2dede;
}

.admin_menu > ul > li > a.active{
    color:#fff;
    background-color:#d9534f;
}

/* admin Default Setting */
.admin_content_wrap{
    width:100%;
}

.sub_title{
    width:940px;
    color: #fff;
    background-color: #77787b;
    padding: 2px;
    padding-left: 10px;
    font-size: 14px;
    line-height:14px;
}

.sub_well_area{
    margin-top:10px;
    margin-bottom:10px;
}

.sub_well_area .well{
    padding:10px;
    margin:0;
}

.sub_content_menu_area{
    margin-top:10px;
}

.sub_content_menu_area .sub_menu_left_area{float:left;}
.sub_content_menu_area .sub_menu_right_area{float:right;}

/* table */
.sub_content_table{width:100%;margin-top:5px;border-bottom:1px solid #ccc;}
.sub_content_table tr.brand-info-line-hover:hover{background-color:#d9edf7;}
.sub_content_table tr.brand-warning-line-hover:hover{background-color:#fcf8e3;}
.sub_content_table tr.brand-danger-line-hover:hover{background-color:#f2dede;}
.sub_content_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-indent:5px;
    text-align:left;
    font-size:12px;
}

.sub_content_table tr td{text-indent:5px;vertical-align:top;}
.sub_content_table tr td .editable-wrap .editable-buttons{text-indent:0;}
.sub_content_table tr.border_line{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-bottom:1px solid #eee;
}


.ng-table-pager{
    text-align:center;
}

.table > tbody > tr > th {
    padding: 0px;
}

.btn_area .btn{
    margin-top:10px;
    float:right;
}

.admin_content .item-wrapper .editable-wrap input{
  width:58%;
}

.admin_content .dg_manage_content_area .item-wrapper .editable-wrap{
    width:280px;
}

.admin_content .Group.item-wrapper .editable-wrap{
    width:220px;
}

/* admin_admin_list.css */
.admin_list_table tr .ID{width:200px;}
.admin_list_table tr .Name{width:200px;}
.admin_list_table tr .Phone{width:200px;}
