.display_label {
  width:50%;
  float:left;
  text-align: left;
}
.display_label .display_value {
  float:left;
  padding-bottom: 5px;
  margin-left:10px;
}
.model_info {

}
.label_width {
  width:85%;
  margin-left: 5px;
}
.label_border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.admin_content .item-wrapper.display-wrap .editable-wrap{
  width:300px;
}
.admin_content .item-wrapper.server-wrap .editable-wrap{
  width:320px;
  margin-left: -140px;
}
.admin_content .item-wrapper.mediaplayer-wrap .editable-wrap{
  width:320px;
  margin-left: -180px;
}
