.myinfo_content_area{border-top:3px solid #ccc;}

.myinfo_content_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.myinfo_content_area .two_step .editable-wrap{width:200px;}
.myinfo_content_area .two_step .editable-wrap .editable-controls input{width:13px;border:none;}
.myinfo_content_area .two_step .editable-wrap .editable-buttons{margin-left:5px;}
.myinfo_content_area .right_area{width:460px;float:right;}

.myinfo_content_area .input_label{float:left;width:49%;margin:2px 0;}
.myinfo_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.myinfo_content_area .input_value{float:right;width:49%;margin:2px 0;}
.myinfo_content_area .input_value input{width:98%;border:1px solid #ccc;}
.myinfo_content_area .input_value input.password{width:70%;}
.myinfo_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.myinfo_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.myinfo_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}

.myinfo_sec_content_area{border-top:1px dashed #ccc;border-bottom:3px solid #ccc;}

.myinfo_sec_content_area .left_area{width:460px;float:left;border-right:1px solid #eee;margin-left:10px;}
.myinfo_sec_content_area .right_area{width:460px;float:right;}

.myinfo_sec_content_area .input_label{float:left;width:49%;margin:2px 0;}
.myinfo_sec_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.myinfo_sec_content_area .input_value{float:right;width:49%;margin:2px 0;}
.myinfo_sec_content_area .input_value input{width:98%;border:1px solid #ccc;}

.myinfo_sec_content_area .input_value .editable-controls select{width:110px;}

.self_opt_reset_btn{margin-left:5px;}

.assign_tagging_area{margin-top:2px;height:150px;padding-top:2px;}
.assign_tagging_area .sub_title{}
.assign_tagging_area .assign_tagging_wrap{}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_search_area{text-align:center;margin-bottom:5px;}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_search_area input{width:900px;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area{width:20%;float:left;}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .assign_tagging_list.my_box{
    margin-top:5px;
    border:1px solid #ccc;
    padding:5px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}
.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .assign_tagging_list.my_box .sync_btn{width:100%;margin-bottom:5px;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_list_area .tag_box{width:100%;float:left;}

.assign_tagging_area .assign_tagging_wrap .assign_tagging_table_area{width:78%;float:right;}
.assign_tagging_area .assign_tagging_wrap .tagging_table{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th{}
.assign_tagging_area .assign_tagging_wrap .tagging_table tr:hover{background-color: #d9edf7;}

.assign_tagging_area .assign_tagging_wrap .tagging_table th.no{text-align: center;width:40px;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.no{text-align: right;width:40px;}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.tag{text-align: center;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag{text-align: center;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag a.active{color:#5cb85c;}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.tag a.unactive{color:#ccc;}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.name{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.name{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.site{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.site{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.location{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.location{}
.assign_tagging_area .assign_tagging_wrap .tagging_table th.shop{}
.assign_tagging_area .assign_tagging_wrap .tagging_table td.shop{}

