.install_create_content_area{border-top:3px solid #ccc;border-bottom:3px solid #ccc;margin-top:5px;}

.install_create_content_area .left_area{width:300px;float:left;}
.install_create_content_area .mid_area{padding-left:10px;border-left:1px solid #eee;width:300px;float:left;border-right:1px solid #eee;margin-left:10px;}
.install_create_content_area .right_area{width:300px;float:right;}


.install_create_content_area .input_label{float:left;width:40%;margin:2px 0;}
.install_create_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.install_create_content_area .input_value{float:right;width:54%;margin:2px 0;}
.install_create_content_area .input_value input{width:98%;border:1px solid #ccc;}
.install_create_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.install_create_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.install_create_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}

.install_create_btn{float:right;}
