.install_info_content_area{border-top:3px solid #ccc;border-bottom:3px solid #ccc;margin-top:5px;}

.install_info_content_area .left_area{width:300px;float:left;}
.install_info_content_area .mid_area{padding-left:10px;border-left:1px solid #eee;width:300px;float:left;border-right:1px solid #eee;margin-left:10px;}
.install_info_content_area .right_area{width:300px;float:right;}


.install_info_content_area .input_label{float:left;width:40%;margin:2px 0;}
.install_info_content_area .input_label label{width:100%;font-size:12px;font-weight:normal;}
.install_info_content_area .input_value{float:right;width:54%;margin:2px 0;}
.install_info_content_area .input_value input{width:98%;border:1px solid #ccc;}
.install_info_content_area .input_value input.success{color:#5cb85c;border:1px solid #dff0d8;}
.install_info_content_area .input_value input.warning{color:#f0ad4e;border:1px solid #fcf8e3;}
.install_info_content_area .input_value input.danger{color:#d9534f;border:1px solid #f2dede;}
.install_info_content_area .input_value .editable-wrap{width:230px;}

.install_create_btn{float:right;}
.btn_area .install_del_btn{float:left;}

/* install list */

.what_key_setting{height:20px;}
.what_key_setting .what_key_label{float:left;width:80px;}
.what_key_setting .what_key_input{float:left;width:300px;}

.install_list_content_area{margin-top:5px;}

.install_list_table tr td{}
.install_list_table tr:hover td{background-color: #eee;}

.install_list_table tr th{font-size:12px;}
.install_list_table tr th.no{text-align:right;}
.install_list_table tr th.key{text-indent:12px;}
.install_list_table tr th.site{}
.install_list_table tr th.location{}
.install_list_table tr th.shop{}
.install_list_table tr th.mp_alias{}
.install_list_table tr th.dp_alias{}

.install_list_table tr td{}
.install_list_table tr td.no{text-align:right;}
.install_list_table tr td.key{text-indent:12px;width:150px;}
.install_list_table tr td.site{width:150px;}
.install_list_table tr td.location{width:150px;}
.install_list_table tr td.shop{width:150px;}
.install_list_table tr td.mp_alias{width:150px;}
.install_list_table tr td.dp_alias{width:150px;}
