.assign_group_area{margin-top:2px;padding-top:2px;}
.assign_group_area .sub_title{}
.assign_group_area .assign_group_wrap{margin-top:4px;margin-bottom:4px;border-top:3px solid #ccc;border-bottom:3px solid #ccc;padding-top:2px;padding-bottom:2px;}
.assign_group_area .assign_group_wrap .assign_group_search_area{text-align:center;margin-bottom:5px;}
.assign_group_area .assign_group_wrap .assign_group_search_area input{width:900px;}
.assign_group_area .assign_group_wrap .assign_group_list{}
.assign_group_area .assign_group_wrap .assign_group_list .dg_item:hover{background-color: #eee; font-weight:bold;}

.btn_area .del_member_btn{float:left;}
.btn_area .mod_group_btn{float:right;}

.myinfo_sec_content_area .user_auth .editable-input label {display:block;width:20px;}
.myinfo_sec_content_area .user_auth .editable-buttons{margin-left:90px;margin-top:100px;}

