.delete_wrap{
    padding:10px;
    width:350px;
}

.delete_wrap .title{
    padding:0;
    margin:0;
    background-color:#999;
    color:#fff;
    text-align:left;
    text-indent:5px;
    line-height:25px;
    font-weight:bold;
}

.delete_wrap .del_confirm_box{border:1px solid #ccc;}

.delete_wrap .del_confirm_box .del_content{
    padding-top:10px;
    padding-bottom:10px;
}

.delete_wrap .del_confirm_box .del_btn_area{
    padding-bottom:10px;
}

.delete_wrap .del_confirm_box .del_btn_area .btn{
    width:50px;
    padding-top:3px;
    padding-bottom:3px;
}