/* device search page */
/* top 10 */
.top10{
    width:540px;
    float:left;
}

.top10_header{
    line-height:35px;
    font-weight:bold;
}

.top10_title{
    width:100%;
    color:#000;
    text-align: left;
    font-weight:bold;
    font-size:11px;
}
/*
.mediaplay_top10_area{
    border:1px solid red;
}
.display_top10_area{
    border:1px solid red;
}
*/

.top10 .top_table{
    margin:3px 0;
    border-top:1px solid #ccc;
    width:100%;
}

.top10 .top_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}
.top10 .top_table tr{border-bottom:1px solid #eee;}
.top10 .top_table tr th.th_name{text-indent:5px;}
.top10 .top_table tr td.td_name{text-indent:5px;width:100px;}
.top10 .top_table tr td.td_name_space{height:18px;}
.top10 .top_table tr th.th_usage{width:100px;text-align:center;}
.top10 .top_table tr td.td_usage{width:100px;text-align:center;}
.top10 .top_table tr td.td_usage_space{height:18px;}
.top10 .top_table tr th.th_temp{width:100px;text-align:center;}
.top10 .top_table tr td.td_temp{width:100px;text-align:center;}
.top10 .top_table tr td.td_temp_space{height:18px;}
.top10 .top_table tr th.th_action{width:60px;text-align:center;}
.top10 .top_table tr td.td_action{width:60px;text-align:center;}
.top10 .top_table tr td.td_action_space{height:18px;}
.top10 .top_table tr td.td_action .action{text-decoration:underline;}

.top10 .ng-table-pager{
    display:none;
}

.top10 .cpu_top{
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:10px;
    width:49%;
    float:left;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.top10 .memory_top{
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:10px;
    width:49%;
    float:right;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.top10 .hdd_top{
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:10px;
    width:49%;
    float:left;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.top10 .d1_top{
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:10px;
    width:49%;
    float:right;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.device_search{
    width:600px;
    float:right;
}
.search_box{
    font-size:12px;
    height:30px;
    color:#000;
}

.table_limit_line{
    float:left;
    line-height:30px;
    /*width:230px;*/
    width:198px;
}
.table_limit_line .btn_style_change{width:30px;}

.table_limit_line .line_select{
    float:right;
    width:50px;
    margin-top:7px;
}

.table_search{
    float:right;
    height:30px;
}

.search_bar{
    float:right;
    width:350px;
}

.search_bar .search_select{
    float:left;
    width:100px;
    margin-right:10px;
    margin-top:7px;
}
.search_bar .search_input{
    float:left;
    width:200px;
    height:25px;
    display:block;
}

.select2-container .select2-choice{
    display:block;
    height:18px;
    margin-top:2px;
}

.search_input.select2-container{
    margin:0;
}
.search_input.select2-container .select2-choice{
    margin-top:7px;
}

.select2-container .select2-choice span{height:16px;line-height:16px;}
.select2-container .select2-choice span.select2-arrow b{background-position:0 -4px;}
.select2-container .select2-choice abbr{top:2px;}

.detail_search{
    display:block;
    float:right;
    margin-right:12px;
    margin-top:5px;
    font-size:15px;
    color:#333;
}

.detail_search_box{
    padding:5px 0;
    text-align: center;
    border-top:1px solid #ccc;
    -webkit-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.search_content{
    margin-top:5px;
}

/* table */
.device_search_table{
    width:100%;
}

.device_search_table tr.brand-info-line-hover:hover{
    background-color:#d9edf7;
}
.device_search_table tr.brand-warning-line-hover:hover{
    background-color:#fcf8e3;
}
.device_search_table tr.brand-danger-line-hover:hover{
    background-color:#f2dede;
}

.device_search_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.device_search_table tr.border_line{border-bottom:1px solid #eee;}
.device_search_table tr td{vertical-align:top;}
.device_search_table tr th.no{text-align:right;}
.device_search_table tr th.no div{width:25px;}
.device_search_table tr td.no{width:25px;text-align:right;}
.device_search_table tr th.status{text-align:center;}
.device_search_table tr th.status div{width:25px;}
.device_search_table tr td.status{width:25px;text-align:center;}
.device_search_table tr th.location{text-align:left;}
.device_search_table tr th.location div{width:120px;}
.device_search_table tr td.location{width:120px;text-align:left;}
.device_search_table tr th.shop{text-align:left;}
.device_search_table tr th.shop div{width:120px;}
.device_search_table tr td.shop{width:120px;text-align:left;}
.device_search_table tr th.mp_alias{text-align:left;}
.device_search_table tr th.mp_alias div{width:120px;}
.device_search_table tr td.mp_alias{width:120px;text-align:left;}
.device_search_table tr th.dp_alias{text-align:left;}
.device_search_table tr th.dp_alias div{width:120px;}
.device_search_table tr td.dp_alias{width:120px;text-align:left;}

.device_search_table tr th.act, .device_search_table tr td.act{text-align:center;}
.device_search_table tr td.act a{
    display:block;
    text-align:center;
    text-decoration:underline;
    color:#666;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.device_search_table tr td.act a.action_brand_primary{color:#428bca;}
.device_search_table tr td.act a.action_brand_success{color:#5cb85c;}
.device_search_table tr td.act a.action_brand_info{color:#5bc0de;}
.device_search_table tr td.act a.action_brand_warning{color:#f0ad4e;}
.device_search_table tr td.act a.action_brand_danger{color:#d9534f;}
.device_search_table tr td.act a.action_brand_AAA{color:#aaa;}
.device_search_table .th_status_icon{color:#aaa;}

.device_search_table .overflow_dot{
    width:120px;
}

.device_search_table tr td .td_list{width:90px;float:left;}
.device_search_table tr td .td_more{float:right;}

.ng-table-pager{
    text-align:center;
}

.table > tbody > tr > th {
    padding: 0px;
}


.table > tbody > tr > td {
    padding: 0px;
}

.table_limit_line ul li{
    float:left;
}
