/* live status page */
.live_wrap{
    margin-top:10px;
}

/* live status - tree menu */
.tree_nav {
    background-color:#fff;
    position: fixed;
    top: 90px;
    padding-top:3px;
    padding-left:5px;
    z-index:5;
    width:204px;
}
.tree_menu{
    position:absolute;
    width:200px;
    background-color: #fff;
    z-index:5;
}
.tree_menu li a{
    padding:6px 10px;
    color:#666;
    float:left;
    width:90px;
    text-align: center;
}

.tree .tag{margin-bottom:2px;}
.tree .tag a{color:#666;}
.tree .tag a:hover{color:#d9534f;}
.tree .tag a.active{color:#c40452;font-weight:bold;}

.tree{
    padding:40px 5px 0;
    margin:1px 0 20px;
    font-size: 12px;
    min-height: 20px;
    width: 200px;
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    overflow-y: auto;
    overflow-x: hidden;
}

.tree_view .arrow{
    font-size:6px;
    color:#000;
}

.tree_view ul{
    margin-left:0px;
    position:relative;
}

.tree_view ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px dotted;
}

ul.tree_view ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px dotted;
    position:absolute;
    top:8px;
    left:0;
}

ul.tree_view li{
    cursor:pointer;
}

ul.tree_view ul li {
    margin:0;
    padding-left:12px;
    line-height:18px;
    position:relative;
}

ul.tree_view ul li.tree_last_index:before {
    background:white;
    height:auto;
    top:8px;
    bottom:0;
}

.location_tree{
    left:15px;
    width:230px;
}

.shop_tree{
    left:0px;
    width:215px;
}

.mp_tree{
    left:0px;
    width:200px;
}

.dp_group_tree .selected{font-weight:bold;}

.tree_view .expander{
    position: absolute;
    height: 9px; width: 9px;
}

.tree_view .plus_expander{
    background: #fff url("../images/menu/plus.gif") no-repeat scroll;
}

.tree_view .minus_expander{
    background: #fff url("../images/menu/minus.gif") no-repeat scroll;
}

.location_tree .expander{
    top:3px; left: -4px;
}
.shop_tree .expander{
    top:3px; left: -4px;
}

.current_display span{
    font-weight:bold;
}

.current_mediaplayer span{
    font-weight:bold;
}


.live_content{float:right;width:940px;}
.live_content .mp_content{margin-top:20px;}
.live_content .dp_content{margin-top:20px;}
.live_content .info_content{margin-top:20px;}
.live_content .link_list_area{width:940px;}
.live_content .link_list_area .link_list{width:940px;height:30px;}
.live_content .link_list_area .link_list li{display:inline-block;line-height:25px;border-bottom:1px solid #ccc;}
.live_content .link_list_area .link_list li a{
    display:block;
    padding-left:5px;padding-right:5px;
    border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #fff;
    line-height:26px;
    text-align:center;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    color:#666;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.live_content .link_list_area .link_list li a:hover{
    color:#c40452;
    background-color:#eee;
}

.live_content .link_list_area .link_list li a.type_mp{width:85px;}
.live_content .link_list_area .link_list li a.type_dp{width:72px;}
.live_content .link_list_area .link_list li a.type_dp_sm{width:32px;}
.live_content .link_list_area .link_list li.active{border-bottom:#fff;}
.live_content .link_list_area .link_list li a.active{
    display:block;
    padding-left:5px;padding-right:5px;
    border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #fff;
    line-height:26px;
    text-align:center;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    background-color: #fff;
    color:#c40452;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

/* total_info_content */
.total_info_content{
    margin-top:57px;
}

.total_info_content .total_content{
    padding:5px;
}

.total_content .well_wrap{
    float:left;
    width:100%;
}
.total_content .total_info_table_wrap{
    float:right;
    width:34%;
}

.total_content .total_info_table{
    width:100%;
}

.total_info_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    font-size:14px;
}

.total_info_table tr.border_line_primary:hover{background-color:#d9edf7;}
.total_info_table tr.border_line_primary td{color:#428bca;}
.total_info_table tr.border_line_warning:hover{background-color:#fcf8e3;}
.total_info_table tr.border_line_warning td{color:#f0ad4e;}
.total_info_table tr.border_line_danger:hover{background-color:#f2dede;}
.total_info_table tr.border_line_danger td{color:#d9534f;}
.total_info_table tr.border_line_danger td{color:#d9534f;}
.total_info_table tr.result_total td{
    background-color:#eee;
    color:#000;
    line-height:30px;
}

.total_info_table tr th.th_status, .total_info_table tr td.td_status{text-align:center;}
.total_info_table tr th.th_display, .total_info_table tr td.td_display{text-align:center;}

.shop_img{width:200px;float:left;}
.shop_content{width:300px;float:right;}

/* tab .14 .08 .27 */
.information_content{
    float:right;
    width:940px;
}

.information_content > .tab_title{
    padding-top:10px;
    top:120px;
    position:fixed;
    background-color:#fff;
    width:940px;
    z-index:3;
}

.information_content > .tab_title > .nav > li > a{
    padding:5px 10px;
}

.path_area{
    border-bottom:1px solid #e0e0e0;
    position:fixed;
    width:940px;
    top:90px;
    z-index:4;
    padding-top:3px;
    background-color:#fff;
}

.this_path{
    float:left;
    width:500px;
}

.this_path .path{
    line-height:29px;
    width:100%;
    border-top:1px solid #fff;
    color:#77787b;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.this_path .path a{
    color:#77787b;
    font-size:11px;
    font-weight:bold;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.this_path .path a:hover{
    color:#c40452;
}

.main_func{float:right;line-height:29px;}
.main_func button{margin-right:2px;}
.main_func_btns_wrap{float:right;}
.mp_main_func{width:370px;}
.dp_main_func{width:175px;}

.tab_title a{
    color: #77787b;
}

.nav li.active a{
    color: #c40452;
}

.nav li.active a:hover{
    color: #c40452;
}

.nav li.active a.discon{
    color:red;
}

.information_content > .tab-content{
    margin-top:60px;
}

.section{
    padding:1px 0;
}

.disconnected_section {
    position:absolute;
    z-index:1;
    width:940px;
    background-color:#000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: 50;
    -moz-opacity: 50;
}

.mp_disconnected_section {
    height:288px;
}

.dp_disconnected_section {
    height:340px;
}

.disconnected_section .comment{
    margin-top:100px;
    font-size:50px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}

.disconnected_section .comment span{
    opacity:1.0;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    -khtml-opacity: 100;
    -moz-opacity: 100;
}

.section .sub_title{
    width:940px;
    padding: 2px;
    line-height:14px;
    background: #b8b8b8; /* Old browsers */
    background: -moz-linear-gradient(left,  #b8b8b8 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8b8b8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to right,  #b8b8b8 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
    color: #000;
    font-weight:bold;
    font-size: 12px;
}

.sub_title_icon{
    float:right;
    margin-right:10px;
    margin-top:0px;
}

.sub_content{
    width:940px;
    padding:0;
}

.information_content .title_toggle:hover{
    cursor:pointer;
}

.btn-small-padding {
    padding: 0 15px;
}

.side_show_btn{
    float:right;
}

/* live - media - usage status */
.resource_img_area{
    width:150px;
    float:left;
}

.resource_slide_img{
    display:block;
    width:140px;
    height:100px;
    margin:5px auto;
    border:1px solid #e0e0e0;
}

.resource_info_area{
    width:790px;
    float:right;
    margin-bottom:5px;
}

.resource_info_area .sort_left{float:left;width:322px;border-right: 1px solid #e0e0e0;}
.resource_info_area .sort_right{float:right;width:460px;}

.resource_info_area .sort_left .line_th{float:left;width:122px;padding:2px 0;}
.resource_info_area .sort_left .line_td{float:right;width:190px;padding:2px 0;}
.resource_info_area .sort_right .line_th{float:left;width:190px;padding:2px 0;}
.resource_info_area .sort_right .line_td{float:right;width:220px;padding:2px 0;}

.resource_info_area .view_format{
    display:block;
    font-size:10px;
}

/* live - media - running status */
.running_status_table{
    margin:0;
    width:100%;
}

.running_status_table tr th{
    padding:0;
    margin:0;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.running_status_table tr:hover{background-color: #eee;}
.running_status_table tr th.th_type{text-indent:10px;width:158px;}
.running_status_table tr td.td_type{text-indent:10px;line-height:20px;}
.running_status_table tr th.th_name{width:313px;}
.running_status_table tr td.td_name{}
.running_status_table tr th.th_cpu{text-align:center;width:55px;}
.running_status_table tr td.td_cpu{text-align:center;}
.running_status_table tr th.th_memory{text-align:center;width:180px;}
.running_status_table tr td.td_memory{text-align:center;}
.running_status_table tr th.th_status{text-align:center;width:55px;}
.running_status_table tr td.td_status{text-align:center;}
.running_status_table tr th.th_action{text-align:center;}
.running_status_table tr td.td_action{text-align:center;}
.running_status_table tr td.td_action .btn{
    width:60px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:11px;
}

.running_status_table .view_UNKNOW{
    font-style:italic;
    color:#ccc;
}

/* live - media - device info */
.mp_device_img_area{
    width:150px;
    float:left;
    margin-top:5px;
}

.mp_device_img_area .slide_img_wrap img{display:block;width:140px;height:100px;margin:5px auto;}
.mp_device_img_area .btn_area .btn{float:left;margin-bottom:5px;margin-left:32px;}

.mp_device_txt_area{
    width:310px;
    float:left;
}

.mp_device_txt_area .line{font-size:12px;}

.mp_device_info_area{
    width:470px;
    float:right;
    border-left: 1px solid #e0e0e0;
}

.mp_device_info_area .line_th{
    float:left;
    margin-left:10px;
    width:220px;
}

.mp_device_info_area .line_td{
    width:220px;
    float:right;
}

.dp_device_img_area{
    width:140px;
    height:100px;
    float:left;
    margin-top:15px;
    margin-left:50px;
}

.dp_device_img_area .slide_img_wrap{display:block;width:140px;height:100px;}
.dp_device_img_area .slide_img_wrap img{display:block;width:140px;height:100px;margin:0 auto;}
.dp_device_btn_area{float:left;width:300px;height:40px;line-height:40px;margin-left:29px;}

.dp_device_img_area2{
    float:left;
    margin-top:10px;
    margin-left:60px;
}

.dp_device_info_area{
    width:470px;
    float:right;
    border-left: 1px solid #e0e0e0;
}

.dp_device_info_area .line_th{
    float:left;
    margin-left:10px;
    width:220px;
}

.dp_device_info_area .line_td{
    width:220px;
    float:right;
}

.device_info_area .view_format{
    font-size:10px;
}

.view_NA{font-style:italic;color:#ccc;}

/* live - media - network info */
.network_info_area .sort_left{float:left;width:460px;margin-left:10px;border-right: 1px solid #e0e0e0;}
.network_info_area .sort_right{float:right;width:460px;}
.network_info_area .sort_left .line_th{float:left;width:125px;}
.network_info_area .sort_left .line_td{float:right;width:315px;}
.network_info_area .sort_right .line_th{float:left;width:220px;}
.network_info_area .sort_right .line_td{float:right;width:220px;}

.network_info_area .view_NA{
    font-style:italic;
    color:#ccc;
}

/* live - media - history */
.history_table{
    margin:0;
    width:100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.history_table tr th{
    padding:0;
    margin:0;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.history_table tr:hover{background-color: #eee;}
.history_table tr th.th_no{text-align:right;width:30px;}
.history_table tr td.td_no{text-align:right;}
.history_table tr th.th_name{text-indent:10px;width:125px;}
.history_table tr td.td_name{text-indent:10px;}
.history_table tr th.th_date{width:140px;}
.history_table tr td.td_date{}
.history_table tr th.th_device{width:80px;}
.history_table tr td.td_device{}
.history_table tr th.th_type{width:115px;}
.history_table tr td.td_type{}
.history_table tr th.th_command{width:230px;}
.history_table tr td.td_command{}
.history_table tr th.th_memo{}
.history_table tr td.td_memo div{width:210px;display:block;}
.history_table tr td.td_memo div span{}
.history_table tr td.td_memo .item-wrapper .editable-wrap{width:300px;}

/* live - display - running */

.detail_tab{
    margin-top:5px;
    height:20px;
}

.detail_tab .view_format{
    display:block;
    font-size:10px;
}

.detail_tab .view_NA{
    font-style:italic;
    color:#ccc;
}

.detail_tab .memo{
    font-size:10px;
    color:#888;
    font-style:italic;
}

.detail_tab .sort_left{
    float:left;
    border-right:1px solid #e0e0e0;
    width:460px;
    margin-left:10px;
}

.detail_tab .sort_right{
    float:right;
    width:460px;
}

.detail_tab .line_th{
    width:220px;
    float:left;
}

.detail_tab .line_td{
    width:220px;
    float:right;
}

/* support */
.support_content{}
.support_content .file_uprade_set_area{width:450px;}
.support_content .file_uprade_set_area .support_label{float:left;}
.support_content .file_uprade_set_area .real_btn_find_box{float:right;position:relative;width:50px;height:23px;overflow:hidden;}
.support_content .file_uprade_set_area .real_btn_find_box .btn_find{width:50px;}
.support_content .file_uprade_set_area .real_btn_find_box .real_btn_find{
    font-size:30px;
    position:absolute;
    right:0px;
    top:0;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
.support_content .file_uprade_set_area .path_box{width:100%;}
.support_content .progress{float:left;width:380px;}
.support_content .alert_area{line-height:20px;margin-bottom:0;}
.support_content .upload_area{float:right;}

/* schedule */
.schedule_content{}
.schedule_content .schedule_set_area{float:left;width:240px;margin-right:5px;padding-right:5px;border-right:1px solid #eee;}
.schedule_content .power_on_list_area{float:left;width:300px;margin: 0 5px;padding-right:5px;border-right:1px solid #eee;}
.schedule_content .power_off_list_area{float:left;width:300px;}
.schedule_content .schedule_set_area .th_label{float:left;width:100px;font-weight:normal;}
.schedule_content .schedule_set_area .td_area{float:right;width:120px;}

.schedule_content .schedule_set_area .td_area input.time{width:100%;}
.schedule_content .schedule_set_area .td_area select{width:100%;}
.schedule_content .schedule_set_area .td_area label{font-weight:normal;vertical-align:top;}
.schedule_content .schedule_set_area .btn_area{width:100%;}
.schedule_content .schedule_set_area .btn_area .btn{float:right;width:45px;}

.schedule_content .power_on_list_area .power_on_table_area{}
.schedule_content .power_on_list_area .power_on_table_area .power_on_table{width:100%;border-top:1px solid #ccc;}
.schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th{
    padding:0;
    margin:0;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}
.schedule_content .power_on_list_area .power_on_table_area .power_on_table tr td{
    font-size:11px;
    line-height:14px;
    border-bottom:1px solid #eee;
}

.schedule_content .power_off_list_area .power_off_table_area{}
.schedule_content .power_off_list_area .power_off_table_area .power_off_table{width:100%;border-top:1px solid #ccc;}
.schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th{
    padding:0;
    margin:0;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}
.schedule_content .power_off_list_area .power_off_table_area .power_off_table tr td{
    font-size:11px;
    line-height:14px;
    border-bottom:1px solid #eee;
}

.schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_del{text-align:center;}
.schedule_content .power_on_list_area .td_del{text-align:center;}
.schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_no{text-align:right;width:25px;}
.schedule_content .power_on_list_area .td_no{text-align:right;width:20px;}
.schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_repeat{text-indent:12px;}
.schedule_content .power_on_list_area .td_repeat{text-indent:12px;}

.schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_del{text-align:center;}
.schedule_content .power_off_list_area .td_del{text-align:center;}
.schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_no{text-align:right;width:25px;}
.schedule_content .power_off_list_area .td_no{text-align:right;width:20px;}
.schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_repeat{text-indent:12px;}
.schedule_content .power_off_list_area .td_repeat{text-indent:12px;}

/* tile */
.tile_content{}
.tile_content .tile_set_area{float:left;border-right:1px solid #ccc;width:300px;padding:5px;margin-right:5px;}
.tile_content .tile_set_area .th_label{float:left;font-weight:normal;width:120px;}
.tile_content .tile_set_area .td_area{float:right;width:160px;}
.tile_content .tile_set_area .td_area select{width:100%;}
.tile_content .tile_set_area .td_area.item-wrapper .editable-wrap{width:250px;}
.tile_content .tile_set_area .td_area.item-wrapper .editable-wrap select{width:140px;}
.tile_content .tile_set_area .tile_mode_area{border:1px solid #eee;margin-top:5px;margin-bottom:5px;padding:5px;}
.tile_content .tile_set_area .tile_mode_area .th_label{width:115px;}
.tile_content .tile_set_area .tile_mode_area .td_area{width:155px;}
.tile_content .tile_set_area .tile_mode_area .td_area.item-wrapper .editable-wrap{width:250px;}
.tile_content .tile_set_area .tile_mode_area .td_area.item-wrapper .editable-wrap select{width:140px;}

.tile_content .size_area{float:left;width:200px;}
.tile_content .size_area .btn_autoset{float:right;width:45px;}
.tile_content .size_area .size_set_area{border:1px solid #eee;padding:5px;margin-top:5px;margin-bottom:5px;}
.tile_content .size_area .size_set_area .th_label{float:left;width:22px;text-align:center;}
.tile_content .size_area .size_set_area .td_area{float:left;width:70px;}
.tile_content .size_area .size_set_area .td_area input{width:100%;}

/* white */
.white_content{}
.white_content .white_menu{width:100px;float:left;}
.white_content .white_menu ul li a{color:#ccc;display:block;width:100%;text-indent:5px;}
.white_content .white_menu ul li a:hover{background-color:#ccc;color:#fff;}
.white_content .white_menu ul li a.active{background-color:#eee;color:#000;}
.white_content .white_content_area{width:840px;float:right;border:1px solid #eee;}

.white_content .white_content_area .menu_CV_content{padding-top:5px;padding-bottom:5px;height:90px;}
.white_content .white_content_area .menu_CV_content .sort_left{width:410px;border-right:1px solid #eee;padding-right:5px;}
.white_content .white_content_area .menu_CV_content .sort_right{width:410px;}
.white_content .white_content_area .menu_CV_content .line_th{width:200px;}
.white_content .white_content_area .menu_CV_content .line_td{width:200px;}

.white_content .white_content_area .menu_M_content{padding-top:5px;padding-bottom:5px;}
.white_content .white_content_area .menu_M_content .sort_left{width:410px;border-right:1px solid #eee;padding-right:5px;}
.white_content .white_content_area .menu_M_content .sort_right{width:410px;}
.white_content .white_content_area .menu_M_content .line_th{width:200px;}
.white_content .white_content_area .menu_M_content .line_td{width:200px;}
.white_content .white_content_area .menu_M_content .line_td select{width:100%;}
.white_content .white_content_area .menu_M_content .line_td input{width:100%;}

.white_content .white_content_area .menu_C_content{padding-top:5px;padding-bottom:5px;}
.white_content .white_content_area .menu_C_content .set_area{width:300px;float:left;margin-right:5px;margin-left:5px;}
.white_content .white_content_area .menu_C_content .graph_area{width:200px;border-right:1px solid #eee;border-left:1px solid #eee;float:left;}
.white_content .white_content_area .menu_C_content .graph_area .graph{float:left;margin-left:5px;}
.white_content .white_content_area .menu_C_content .graph_area .color_arrow_area{float:left;width:16px;height:150px;margin-left:5px;}
.white_content .white_content_area .menu_C_content .graph_area .graph_color{width:10px;height:150px;background-color:red;float:left;}
.white_content .white_content_area .menu_C_content .preview_area{width:180px;float:left;margin-left:5px;}
.white_content .white_content_area .menu_C_content .preview_area .img_area{margin-bottom:5px;}

.white_content .white_content_area .menu_C_content .set_area .th_label{width:160px;float:left;font-weight:normal;}
.white_content .white_content_area .menu_C_content .set_area .td_area{width:130px;float:right;}
.white_content .white_content_area .menu_C_content .set_area .td_area select{width:100%;}
.white_content .white_content_area .menu_C_content .set_area .td_area input.luminance{width:100%;}
.white_content .white_content_area .menu_C_content .set_area .arrow_area{}
.white_content .white_content_area .menu_C_content .set_area .graph_black{height:10px;width:100%;background-color:#000;}
.white_content .white_content_area .menu_C_content .preview_area .btn_start{width:45px;float:right;}

.white_content .white_content_area .menu_D_content{padding-top:5px;padding-bottom:5px;}
.white_content .white_content_area .menu_D_content .set_area{float:left;width:320px;margin-left:5px;margin-right:5px;}
.white_content .white_content_area .menu_D_content .open_area{float:left;width:325px;border-left:1px solid #eee;padding-left:5px;}

.white_content .white_content_area .menu_D_content .set_area .th_label{width:150px;float:left;font-weight:normal;}
.white_content .white_content_area .menu_D_content .set_area .td_area{width:150px;float:right;}
.white_content .white_content_area .menu_D_content .set_area .td_area select{width:100%;}

.white_content .white_content_area .menu_D_content .open_area .th_label{width:150px;float:left;font-weight:normal;}
.white_content .white_content_area .menu_D_content .open_area .td_area{width:150px;float:right;}
.white_content .white_content_area .menu_D_content .open_area .td_area .btn_open{width:45px;float:right;}
.white_content .white_content_area .menu_D_content .open_area .btn_area .btn_start{width:45px;float:right;}
.white_content .white_content_area .menu_D_content .open_area .progress{margin-top:5px;}

.white_content .white_content_area .menu_T_content{padding-top:5px;padding-bottom:5px;height:90px;}
.white_content .white_content_area .menu_T_content .test_area{width:200px;}
.white_content .white_content_area .menu_T_content .test_area .btn_area{margin-top:5px;margin-left:5px;}
.white_content .white_content_area .menu_T_content .test_area .test_title{text-align:center;}
.white_content .white_content_area .menu_T_content .test_area .btn_area .btn_on{float:left;width:70px;}
.white_content .white_content_area .menu_T_content .test_area .btn_area .btn_off{float:right;width:70px;}



/* remote controll area layout */ /* remote 모양 나중에 css 컨트롤 하려면 레이아웃 구조 css 지우지 말것 */
.remote_content{}
.remote_content .input_area{width:270px;float:left;}
.remote_content .input_area p{text-align:center;}
.remote_content .input_area .on_off_area{float:left;width:100px;}
.remote_content .input_area .on_off_area .monitor_area{width:100px;border:1px solid #eee;padding:5px;}
.remote_content .input_area .on_off_area .monitor_area p{text-align:center;}
.remote_content .input_area .number_area{float:right;width:160px;border:1px solid #eee;padding:5px;}

.remote_content .mode_area{width:120px;float:left;}

.remote_content .control_area{width:340px;float:left;}
.remote_content .control_area .regulation_area{float:left;width:160px;border:1px solid #eee;padding:5px;}
.remote_content .control_area .regulation_area .brightness_area{float:left;margin-right:5px;}
.remote_content .control_area .regulation_area .mute_area{float:left;margin-right:5px;}
.remote_content .control_area .regulation_area .volume_area{float:left;}
.remote_content .control_area .move_area{float:right;width:165px;border:1px solid #eee;padding:5px;}
.remote_content .control_area .move_area .move_left_area{float:left;margin-right:5px;}
.remote_content .control_area .move_area .move_center_area{float:left;width:50px;margin-right:5px;text-align:center;}
.remote_content .control_area .move_area .move_right_area{float:left;}

/* remote controll - button position - width css */
.remote_content .input_area .on_off_area .btn_power{width:90px;margin-bottom:5px;}
.remote_content .input_area .on_off_area .monitor_area .btn_monitor_on{width:90px;margin-bottom:5px;}
.remote_content .input_area .on_off_area .monitor_area .btn_monitor_off{width:90px;}
.remote_content .input_area .on_off_area .btn_input{width:90px;margin-top:5px;}

.remote_content .input_area .number_area .btn{width:45px;}
.remote_content .input_area .number_area p{text-align:center;margin-bottom:5px;}

.remote_content .mode_area .btn{width:90px;}
.remote_content .mode_area p{text-align:center;margin-bottom:5px;}

.remote_content .control_area .regulation_area .btn{width:45px;}
.remote_content .control_area .regulation_area .btn_plus{margin-bottom:25px;}
.remote_content .control_area .regulation_area .btn_mute{margin-top:25px;}
.remote_content .control_area .regulation_area .text{font-size:9px;text-align:center;}

.remote_content .control_area .move_area .btn{width:45px;}
.remote_content .control_area .move_area .btn_up{margin-bottom:5px;}
.remote_content .control_area .move_area .btn_ok{margin-bottom:5px;}
.remote_content .control_area .move_area .btn_left{margin-top:27px;}
.remote_content .control_area .move_area .btn_right{margin-top:27px;}

/* live - display - TV */
.tv_schedule_area .tv_use_area{float:right;margin-bottom:5px;}
.tv_schedule_area .tv_use_area div{float:left;margin-right:10px;}
.tv_schedule_area .tv_use_area div span{padding:2px;font-weight: normal;font-size:11px;}
.tv_schedule_area .tv_use_area div input{vertical-align: top;}

.tv_schedule_area .tv_table{
    margin:0;
    width:100%;
    border-top:1px solid #ccc;
}

.tv_schedule_area .tv_table tr th{
    padding:0;
    margin:0;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.tv_schedule_area .tv_table tr:hover{background-color: #eee;}
.tv_schedule_area .tv_table tr th.th_day{text-indent:10px;width:250px;}
.tv_schedule_area .tv_table tr td.td_day{text-indent:10px;line-height:20px;}
.tv_schedule_area .tv_table tr th.th_s_time{width:220px;}
.tv_schedule_area .tv_table tr th.th_e_time{width:250px;}
/*.tv_schedule_area .tv_table tr td.td_tv .item-wrapper .editable-wrap{width:220px;}*/

/* live - display - device == live - media - device */
/* live - display - manage */
.manage_info_area .sort_left{
    float:left;
    border-right:1px solid #e0e0e0;
    width:460px;
    margin-left:10px;
}
.manage_info_area .sort_right{
    float:right;
    width:460px;
}

.manage_info_area .line_th{
    width:220px;
    float:left;
}

.manage_info_area .line_td{
    width:220px;
    float:right;
}

/* tab common */
.status_content > .tab_title > .nav > li > a{
    padding:5px 10px;
}

.slide_img{
    margin: 0 auto;
    width:150px;
    display:block;
}

/* remote modal .14 .08 .26 */
.remote_connect_wrap{
    padding:10px;
    width:400px;
}

.remote_connect_wrap .title{
    padding:0;
    margin:0;
    background-color:#999;
    color:#fff;
    text-align:left;
    text-indent:5px;
    line-height:25px;
    font-weight:bold;
}

.remote_connect_wrap .remote_connect_wrap_line{
    padding:20px;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}

.connect_ment{
    padding:10px;
}

.connect_ment span{
    display:block;
    margin-top:10px;
}

.remote_connect_wrap_line .btn_line{
    width:220px;
    margin:0 auto;
    height:40px;
}

.remote_connect_wrap_line .btn_line .btn{
    float:right;
    width:100px;
}

.remote_connect_wrap_line .btn_line .btn:first-child{
    float:left;
    margin-right:20px;
}

/* diagnostic modal .14 .09 .17 */
.diagnostic_modal{
    width:540px;
}

.diagnostic_modal .brand_danger{color:#d9534f;}

.diagnostic_modal .title{
    width:100%;
    margin-left:0;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #c40452;
    color:#fff;
    font-size:14px;
    margin-bottom:5px;
}

.diagnostic_modal .sub_title{
    width:100%;
    margin-left:0;
    text-align:left;
}

.diagnostic_modal .modal-footer{
    padding:5px;
}

.diagnostic_table{
    border-top:1px solid #ccc;
    margin-top:2px;
    margin-bottom:10px;
    width:100%;
    border-bottom:1px solid #eee;
}

.diagnostic_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.diagnostic_table tr:hover{background-color: #eee;}
.diagnostic_table tr td{line-height:22px;}
.diagnostic_table tr th.th_item{text-align:left;text-indent:10px;}
.diagnostic_table tr td.td_item{text-align:left;text-indent:10px;}
.diagnostic_table tr th.th_threshold{text-align:center;}
.diagnostic_table tr td.td_threshold{text-align:center;}
.diagnostic_table tr th.th_current{text-align:center;}
.diagnostic_table tr td.td_current{text-align:center;}
.diagnostic_table tr th.th_status{text-align:center;}
.diagnostic_table tr td.td_status{text-align:center;}

.app_table{
    border-top:1px solid #ccc;
    margin-top:2px;
    margin-bottom:10px;
    width:100%;
    border-bottom:1px solid #eee;
}

.app_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.app_table tr:hover{background-color: #eee;}
.app_table tr td{line-height:22px;}
.app_table tr th.th_index{text-align:left;text-indent:10px;}
.app_table tr td.td_index{text-align:left;text-indent:10px;}
.app_table tr th.th_name{text-align:left;}
.app_table tr td.td_name{text-align:left;}
.app_table tr th.th_status{text-align:center;}
.app_table tr td.td_status{text-align:center;}

.displays_table{
    border-top:1px solid #ccc;
    margin-top:2px;
    margin-bottom:10px;
    width:100%;
    border-bottom:1px solid #eee;
}

.displays_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.displays_table tr:hover{background-color: #eee;}
.displays_table tr td{line-height:22px;}
.displays_table tr th.th_number{text-align:left;text-indent:10px;}
.displays_table tr td.td_number{text-align:left;text-indent:10px;}
.displays_table tr th.th_item{text-align:left;}
.displays_table tr td.td_item{text-align:left;}
.displays_table tr th.th_threshold{text-align:center;}
.displays_table tr td.td_threshold{text-align:center;}
.displays_table tr th.th_current{text-align:center;}
.displays_table tr td.td_current{text-align:center;}
.displays_table tr th.th_status{text-align:center;}
.displays_table tr td.td_status{text-align:center;}

.incidents_table{
    border-top:1px solid #ccc;
    margin-top:2px;
    width:100%;
    border-bottom:1px solid #eee;
}

.incidents_table tr th{
    padding:0;
    margin:0;
    background-color:#e0e0e0;
    color:#000;
    border-bottom:1px solid #ccc;
    text-align:left;
    font-size:12px;
}

.incidents_table tr th.no{text-align:right;}
.incidents_table tr td.no{}
.incidents_table tr th.create{text-align:center;}
.incidents_table tr td.create{}
.incidents_table tr th.msg{text-indent:5px;}
.incidents_table tr td.msg{text-align:left;text-indent:5px;}
.incidents_table tr th.level{text-align:center;}
.incidents_table tr td.level{}

.incidents_table tr td.LOW{color: darkgoldenrod;}
.incidents_table tr.LOW:hover{background-color:#fcf8e3;}
.incidents_table tr td.MEDIUM{color:Orange;}
.incidents_table tr.MEDIUM:hover{background-color: #fce5cd;}
.incidents_table tr td.HIGH{color:#d9534f;}
.incidents_table tr.HIGH:hover{background-color: #f4cccc;}
.diagnostic_modal .ng-table-pager .pagination{margin:5px 0;}


/* slide mdal */
.slide_modal{
    padding:10px;
}

.live_historical_view_modal_wrap{padding:5px;width:750px;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .live_historical_view_modal_title{height:27px;line-height:27px;text-align:left;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color: #e6e6e6;border:1px solid #e6e6e6;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .label_box{float:right;margin-top:5px;border:1px solid #ccc;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .label_box .chart_label{width:215px;padding:5px;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .label_box .chart_label span{float:left;display:block;width:140px;height:12px;line-height:12px;text-align:left;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .label_box .chart_label .line1{float:left;width:60px;height:6px;margin-right:5px;border-bottom:2px dashed #d9534f;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .label_box .chart_label .line2{float:left;width:60px;height:6px;margin-right:5px;border-bottom:2px dashed #f0ad4e;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .close_btn{float:right;display:block;height:26px;line-height:26px;width:26px;font-size:12px;color:#666;}
.live_historical_view_modal_wrap .live_historical_view_modal_wrap_box .close_btn i{display:block;height:26px;line-height:26px;}

/* layout */
@media (max-width: 1199px) { /* desktops */
    .live_wrap{margin-top:0}
    .tree_nav{position:static;float:left;}
    .path_area{position:static;}
    .live_content .mp_content{margin-top:0px;}
    .live_content .dp_content{margin-top:0px;}
    .live_content .info_content{margin-top:0px;}
}
