/* login page */
.login_box{
    margin-bottom:100px;
}
/*
.slide_box{
    margin:0 auto;
    width:370px;
}
*/
.login_text {
    margin-top: 30px;
    font-size: 30px;
    color: #999;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.loginForm {
    overflow: hidden;
    width: 290px;
    height: 80px;
    margin: 59px auto 0;
}

.loginForm .inputBox {
    float: left;
    width: 192px;
}

.loginForm .inputBox .inp_box:first-child {
    margin-bottom: 14px;
}

.loginForm .inputBox .inp_box.inp_box {
    padding: 0 10px;
    color: #d00959;
    font-size: 13px;
    border: 1px solid #999;
    background: url("../images/login/login_bar.gif") 0 0 no-repeat;
    width: 170px;
    height: 33px;
    line-height: 33px;
}

.loginForm .sign_box {
    float: right;
}

.inp_submit_button {
    height: 80px;
    width: 88px;
    //background: url("../images/login/login_form.jpg");
}

.otp_area{width:100%;}
.otp_area .otp_wrap{width:600px;margin:0 auto;}
.otp_area .otp_sub_menu_area{}
.otp_area .otp_sub_menu_area .btn-group{float:right;}
.otp_area .otp_sub_menu_area .btn-group .btn_reset{width:100px;}
.otp_area .otp_sub_menu_area .btn-group .btn_logout{width:100px;}
.otp_area .otp_title{margin-top:5px;line-height:18px;text-indent:5px;font-size:13px;font-weight:bold;color:#fff;background-color:#c40452}
.otp_area .otp_guide{width:580px;margin-left:10px;margin-top:5px;margin-bottom:5px;}
.otp_area .qrcode_area .qrcode_title{width:300px;margin:0 auto;text-indent:3px;background-color:#666;color:#fff;}
.otp_area .qrcode_area .qrcode_wrap{width:300px;height:300px;margin:0 auto;}
.otp_area .qrcode_area .qrcode_guide{text-align:center;}
.otp_area .set_code_area{margin-top:10px;}
.otp_area .set_code_area .code_input_area{}
.otp_area .set_code_area .code_input_area p{text-align:center;}
.otp_area .set_code_area .code_input_area .code_input_guide_line{font-weight:bold;color:#428bca;}
.otp_area .set_code_area .code_input_area .code_input_line{}
.otp_area .set_code_area .code_submit_area{padding-top:5px;}
.otp_area .set_code_area .code_submit_area .btn{display:block;width:142px;height:25px;margin:0 auto;line-height:12px;font-size:12px;}
