#mobile_header .top_menu{
  float:left;
  display:block;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:15px;
}

#mobile_header .trans_language_btn{
  float:right;
  display:inline-block;
  padding-top:5px;
  padding-right:5px;
}
.dropdown-menu.mobile{
  left: -75px;
  min-width: 100px;
}

#mobile_header .top_menu .btn_trans{
   width:10px;
   padding-left:5px;
   padding-right:5px;
 }
#mobile_header .gnb{width:100%;height:30px;margin: 53px 0;border-radius: 4px;background: #c40452;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
#mobile_header .gnb li{float:left;margin:5px 5px;list-style: none;}
#mobile_header .gnb li a{display: block;padding:0 10px;margin: 0 5px 0;font-weight: bold;color: #fff;text-decoration: none;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
#mobile_header .gnb li a:hover{color: #77787b;background-color: #eee;}
#mobile_header .gnb li.current a{color: #c40452;background-color: #eee;}
#mobile_header .gnb li.current a:hover{color: #000;background-color: #eee;}

#mobile_header .gnb2{width:100%;height:30px;margin:53px 0;display:none;padding-left:15px;}
#mobile_header .gnb2.gnb_acitve{display:block;}
#mobile_header .gnb2{padding-top:10px;}
#mobile_header .gnb2 li {float:left;margin-bottom:0px;list-style: none;}
#mobile_header .gnb2 li a{display:block;width:90px;padding:0;margin: 0 5px 0;color: #000;font-weight:bold;font-size:13px;border-bottom:2px solid #c40452;}
#mobile_header .gnb2 li a:hover{color:#c40452;}
#mobile_header .gnb2 li.current a{color:#c40452;}
#mobile_header .gnb2 .refresh_time{color:#c40452;margin:0px 20px;}

#mobile_header .refresh_time{
    float:right;
    margin:25px 10px 0 0;
    color:red;
    cursor:pointer;
}


.mobile_top10{
  float:left;
  width:100%;
  padding:5px 10px;
}

.mobile_top10 .top10_header{
  width:100%;
  line-height:35px;
  font-weight:bold;
}

.mobile_top10 .top10_title{
  width:100%;
  color:#000;
  text-align: left;
  font-weight:bold;
  font-size:11px;
}

.mobile_top10 .top_table{
  margin:3px 0;
  border-top:1px solid #ccc;
  width:100%;
}

.mobile_top10 .top_table tr th{
  padding:0;
  margin:0;
  background-color:#e0e0e0;
  color:#000;
  border-bottom:1px solid #ccc;
  text-align:left;
  font-size:12px;
}
.mobile_top10 .top_table tr{border-bottom:1px solid #eee;}
.mobile_top10 .top_table tr th.th_name{text-indent:5px;}
.mobile_top10 .top_table tr td.td_name{display:block;text-indent:5px;width:130px;}
.mobile_top10 .top_table tr td.td_name_space{height:18px;}
.mobile_top10 .top_table tr th.th_usage{width:100px;text-align:center;}
.mobile_top10 .top_table tr td.td_usage{width:100px;text-align:center;}
.mobile_top10 .top_table tr td.td_usage_space{height:18px;}
.mobile_top10 .top_table tr th.th_temp{width:100px;text-align:center;}
.mobile_top10 .top_table tr td.td_temp{width:100px;text-align:center;}
.mobile_top10 .top_table tr td.td_temp_space{height:18px;}
.mobile_top10 .top_table tr th.th_action{width:60px;text-align:center;}
.mobile_top10 .top_table tr td.td_action{width:60px;text-align:center;}
.mobile_top10 .top_table tr td.td_action_space{height:18px;}
.mobile_top10 .top_table tr td.td_action .action{text-decoration:underline;}

.mobile_top10 .ng-table-pager{
  display:none;
}

.mobile_top10 .hdd_top{
  border:1px solid #ccc;
  padding:5px;
  margin-bottom:10px;
  width:100%;
  float:left;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}
.mobile_top10 .d1_top{
  border:1px solid #ccc;
  padding:5px;
  margin-bottom:10px;
  width:100%;
  float:left;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}
.mobile_top10 .cpu_top{
  border:1px solid #ccc;
  padding:5px;
  margin-bottom:10px;
  width:100%;
  float:left;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}
.mobile_top10 .memory_top{
  border:1px solid #ccc;
  padding:5px;
  margin-bottom:10px;
  width:100%;
  float:left;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.mobile_device_search{
  float:left;
  width:100%;
  padding:0 1%;
}

.mobile_device_search .container {
  top:20px;
}

.mobile_device_search .search_box{
  font-size:10px;
  color:#000;
  height:25px;
}

.mobile_device_search .table_limit_line{
  float:left;
  line-height:15px;
  width:50%;
}
.mobile_device_search .table_limit_line .table_output_info{float:left;margin-top:7px;}
.mobile_device_search .table_limit_line .btn_style_change{width:30px;}

.mobile_device_search .table_limit_line .line_select{
  float:left;
  width:36px;
  margin-top:7px;
  margin-left:5px;
}

.mobile_device_search .table_search{
  float:left;
  width:50%;
  height:30px;
}

.mobile_device_search .search_bar{
  float:left;
  width:100%;
}

.mobile_device_search .search_bar .search_select{
  float:left;
  width:30%;
  height:18px;
  margin-right:3px;
  margin-top:7px;
}
.mobile_device_search .search_bar .search_input{
  float:left;
  width:50%;
  height:25px;
  display:block;
}

.mobile_device_search .select2-container .select2-choice{
  display:block;
  height:18px;
  margin-top:2px;
}

.mobile_device_search .search_input.select2-container{
  margin:0;
}
.mobile_device_search .search_input.select2-container .select2-choice{
  margin-top:7px;
}

.mobile_device_search .select2-container .select2-choice span{height:16px;line-height:16px;}
.mobile_device_search .select2-container .select2-choice span.select2-arrow b{background-position:0 -4px;}
.mobile_device_search .select2-container .select2-choice abbr{top:2px;}

.mobile_device_search .detail_search{
  display:block;
  float:left;
  margin-left:7px;
  margin-right:0;
  margin-top:5px;
  font-size:15px;
  color:#333;
}

.mobile_device_search .detail_search_box{
  padding:5px 0;
  text-align: center;
  border-top:1px solid #ccc;
  -webkit-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.mobile_device_search .search_content{
  margin-top:5px;
}

/* table */
.mobile_device_search .device_search_table{
  width:100%;
}

.mobile_device_search .device_search_table tr.brand-info-line-hover:hover{
  background-color:#d9edf7;
}
.mobile_device_search .device_search_table tr.brand-warning-line-hover:hover{
  background-color:#fcf8e3;
}
.mobile_device_search .device_search_table tr.brand-danger-line-hover:hover{
  background-color:#f2dede;
}

.mobile_device_search .device_search_table tr th{
  padding:0;
  margin:0;
  background-color:#e0e0e0;
  color:#000;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align:left;
  font-size:12px;
}

.mobile_device_search .device_search_table tr.border_line{border-bottom:1px solid #eee;}
.mobile_device_search .device_search_table tr td{vertical-align:top;}
.mobile_device_search .device_search_table tr th.no{text-align:right;}
.mobile_device_search .device_search_table tr th.no div{width:25px;}
.mobile_device_search .device_search_table tr td.no{width:25px;text-align:right;}
.mobile_device_search .device_search_table tr th.status{text-align:center;}
.mobile_device_search .device_search_table tr th.status div{width:25px;}
.mobile_device_search .device_search_table tr td.status{width:25px;text-align:center;}
.mobile_device_search .device_search_table tr th.location{text-align:left;}
.mobile_device_search .device_search_table tr th.location div{width:80px;}
.mobile_device_search .device_search_table tr td.location{width:80px;text-align:left;}
.mobile_device_search .device_search_table tr th.shop{text-align:left;}
.mobile_device_search .device_search_table tr th.shop div{width:80px;}
.mobile_device_search .device_search_table tr td.shop{width:80px;text-align:left;}
.mobile_device_search .device_search_table tr th.mp_alias{text-align:left;}
.mobile_device_search .device_search_table tr th.mp_alias div{width:80px;}
.mobile_device_search .device_search_table tr td.mp_alias{width:80px;text-align:left;}
.mobile_device_search .device_search_table tr th.dp_alias{text-align:left;}
.mobile_device_search .device_search_table tr th.dp_alias div{width:80px;}
.mobile_device_search .device_search_table tr td.dp_alias{width:80px;text-align:left;}

.mobile_device_search .device_search_table tr th.act, .device_search_table tr td.act{text-align:center;}
.mobile_device_search .device_search_table tr td.act a{
  display:block;
  text-align:center;
  text-decoration:underline;
  color:#666;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.mobile_device_search .device_search_table tr td.act a.action_brand_primary{color:#428bca;}
.mobile_device_search .device_search_table tr td.act a.action_brand_success{color:#5cb85c;}
.mobile_device_search .device_search_table tr td.act a.action_brand_info{color:#5bc0de;}
.mobile_device_search .device_search_table tr td.act a.action_brand_warning{color:#f0ad4e;}
.mobile_device_search .device_search_table tr td.act a.action_brand_danger{color:#d9534f;}
.mobile_device_search .device_search_table tr td.act a.action_brand_AAA{color:#aaa;}
.mobile_device_search .device_search_table .th_status_icon{color:#aaa;}

.mobile_device_search .device_search_table .overflow_dot{
  width:75px;
}

.mobile_device_search .device_search_table tr td .td_list{width:90px;float:left;}
.mobile_device_search .device_search_table tr td .td_more{float:right;}


.ng-table-pager{
  text-align:center;
}

.table > tbody > tr > th {
  padding: 0px;
}


.table > tbody > tr > td {
  padding: 0px;
}

.table_limit_line ul li{
  float:left;
}
