/* Tree */
.mobile_tree{
  width:100%;
  border:1px solid #ccc;
  margin:0;
  padding-left:10px;
}
 /* Disconnect */
.mobile_live_wrap .disconnected_section {
  position:absolute;
  z-index:1;
  width:97%;
  background-color:#000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha(opacity=50)";
  -khtml-opacity: 50;
  -moz-opacity: 50;
}

.mobile_live_wrap .mp_disconnected_section {
  height:365px;
}

.mobile_live_wrap .dp_disconnected_section {
  height:442px;
}

.mobile_live_wrap .disconnected_section .comment{
  margin-top:100px;
  font-size:3em;
  font-weight:bold;
  color:#fff;
  text-align:center;
}

.mobile_live_wrap .disconnected_section .comment span{
  opacity:1.0;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
  -khtml-opacity: 100;
  -moz-opacity: 100;
}

/* link list */
.link_li{float:left;}
.mobile_live_content {width:100%;}
.mobile_live_content .link_list{width:100%;height:30px;}
.mobile_live_content .link_list li{display:inline-block;line-height:25px;border-bottom:1px solid #ccc;}
.mobile_live_content .link_list li a{
  display:block;
  padding-left:5px;padding-right:5px;
  border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #fff;
  line-height:26px;
  text-align:center;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  color:#666;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.mobile_live_content .link_list li a:hover{
  color:#c40452;
  background-color:#eee;
}

.mobile_live_content .link_list li a.type_mp{width:85px;}
.mobile_live_content .link_list li a.type_dp{width:72px;}
.mobile_live_content .link_list li a.type_dp_sm{width:32px;}
.mobile_live_content .link_list li.active{border-bottom:#fff;}
.mobile_live_content .link_list li a.active{
  display:block;
  padding-left:5px;padding-right:5px;
  border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #fff;
  line-height:26px;
  text-align:center;
  border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  background-color: #fff;
  color:#c40452;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.live_this_path{
  float:left;
  width:100%;
  padding:0 5px;
}
.live_this_path .path{
  line-height:29px;
  width:100%;
  border-top:1px solid #fff;
  color:#77787b;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.live_this_path .path a{
  color:#77787b;
  font-size:11px;
  font-weight:bold;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.live_this_path .path a:hover{
  color:#c40452;
}

.live_main_func{float:left;text-align:right;line-height:29px;padding:0 5px;}
.live_mp_main_func{width:100%;}
.live_dp_main_func{width:100%;}

.live_sub_title{
  width:100%;
  color: #fff;
  background-color: #77787b;
  padding: 2px;
  padding-left: 10px;
  font-size: 14px;
  line-height:14px;
}
.live_sub_well_area{
  margin-top:10px;
  margin-bottom:10px;
}

.live_sub_well_area .well{
  padding:10px;
  margin:0;
}

.mobile_live_wrap{
    width:100%;
}
.mobile_live_content{
  width:100%;
}

.live_mp_content{
  padding:0 5px;
}

.section.tree_bar{
  padding:0  5px;
}
.section .mobile_sub_title{
  width:100%;
  padding: 2px;
  line-height:14px;
  background: #b8b8b8; /* Old browsers */
  background: -moz-linear-gradient(left,  #b8b8b8 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8b8b8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #b8b8b8 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to right,  #b8b8b8 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
  color: #000;
  font-weight:bold;
  font-size: 12px;
}

.live_path_area{
  border-bottom:1px solid #e0e0e0;
  width:100%;
  top:90px;
  z-index:4;
  padding-top:3px;
  background-color:#fff;
}

/* etc */
.live_overflow_dot{ /* display "..." */
  white-space:nowrap;
  display:block;
  float:left;
  width:50%;
  overflow:hidden;
  text-overflow:ellipsis;
}
.live_overflow_dot:hover{
  overflow:visible;
}

.live_sub_content{
  width:100%;
  padding:0;
}

.live_resource_img_area{
  width:35%;
  float:left;
  margin-top:15px;
}
.live_resource_img_area .resource_slide_img{display:block;width:80%;height:auto;margin:5px 0 5px 10px;}
.live_resource_info_area{
  float:left;
  width:65%;
}
.live_resource_info_area .sort_left{float:left;width:100%;}
.live_resource_info_area .sort_right{float:left;width:100%;}

.live_sub_content .running_status_table tr:hover{background-color: #eee;}
.live_sub_content .running_status_table tr th.th_type{text-indent:10px;width:0%;}
.live_sub_content .running_status_table tr td.td_type{text-indent:10px;line-height:20px;}
.live_sub_content .running_status_table tr th.th_name{width:0%;}
.live_sub_content .running_status_table tr td.td_name{}
.live_sub_content .running_status_table tr th.th_status{text-align:center;width:0%;}
.live_sub_content .running_status_table tr td.td_status{text-align:center;}
.live_sub_content .running_status_table tr th.th_action{text-align:center;width:0%;}
.live_sub_content .running_status_table tr td.td_action{text-align:center;}
.live_sub_content .running_status_table tr td.td_action .btn{
  width:60px;
  padding-top:0px;
  padding-bottom:0px;
  font-size:11px;
}

.live_mp_device_img_area{
  width:35%;
  float:left;
  margin-top:15px;
}
.live_mp_device_img_area .slide_img_wrap img{display:block;width:80%;margin:5px 0 5px 10px;border:1px solid #e0e0e0}
.live_mp_device_img_area .btn_area .btn{float:left;margin-bottom:5px;margin-left:20px;}
.live_mp_device_info_area{
  width:100%;
  float:left;
  clear:both;
  padding-left:10px;
}
.live_mp_device_infoup_area{
  width:60%;
  float:left;
  margin-top:15px;
}
.live_mp_device_info_area .line_th{
  float:left;
  width:50%;
}
.live_mp_device_info_area .line_td{
  float:left;
  padding-left:5px;
}

.live_network_info_area{
  margin-left:10px;
}
.live_network_info_area .sort_left{float:left;width:100%;}
.live_network_info_area .sort_right{float:left;width:100%;}
.live_network_info_area .line_th{
  float:left;
  width:50%;
  margin-right:5px;
}
.live_network_info_area .line_td{
  float:left;
}

.mobile_request_wrap{
  padding:10px;
}

.mobile_request_wrap .title{
  padding:0;
  margin:0;
  background-color:#999;
  color:#fff;
  text-align:left;
  text-indent:5px;
  line-height:25px;
  font-weight:bold;
}

.mobile_request_wrap .request_confirm_box{border:1px solid #ccc;}

.mobile_request_wrap .request_confirm_box .request_content{
  padding-top:10px;
  padding-bottom:10px;
}

.mobile_request_wrap .request_confirm_box .request_btn_area{
  padding-bottom:10px;
}

.mobile_request_wrap .request_confirm_box .request_btn_area .btn{
  width:50px;
  padding-top:3px;
  padding-bottom:3px;
}

.live_dp_content{
  padding:0 5px;
}

.live_dp_device_img_area{
  width:50%;
  float:left;
  margin-top:25px;
  padding-left:35px;
}

.live_dp_device_img_area .slide_img_wrap{display:block;width:100%;}
.live_dp_device_img_area .slide_img_wrap img{display:block;width:90%;margin:10px auto 0;}
.live_dp_device_btn_area{float:left;width:100%;height:40px;line-height:40px;margin-left:20%;}

.live_dp_device_img_area2{width:50%;float:left;margin-top:35px;}
.live_dp_device_img_area2 .slide_img_wrap{display:block;width:100%;}
.live_dp_device_img_area2 .slide_img_wrap img{display:block;width:90%;height:0%;padding-right:30px;margin:0 auto 0;border:0;}

.live_dp_device_info_area{
  width:100%;
  float:left;
}

.live_dp_device_info_area .line_th{
  float:left;
  width:50%;
  padding-left:10px;
}

.live_dp_device_info_area .line_td{
  width:50%;
  float:left;
  padding-left:20px;
}

.live_manage_info_area{
  padding-bottom:20px;
}
.live_manage_info_area .sort_left{
  float:left;
  width:100%;
  padding-left:10px;
}
.live_manage_info_area .sort_right{
  float:left;
  width:100%;
  padding-left:10px;
}

.live_manage_info_area .line_th{
  width:50%;
  float:left;
}

.live_manage_info_area .line_td{
  width:50%;
  float:left;
  padding-left:15px;
}

.device_info_area .view_format{
  font-size:10px;
}

.view_NA{font-style:italic;color:#ccc;}

.detail_tab .dp_sort_left{
  float:left;
  width:100%;
  padding-left:10px;
}

.detail_tab .dp_sort_right{
  float:left;
  width:100%;
  padding-left:10px;
}

.detail_tab .line_th{
  width:50%;
  float:left;
}

.detail_tab .line_td{
  width:50%;
  float:left;
}
.detail_tab .view_format{
  display:block;
  font-size:10px;
}

.detail_tab .view_NA{
  font-style:italic;
  color:#ccc;
}

.detail_tab .memo{
  font-size:10px;
  color:#888;
  font-style:italic;
}

/* remote controll area layout */ /* remote 모양 나중에 css 컨트롤 하려면 레이아웃 구조 css 지우지 말것 */
.mobile_remote_content{float:left;border:1px solid #eee;}
.mobile_remote_content .input_area{width:100%;float:left;padding-left:10px;}
.mobile_remote_content .input_area p{text-align:center;}
.mobile_remote_content .input_area .on_off_area{float:left;width:25%;padding:5px;}
.mobile_remote_content .input_area .on_off_area .monitor_area{}
.mobile_remote_content .input_area .on_off_area .monitor_area p{text-align:center;}
.mobile_remote_content .input_area .number_area{float:right;width:50%;padding:5px;}

.mobile_remote_content .mode_area{float:left;width:25%;padding:5px;}

.mobile_remote_content .control_area{width:100%;float:left;padding:5px;}
.mobile_remote_content .control_area .regulation_area{float:left;width:50%;padding-left:10px;}
.mobile_remote_content .control_area .regulation_area .brightness_area{float:left;margin-right:5px;}
.mobile_remote_content .control_area .regulation_area .mute_area{float:left;margin-right:5px;}
.mobile_remote_content .control_area .regulation_area .volume_area{float:left;}
.mobile_remote_content .control_area .move_area{float:right;width:50%;padding-left:10px;}
.mobile_remote_content .control_area .move_area .move_left_area{float:left;margin-right:5px;}
.mobile_remote_content .control_area .move_area .move_center_area{float:left;width:50px;margin-right:5px;text-align:center;}
.mobile_remote_content .control_area .move_area .move_right_area{float:left;}

/* remote controll - button position - width css */
.mobile_remote_content .input_area .on_off_area .btn_power{width:100%;margin-bottom:5px;}
.mobile_remote_content .input_area .on_off_area .monitor_area .btn_monitor_on{width:100%;margin-bottom:5px;}
.mobile_remote_content .input_area .on_off_area .monitor_area .btn_monitor_off{width:100%;}
.mobile_remote_content .input_area .on_off_area .btn_input{width:100%;margin-top:5px;}

.mobile_remote_content .input_area .number_area .btn{width:45px;}
.mobile_remote_content .input_area .number_area p{text-align:center;margin-bottom:5px;}

.mobile_remote_content .mode_area .btn{float:left;width:100%;margin-bottom:5px;}
.mobile_remote_content .mode_area p{text-align:center;margin-bottom:5px;}

.mobile_remote_content .control_area .regulation_area .btn{width:45px;}
.mobile_remote_content .control_area .regulation_area .btn_plus{margin-bottom:25px;}
.mobile_remote_content .control_area .regulation_area .btn_mute{margin-top:25px;}
.mobile_remote_content .control_area .regulation_area .text{font-size:9px;text-align:center;}

.mobile_remote_content .control_area .move_area .btn{width:45px;}
.mobile_remote_content .control_area .move_area .btn_up{margin-bottom:5px;}
.mobile_remote_content .control_area .move_area .btn_ok{margin-bottom:5px;}
.mobile_remote_content .control_area .move_area .btn_left{margin-top:27px;}
.mobile_remote_content .control_area .move_area .btn_right{margin-top:27px;}

/* support firmware */
.detail_tab .firmware_sort_left{
  float:left;
  width:95%;
  padding-left:10px;
}
.detail_tab .firmware_sort_right{
  float:left;
  width:95%;
  text-align: right;
}
.support_content{}
.support_content .file_uprade_set_area{width:100%;}
.support_content .file_uprade_set_area .support_label{float:left;}
.support_content .file_uprade_set_area .real_btn_find_box{float:right;position:relative;width:50px;height:23px;overflow:hidden;}
.support_content .file_uprade_set_area .real_btn_find_box .btn_find{width:50px;}
.support_content .file_uprade_set_area .real_btn_find_box .real_btn_find{
  font-size:30px;
  position:absolute;
  right:0px;
  top:0;
  opacity:0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
}
.support_content .file_uprade_set_area .path_box{width:100%;}
.support_content .progress{float:left;width:380px;}
.support_content .alert_area{line-height:20px;margin-bottom:0;}
.support_content .upload_area{float:right;}

/* tile */
.tile_content{}
.tile_content .mobile_tile_set_area{float:left;width:100%;padding:5px;margin-right:5px;}
.tile_content .mobile_tile_set_area .th_label{float:left;font-weight:normal;width:40%;}
.tile_content .mobile_tile_set_area .td_area{float:left;width:60%;}
.tile_content .mobile_tile_set_area .td_area select{width:100%;}
.tile_content .mobile_tile_set_area .tile_mode_area{width:70%;border:1px solid #eee;margin-top:5px;margin-bottom:5px;padding:5px;}
.tile_content .mobile_tile_set_area .tile_mode_area .th_label{width:58%;}
.tile_content .mobile_tile_set_area .tile_mode_area .td_area{width:40%;}

.tile_content .mobile_size_area{float:left;width:70%;padding-left:5px;}
.tile_content .mobile_size_area .btn_autoset{float:right;width:45px;}
.tile_content .mobile_size_area .size_set_area{border:1px solid #eee;padding:5px;margin-top:2px;margin-bottom:5px;}
.tile_content .mobile_size_area .size_set_area .th_label{float:left;width:22px;text-align:center;}
.tile_content .mobile_size_area .size_set_area .td_area{float:left;width:70px;}
.tile_content .mobile_size_area .size_set_area .td_area input{width:100%;}

/* mobile schedule */
/* schedule */
.live_sub_content .schedule_content{}
.live_sub_content .schedule_content .schedule_set_area{float:left;width:100%;margin: 0 5px 10px 5px;border-right:0;border-bottom:1px dashed #ccc;padding-bottom:10px;}
.live_sub_content .schedule_content .power_on_list_area{float:left;width:100%;margin: 0 5px;border-right:0;padding-bottom:10px;}
.live_sub_content .schedule_content .power_off_list_area{float:left;width:100%;margin: 0 5px;}
.live_sub_content .schedule_content .schedule_set_area .th_label{float:left;width:50%;font-weight:normal;}
.live_sub_content .schedule_content .schedule_set_area .td_area{float:right;width:50%;}

.live_sub_content .schedule_content .schedule_set_area .td_area input.time{width:90%;height:19px;margin-bottom:2px;}
.live_sub_content .schedule_content .schedule_set_area .td_area select{width:90%;}
.live_sub_content .schedule_content .schedule_set_area .td_area label{font-weight:normal;vertical-align:top;}
.live_sub_content .schedule_content .schedule_set_area .btn_area{width:94%;}
.live_sub_content .schedule_content .schedule_set_area .btn_area .btn{float:right;width:45px;}

.live_sub_content .schedule_content .power_on_list_area .power_on_table_area{}
.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table{width:100%;border-top:1px solid #ccc;}
.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th{
  padding:0;
  margin:0;
  background-color:#fff;
  color:#000;
  border-bottom:1px solid #ccc;
  text-align:left;
  font-size:12px;
}
.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table tr td{
  font-size:11px;
  line-height:14px;
  border-bottom:1px solid #eee;
}

.live_sub_content .schedule_content .power_off_list_area .power_off_table_area{}
.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table{width:100%;border-top:1px solid #ccc;}
.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th{
  padding:0;
  margin:0;
  background-color:#fff;
  color:#000;
  border-bottom:1px solid #ccc;
  text-align:left;
  font-size:12px;
}
.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table tr td{
  font-size:11px;
  line-height:14px;
  border-bottom:1px solid #eee;
}

.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_del{text-align:center;}
.live_sub_content .schedule_content .power_on_list_area .td_del{text-align:center;}
.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_no{text-align:right;width:20px;}
.live_sub_content .schedule_content .power_on_list_area .td_no{text-align:right;width:20px;}
.live_sub_content .schedule_content .power_on_list_area .power_on_table_area .power_on_table tr th.th_repeat{text-indent:12px;}
.live_sub_content .schedule_content .power_on_list_area .td_repeat{text-indent:12px;}

.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_del{text-align:center;}
.live_sub_content .schedule_content .power_off_list_area .td_del{text-align:center;}
.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_no{text-align:right;width:20px;}
.live_sub_content .schedule_content .power_off_list_area .td_no{text-align:right;width:20px;}
.live_sub_content .schedule_content .power_off_list_area .power_off_table_area .power_off_table tr th.th_repeat{text-indent:12px;}
.live_sub_content .schedule_content .power_off_list_area .td_repeat{text-indent:12px;}
