/* reports */
.reports_wrap{
    width:1150px;
}
.reports_menu_area{
    position:fixed;
    top:90px;
    z-index:5;
    width:1150px;
    height:27px;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.reports_menu{}
.reports_menu li{float:left;}
.reports_menu li a{
    display:block;padding-left:5px;padding-right:5px;margin-top:5px;margin-left:10px;
    color:#666;
    border:1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.reports_menu li a:hover{color:#d9534f;border:1px solid #f4cccc;background-color: #fff;}
.reports_menu li a.active{color:#c40452;border:1px solid #c40452;background-color: #fff;}

/* reports - history */
.report_history_content .tree_area .tree_nav{top:118px;background-color:#fff;}

.report_history_content .historical_content{float:right;width:940px;margin-top:3px;}
.report_history_content .historical_content .path_area{margin-top:23px;padding-top:8px;}
.report_history_content .historical_content .chart_area{margin-top:56px;}

/* reports - top10 */
.report_top10_content{margin-top:20px;}
.report_top10_content .top10{width:100%;}
.report_top10_content .top10 .top10_header{float:left;line-height:35px;font-weight:bold;}
.report_top10_content .top10 .top10_setting{float:right;width:150px;line-height:35px;}
.report_top10_content .top10 .reports_top10{
    float:left;
    width:32%;
    padding:5px;
    margin-bottom:10px;
    margin-right:10px;
    border:1px solid #ccc;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.report_top10_content .top10 .reports_top10 table .th_name{width:220px;}

/* reports - incident */
.report_incident_content{margin-top:25px;}
.report_incident_content .report_incident_side_wrap{float:left;width:240px;}
.report_incident_content .report_incident_side_wrap .incident_side_section{clear:both;content:"";display:block;}
.report_incident_content .report_incident_side_wrap .incident_side_section.btn_section{padding:15px 0;text-align:center;border-top:1px solid #f1f1f1;}
.report_incident_content .report_incident_side_wrap .incident_side_section.btn_section .search_btn{width:140px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_title{height:27px;line-height:27px;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color:#e6e6e6;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content{padding:15px 5px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .base_wrap{width:200px;margin:0 auto 10px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .base_wrap input{display:block;float:left;margin-top:3px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .base_wrap label{display:block;float:right;font-weight:normal;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .base_wrap .account{float:left;width:65px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .base_wrap .dg{float:right;width:92px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .location_wrap{margin-bottom:10px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .location_wrap label{display:block;float:left;width:80px;line-height:20px;height:20px;font-weight:normal;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .location_wrap select{display:block;float:right;width:140px;line-height:20px;height:20px;}
.report_incident_content .report_incident_side_wrap .incident_side_section .incident_side_section_content .location_wrap .form-control{padding:0;}

.report_incident_content .report_incident_table_wrap{float:right;width:905px;}
.report_incident_content .report_incident_table_wrap .incident_table_title{height:27px;line-height:27px;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color:#e6e6e6;}

.report_incident_content .incident_table{width:100%;margin-top:2px;border-bottom:1px solid #ccc;}
.report_incident_content .incident_table tr.border_line{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-bottom:1px solid #eee;
}

.report_incident_content .incident_table tr.brand-success-line-hover:hover{background-color:#dff0d8;}
.report_incident_content .incident_table tr.brand-info-line-hover:hover{background-color:#d9edf7;}
.report_incident_content .incident_table tr.brand-warning-line-hover:hover{background-color:#fcf8e3;}
.report_incident_content .incident_table tr.brand-danger-line-hover:hover{background-color:#f2dede;}
.report_incident_content .incident_table tr th{
    padding:0;
    margin:0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    font-size:13px;
    color:#000;
    text-indent:5px;
    text-align:left;
    background-color:#e0e0e0;
}

.report_incident_content .incident_table tr td.LOW{color: darkgoldenrod;}
.report_incident_content .incident_table tr.LOW:hover{background-color:#fcf8e3;}
.report_incident_content .incident_table tr td.MEDIUM{color:Orange;}
.report_incident_content .incident_table tr.MEDIUM:hover{background-color: #fce5cd;}
.report_incident_content .incident_table tr td.HIGH{color:#d9534f;}
.report_incident_content .incident_table tr.HIGH:hover{background-color: #f4cccc;}

.report_incident_content .incident_table tr th.no{text-align: right;}
.report_incident_content .incident_table tr th.no div{width:40px;}
.report_incident_content .incident_table tr td.no{text-align: right;}
.report_incident_content .incident_table tr th.create{text-align: center;}
.report_incident_content .incident_table tr th.create div{width:160px;}
.report_incident_content .incident_table tr td.create{text-align: center;}
.report_incident_content .incident_table tr th.rcv{text-align: right;}
.report_incident_content .incident_table tr th.rcv div{width:280px;}
.report_incident_content .incident_table tr td.rcv{text-align: right;}
.report_incident_content .incident_table tr th.category{text-align:center;}
.report_incident_content .incident_table tr th.category div{width:100px;}
.report_incident_content .incident_table tr td.category{text-align: center;}
.report_incident_content .incident_table tr th.msg{text-indent:5px;}
.report_incident_content .incident_table tr th.msg div{width:450px;}
.report_incident_content .incident_table tr td.msg{text-indent:5px;}
.report_incident_content .incident_table tr td.msg div{width:450px;}
.report_incident_content .incident_table tr th.level{text-align: center;}
.report_incident_content .incident_table tr th.level div{width:80px;}
.report_incident_content .incident_table tr td.level{text-align: center;}
.report_incident_content .incident_table tr th.act{text-align: center;width:90px;}
.report_incident_content .incident_table tr td.act{text-align: center;}

/* reports - statistics */
.report_stats_content{margin-top:25px;border-top:1px solid #eee;}
.report_stats_content .stats_side{float:left;width:240px;}
.report_stats_content .stats_side .stats_side_section{clear:both;content:"";display:block;}
.report_stats_content .stats_side .stats_side_section.btn_section{padding:15px 0;text-align:center;border-top:1px solid #f1f1f1;}
.report_stats_content .stats_side .stats_side_section.btn_section .search_btn{width:140px;}
.report_stats_content .stats_side .stats_side_section .stats_side_title{height:27px;line-height:27px;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color:#e6e6e6;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content{padding:15px 5px;}

.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_wrap input{display:block;float:left;margin-top:3px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_wrap label{display:block;float:right;font-weight:normal;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_wrap .daily{float:left;width:45px;margin-right:40px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_wrap .weekly{float:left;width:55px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_wrap .monthly{float:right;width:60px;}

.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_detail_wrap{margin-top:10px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_detail_wrap label{display:block;float:left;width:80px;line-height:20px;height:20px;font-weight:normal;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_detail_wrap input{display:block;float:right;width:150px;padding:0;line-height:20px;height:20px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .period_detail_wrap .start_date_wrap{margin-bottom:5px;}

.report_stats_content .stats_side .stats_side_section .stats_side_section_content .base_wrap{width:200px;margin:0 auto 10px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .base_wrap input{display:block;float:left;margin-top:3px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .base_wrap label{display:block;float:right;font-weight:normal;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .base_wrap .account{float:left;width:65px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .base_wrap .dg{float:right;width:92px;}

.report_stats_content .stats_side .stats_side_section .stats_side_section_content .location_wrap{margin-bottom:10px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .location_wrap label{display:block;float:left;width:80px;line-height:20px;height:20px;font-weight:normal;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .location_wrap select{display:block;float:right;width:150px;line-height:20px;height:20px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .location_wrap .form-control{padding:0;}

.report_stats_content .stats_side .stats_side_section .stats_side_section_content .device_wrap{width:200px;margin:0 auto;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .device_wrap input{display:block;float:left;margin-top:3px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .device_wrap label{display:block;float:right;font-weight:normal;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .device_wrap .device_mp{float:left;width:90px;}
.report_stats_content .stats_side .stats_side_section .stats_side_section_content .device_wrap .device_dp{float:right;width:60px;}

.report_stats_content .stats_content{float:right;width:910px;}
.report_stats_content .stats_content .stats_summary{float:right;width:905px;}
.report_stats_content .stats_content .stats_summary .stats_summary_init_wrap{margin-top:5px;padding:2px 0;color:#aaa;border-top:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
.report_stats_content .stats_content .stats_summary .stats_summary_overview_wrap{margin-top:5px;padding:2px 0;color:#aaa;text-align:left;}
.report_stats_content .stats_content .stats_summary .stats_summary_overview_wrap .overview_label{margin-left:9px;}
.report_stats_content .stats_content .stats_summary .stats_summary_overview_wrap .overview_manager{margin-left:5px;}
.report_stats_content .stats_content .stats_summary .stats_summary_overview_wrap .overview_marker{margin-left:5px;}
.report_stats_content .stats_content .stats_summary .stats_summary_empty{margin-top:5px;padding:124px 0;color:#aaa;border-top:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
.report_stats_content .stats_content .stats_summary .stats_summary_mp_wrap.empty{margin-bottom:5px;}
.report_stats_content .stats_content .stats_summary .stats_summary_title{height:27px;line-height:27px;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color:#e6e6e6;}
.report_stats_content .stats_content .stats_summary .stats_summary_mp_wrap{float:left;width:450px;}
.report_stats_content .stats_content .stats_summary .stats_summary_dp_wrap{float:right;width:450px;}
.report_stats_content .stats_content .stats_summary .stats_summary_table_wrap .stats_summary_table{width:100%;border-bottom:1px solid #e6e6e6;}
.report_stats_content .stats_content .stats_summary .stats_summary_table_wrap .stats_summary_table td{border-top:1px solid #e6e6e6;}
.report_stats_content .stats_content .stats_summary .stats_summary_table_wrap .stats_summary_table td .malfunc_link{text-decoration:underline;}
.report_stats_content .stats_content .stats_summary .section_chart{width:450px;}
.report_stats_content .stats_content .stats_summary .section_chart .section_operation_chart{float:left;width:240px;}
.report_stats_content .stats_content .stats_summary .section_chart .section_downtime_chart{float:right;width:210px;}

/* report statistics modal */
.stats_modal_wrap{padding:5px;width:750px;}
.stats_modal_wrap .stats_modal_wrap_box{}
.stats_modal_wrap .stats_modal_wrap_box .stats_modal_title{height:27px;line-height:27px;text-align:left;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color: #e6e6e6;border:1px solid #e6e6e6;}
.stats_modal_wrap .stats_modal_wrap_box .stats_modal_content .stats_modal_table{width:100%;border:1px solid #e6e6e6;}
.stats_modal_table tr th{
    padding:2px;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #eee;
    text-indent:5px;
    text-align:left;
    font-size:12px;
}
.stats_modal_table tr td{
    padding:2px;
    margin:0;
    text-indent:5px;
    text-align:left;
}

.stats_modal_table thead tr th.no div{text-align:right;}
.stats_modal_table thead tr th.sn div{text-align:left;}
.stats_modal_table thead tr th.live div{text-align:center;}
.stats_modal_table thead tr th.incident div{text-align:center;}

.stats_modal_table tbody tr td.no div{text-align:right;}
.stats_modal_table tbody tr td.sn div{text-align:left;}
.stats_modal_table tbody tr td.live div{text-align:center;}
.stats_modal_table tbody tr td.incident div{text-align:center;}

.stats_modal_wrap .stats_modal_wrap_box .ng-table-pager .ng-table-counts{display:none;}
.stats_modal_wrap .stats_modal_wrap_box .ng-table-pager .pagination{margin:2px 0;}
.stats_modal_wrap .stats_modal_wrap_box .stats_modal_footer{padding-top:5px;border-top:1px solid #e6e6e6;text-align:right;}
.stats_modal_wrap .stats_modal_wrap_box .stats_modal_footer .close_btn{width:65px;}
.stats_modal_wrap .stats_modal_wrap_box .export_btn{float:right;text-indent:0;margin: 2px 2px 0 0;background-color:forestgreen;border-color:forestgreen;}

.report_stats_content .stats_content .stats_detail{float:right;width:905px;margin:5px 0;}
.report_stats_content .stats_content .stats_detail .stats_detail_title{height:27px;line-height:27px;text-indent:9px;font-size:11px;font-weight:bold;color:#77787b;background-color:#e6e6e6;}
.report_stats_content .stats_content .stats_detail .stats_detail_title .export_btn{float:right;text-indent:0;margin: 2px 2px 0 0;background-color:forestgreen;border-color:forestgreen;}

.stats_detail_table{width:100%;border-bottom:1px solid #eee;}
.stats_detail_table tbody tr:hover{background-color:#a7eeff;cursor:pointer;}
.stats_detail_table tbody tr.active{border-left:3px solid #5bc0de;}
.stats_detail_table tr th{
    padding:2px;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #eee;
    text-indent:5px;
    text-align:left;
    font-size:12px;
}
.stats_detail_table tr td{
    padding:2px;
    margin:0;
    text-indent:5px;
    text-align:center;
}
.stats_detail_table tr td.empty{
    text-align:center;
}

.stats_detail_table tbody tr td div span{display:block;}

.stats_detail_table thead tr th.day div{text-align:left;}
.stats_detail_table thead tr th.type div{text-align:left;}
.stats_detail_table thead tr th.total div{text-align:right;}
.stats_detail_table thead tr th.operation div{text-align:right;}
.stats_detail_table thead tr th.uptime div{text-align:right;}
.stats_detail_table thead tr th.device div{text-align:right;}
.stats_detail_table thead tr th.downtime div{text-align:right;}
.stats_detail_table thead tr th.manager div{text-align:center;}
.stats_detail_table thead tr th.account div{text-align:center;}
.stats_detail_table thead tr th.location div{text-align:center;}
.stats_detail_table thead tr th.shop div{text-align:center;}

.stats_detail_table tbody tr td.day div{text-align:left;}
.stats_detail_table tbody tr td.type div{text-align:left;}
.stats_detail_table tbody tr td.total div{text-align:right;}
.stats_detail_table tbody tr td.operation div{text-align:right;}
.stats_detail_table tbody tr td.uptime div{text-align:right;}
.stats_detail_table tbody tr td.device div{text-align:right;}
.stats_detail_table tbody tr td.device div .malfunc_link{float:right;clear:both;display:block;text-decoration:underline;}
.stats_detail_table tbody tr td.downtime div{text-align:right;}
.stats_detail_table tbody tr td.manager div{text-align:center;}
.stats_detail_table tbody tr td.account div{text-align:center;}
.stats_detail_table tbody tr td.location div{text-align:center;}
.stats_detail_table tbody tr td.shop div{text-align:center;}

/* layout */
@media (max-width: 1199px) { /* desktops */
    .reports_menu_area{position:static;}
    .report_history_content .historical_content .chart_area{margin-top:0px;}
    .report_history_content .historical_content .path_area{margin-top:0;padding-top:0;}
    .report_history_content .historical_content .total_info_content{margin-top:0;}
    .report_top10_content{margin-top:0px;}
    .report_incident_content{margin-top:0px;}
    .report_stats_content{margin-top:0px;}
    /*
    .live_wrap{margin-top:0}
    .tree_nav{position:static;float:left;}
    .this_path{position:static;}
    .live_content .mp_content{margin-top:0px;}
    .live_content .dp_content{margin-top:0px;}
    .live_content .info_content{margin-top:0px;}
    */
}

.mobile_reports_wrap{
  width:100%;
}
.mobile_reports_menu_area{
  position:static;
  top:90px;
  z-index:5;
  width:100%;
  height:27px;
  padding-left:10px;
  background-color:#fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* mobile reports - top10 */
.report_top10_content{}
.report_top10_content .mobile_top10{width:100%;padding:0 5% 5% 5%;}
.report_top10_content .mobile_top10 .top10_header{float:left;width:50%;line-height:35px;font-weight:bold;}
.report_top10_content .mobile_top10 .mobile_top10_setting{float:right;width:130px;line-height:35px;}
.report_top10_content .mobile_top10 .mobile_reports_top10{
  float:left;
  width:100%;
  padding:5px;
  margin-bottom:10px;
  border:1px solid #ccc;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.71);
}

.report_top10_content .top10 .reports_top10 table .th_name{width:220px;}

/* mobile reports - incident */
.mobile_report_incident_content{margin-top:10px;padding:0 5%;}
.mobile_report_incident_content .incident_table{width:100%;margin-top:5px;border-bottom:1px solid #ccc;}
.mobile_report_incident_content .incident_table tr.border_line{
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-bottom:1px solid #eee;
}

.mobile_report_incident_content .incident_table tr.brand-success-line-hover:hover{background-color:#dff0d8;}
.mobile_report_incident_content .incident_table tr.brand-info-line-hover:hover{background-color:#d9edf7;}
.mobile_report_incident_content .incident_table tr.brand-warning-line-hover:hover{background-color:#fcf8e3;}
.mobile_report_incident_content .incident_table tr.brand-danger-line-hover:hover{background-color:#f2dede;}
.mobile_report_incident_content .incident_table tr th{
  padding:0;
  margin:0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  font-size:13px;
  color:#000;
  text-indent:5px;
  text-align:left;
  background-color:#e0e0e0;
}
.mobile_report_incident_content .incident_table tr{}
.mobile_report_incident_content .incident_table tr td.LOW{color: darkgoldenrod;}
.mobile_report_incident_content .incident_table tr.LOW:hover{background-color:#fcf8e3;}
.mobile_report_incident_content .incident_table tr td.MEDIUM{color:Orange;}
.mobile_report_incident_content .incident_table tr.MEDIUM:hover{background-color: #fce5cd;}
.mobile_report_incident_content .incident_table tr td.HIGH{color:#d9534f;}
.mobile_report_incident_content .incident_table tr.HIGH:hover{background-color: #f4cccc;}

.mobile_report_incident_content .incident_table tr th.no{text-align: right;width:10px;}
.mobile_report_incident_content .incident_table tr td.no{text-align: right;}
.mobile_report_incident_content .incident_table tr th.create{text-align: center;width:10px;}
.mobile_report_incident_content .incident_table tr td.create{text-align: center;}
.mobile_report_incident_content .incident_table tr th.rcv{text-align: right;width:10px;}
.mobile_report_incident_content .incident_table tr td.rcv{text-align: right;}
.mobile_report_incident_content .incident_table tr th.msg{text-indent:5px;width:20%;}
.mobile_report_incident_content .incident_table tr td.msg{text-indent:5px;width:50px;}
.mobile_report_incident_content .incident_table tr th.level{text-align: center;width:10px;}
.mobile_report_incident_content .incident_table tr td.level{text-align: center;}
.mobile_report_incident_content .incident_table tr th.act{text-align: center;width:10px;}
.mobile_report_incident_content .incident_table tr td.act{text-align: center;}

.incident_overflow_dot{ /* display "..." */
  white-space:nowrap;
  display:block;
  width:130px;
  overflow:hidden;
  text-overflow:ellipsis;
}
.incident_overflow_dot:hover{
  overflow:visible;
}
